<div class="nav" id="secondary">
	<nav>
		<span class="visually-hidden">Secondary Navigation</span>
		<div class="secondary-navigation">
			</script> <span class="secondary-title">Customer Service</span>
            <% for(var key in links){ var link = links[key]; %>
                <ul>
                    <li>
                        <a href="<%= link.url %>" title="<%= link.title %>"><%= link.abbr %></a>
                    </li>
                </ul>
            <% } %>
		</div>
	</nav>
</div>