
<div class="c_group">
<div class="belk-content__primary">
<p>Belk, Inc., a private department store company based in Charlotte, N.C., is the home of Modern. Southern. Style. with 293 Belk stores located in 16 Southern states and a growing digital presence. Belk is a portfolio company of Sycamore Partners, a private equity firm based in New York. Belk and www.belk.com offer a wide assortment of national brands and private label fashion apparel, shoes and accessories for the entire family along with top name cosmetics, a wedding registry and a large selection of quality merchandise for the home.</p>
<p>Belk offers many ways to connect via digital and social media, including <a target="_blank" href="https://www.facebook.com/Belk">Facebook</a>, <a target="_blank" href="https://www.pinterest.com/mybelk/">Pinterest</a>, <a target="_blank" href="https://twitter.com/belk">Twitter</a>, <a target="_blank" href="https://www.instagram.com/belk/">Instagram</a>, <a target="_blank" href="https://www.youtube.com/user/TheBelkstores">YouTube</a> and <a target="_blank" href="https://plus.google.com/+mybelk/posts">Google Plus</a>, and provides exclusive offers, fashion updates, sales notifications and coupons via email or mobile phone text messages. Customers can also download the latest Belk mobile apps for the iPad, iPhone or Android.</p>  

<h2 class="title">Our History</h2>
<p>Since 1888, the Southern woman has come to rely on Belk first, for her, for her family, for life. What began as a small bargain store in Monroe, NC has grown into the nation's largest privately held department store. Founder William Henry Belk's dedication to friendly service, fair prices and community involvement hasn't changed. In fact, it's stronger than ever.</p>

<h3 class="sub-title">1888:</h3>
<p>William Henry Belk opens his first store in Monroe, NC with $750 in savings, a $500 loan, and $3,000 worth of goods taken on consignment. He convinces his brother, Dr. John Belk, to join as his partner. The business flourishes, often through store partnerships with trusted businessmen.</p>
<h3 class="sub-title">2010:</h3>
<p>Belk launches a fresh new logo and tagline, firmly establishing Belk as the destination for "Modern. Southern. Style."</p>
<h3 class="sub-title">2013:</h3>
<p>Belk celebrates 125 years and growing.</p>
<h3 class="sub-title">The Future:</h3>
<p>Belk is investing millions in store renovations and technology enhancements to better serve the desires of our valued guests.</p>

<ul>
<li><a href="#">Who We Are</a></li>
<li><a href="#">Diversity &amp; Inclusion</a></li>
<li><a href="#">CA Transparency Compliance</a></li>
<li><a href="#">Conflict Minerals Policy</a></li>
<li><a href="#">Community</a></li>
<li><a target="_blank" href="">Careers at Belk</a></li> 
<li><a href="#">Customer Service</a></li> 
<li><a href="#">Vendor Info</a></li>

</ul>

</div>
<div class="belk-content__aside">
<div class="c_row">
<div class="col-md-4">
    <i class="fa fa-home belk-fa" aria-hidden="true"></i>
</div>
<div class="col-md-20">
    <h2 class="sub-title">Community</h2>
    <p class="body-copy">Belk's rich heritage of community involvement and philanthropy dates back to the company's founders who believed strongly in the importance of giving back to the communities that made the success of their company possible.</p>
    <ul>
        <li><a href="#">More Information</a></li>
        <li><a href="#">The Belk Foundation</a></li>
    </ul>
</div>
</div>
<hr />
<div class="c_row">
<div class="col-md-4">
    <i class="fa fa-briefcase belk-fa" aria-hidden="true"></i>
</div>
<div class="col-md-20">
    <h2 class="sub-title">Careers</h2>
    <p class="body-copy">Belk's success over the years is a direct result of the dedication and service of its associates. Belk values its associates, providing fair compensation, comprehensive and competitive benefits packages, training programs and opportunities for advancement. We are looking for talented individuals who are interested in a career, not just a job.</p>
    <ul>
        <li><a href="#">Job Openings</a></li>
        <li><a href="#">Our Culture</a></li>
        <li><a href="#">College Recruiting &amp; Internships</a></li>
    </ul>
</div>
</div>
</div>
</div>