<h3 class="sub-title">Belk Catalogs</h3>
<div class="belk-catalog__display c_group">
    <div class="belk-catalog__item">
        <img src="/images/catalogthumb.jpg" />
        <h4>Bridal Book</h4>
        <p>Ends Tuesday, X/XX</p>
    </div>
    <div class="belk-catalog__item">
        <img src="/images/catalogthumb.jpg" />
        <h4>Bridal Book</h4>
        <p>Ends Tuesday, X/XX</p>
    </div>
    <div class="belk-catalog__item">
        <img src="/images/catalogthumb.jpg" />
        <h4>Bridal Book</h4>
        <p>Ends Tuesday, X/XX</p>
    </div>
    <div class="belk-catalog__item">
        <img src="/images/catalogthumb.jpg" />
        <h4>Bridal Book</h4>
        <p>Ends Tuesday, X/XX</p>
    </div>
    <div class="belk-catalog__item">
        <img src="/images/catalogthumb.jpg" />
        <h4>Bridal Book</h4>
        <p>Ends Tuesday, X/XX</p>
    </div>
    <div class="belk-catalog__item">
        <img src="/images/catalogthumb.jpg" />
        <h4>Bridal Book</h4>
        <p>Ends Tuesday, X/XX</p>
    </div>
</div>
<hr />
<h3 class="sub-title">Belk Television Ads</h3>
<p>There are no current TV ads to display at the moment.</p>
<div class="c_group c_three-col">
    <div class="col-sm-8">
        <div class="c_vid__wrapper">
            <div class="c_vid__thumb">
                <a class="clickToPlay1234567890" title="Click to view Video Name">
                    <div class="c_vid__overlay"></div>
                </a>
                <img src="//placehold.it/128x94/eeeeee/eeeeee" alt="alt for image" />
            </div>
            <div class="c_vid__info">
                <h4>Home Sale Commercial</h4>
                <p>Ends Tuesday, X/XX</p>
            </div>
        </div>    
    </div>
    <div class="col-sm-8">
        <div class="c_vid__wrapper">
            <div class="c_vid__thumb">
                <a class="clickToPlay1234567890" title="Click to view Video Name">
                    <div class="c_vid__overlay"></div>
                </a>
                <img src="//placehold.it/128x94/eeeeee/eeeeee" alt="alt for image" />
            </div>
            <div class="c_vid__info">
                <h4>Home Sale Commercial</h4>
                <p>Ends Tuesday, X/XX</p>
            </div>
        </div> 
    </div>
    <div class="col-sm-8">
        <div class="c_vid__wrapper">
            <div class="c_vid__thumb">
                <a class="clickToPlay1234567890" title="Click to view Video Name">
                    <div class="c_vid__overlay"></div>
                </a>
                <img src="//placehold.it/128x94/eeeeee/eeeeee" alt="alt for image" />
            </div>
            <div class="c_vid__info">
                <h4>Home Sale Commercial</h4>
                <p>Ends Tuesday, X/XX</p>
            </div>
        </div>   
    </div>
</div>