
      <!-- Returns -->
      <div class="c_group">
        <!-- Promo A -->
        <div class="col-md-24">
          <div class="c_panel-group accordion" id="accordion1" role="tablist" aria-multiselectable="true">
            <div class="c_panel c_panel-primary">
              <div class="c_panel-heading " role="tab" id="headingOne">
                <h4 class="c_panel-title-main">
                    Returns
                </h4>
              </div>
            </div>
            <div class="c_panel c_panel-default">
              <div class="c_panel-heading collapsed" role="tab" id="accordion1headingOne" data-toggle="collapse"  data-target="#accordion1collapseOne"  aria-expanded="true" aria-controls="accordion1collapseOne">
                <h4 class="c_panel-title">
                    What is Belk's return policy?
                </h4>
                <span class="c_panel-icon"></span>
              </div>
              <div id="accordion1collapseOne" class="c_panel-collapse collapse" role="tabpanel" aria-labelledby="accordion1headingOne">
                <div class="c_panel-body">
                  For returns made with an order summary form/packing slip within 180 days of purchase, we will refund the full purchase price to your original form of payment. For returns without an order summary form/packing slip or after 180 days of purchase, we will refund the lowest sale price offered in the last 30 days, credited to your Belk Rewards Card or a Belk gift card. 
                </div>
              </div>
            </div>
            <div class="c_panel c_panel-default">
              <div class="c_panel-heading collapsed" id="accordion1headingTwo" data-toggle="collapse" data-target="#accordion1collapseTwo" aria-expanded="false" aria-controls="accordion1collapseTwo">
                <h4 class="c_panel-title">
                    When will I receive my credit?
                </h4>
                <span class="c_panel-icon"></span>
              </div>
              <div id="accordion1collapseTwo" class="c_panel-collapse collapse" role="tabpanel" aria-labelledby="accordion1headingTwo">
                <div class="c_panel-body">
                  Most credits are posted within 15 business days from the time that your returned merchandise is received by belk.com. 
                </div>
              </div>
            </div>
            <div class="c_panel c_panel-default">
              <div class="c_panel-heading collapsed" id="accordion1headingThree" data-toggle="collapse" data-target="#accordion1collapseThree" aria-expanded="false" aria-controls="accordion1collapseThree">
                <h4 class="c_panel-title">
                    How do I make a return?
                </h4>
                <span class="c_panel-icon"></span>
              </div>
              <div id="accordion1collapseThree" class="c_panel-collapse collapse" role="tabpanel" aria-labelledby="accordion1headingThree">
                <div class="c_panel-body">
                  For specifics on how to return an item bought from belk.com, please visit our Returns & Refunds page.  
                </div>
              </div>
            </div>
          </div>
          <!-- For any Belk store merchandise returns, please refer to the back of your store receipt for instructions. -->
        </div>
      </div>

      <!-- Email & Promotions -->
      <div class="c_group">
        <!-- Promo A -->
        <div class="col-md-24">
          <div class="c_panel-group accordion" id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="c_panel c_panel-primary">
              <div class="c_panel-heading" role="tab" id="headingOne">
                <h4 class="c_panel-title-main">
                    Email & Promotions
                </h4>

              </div>
            </div>
            <div class="c_panel c_panel-default">
              <div class="c_panel-heading collapsed" role="tab" id="accordion2headingOne" data-toggle="collapse"  data-target="#accordion2collapseOne"  aria-expanded="true" aria-controls="collapseOne">
                <h4 class="c_panel-title">
                    How do I unsubscribe from Belk's email marketing?
                </h4>
                <span class="c_panel-icon"></span>
              </div>
              <div id="accordion2collapseOne" class="c_panel-collapse collapse" role="tabpanel" aria-labelledby="accordion2headingOne">
                <div class="c_panel-body">
                  When you receive an email from Belk, there is an unsubscribe option at the bottom. Click on this to be excluded from further email promotions.  
                </div>
              </div>
            </div>
            <div class="c_panel c_panel-default">
              <div class="c_panel-heading collapsed" id="accordion2headingTwo" data-toggle="collapse" data-target="#accordion2collapseTwo" aria-expanded="false" aria-controls="accordion2collapseTwo">
                <h4 class="c_panel-title">
                    Why do the coupons have so many exclusions?
                </h4>
                <span class="c_panel-icon"></span>
              </div>
              <div id="accordion2collapseTwo" class="c_panel-collapse collapse" role="tabpanel" aria-labelledby="accordion2headingTwo">
                <div class="c_panel-body">
                  Some of the brands that Belk carries in store and online do not allow for their merchandise to be discounted or discounted more than a specified percent off. When coupon exclusions do apply, Belk provides an online link to the specific restrictions.  
                </div>
              </div>
            </div>
            <div class="c_panel c_panel-default">
              <div class="c_panel-heading collapsed" id="accordion2headingThree" data-toggle="collapse" data-target="#accordion2collapseThree" aria-expanded="false" aria-controls="accordion2collapseThree">
                <h4 class="c_panel-title">
                    Why does my promotional coupon not work?
                </h4>
                <span class="c_panel-icon"></span>
              </div>
              <div id="accordion2collapseThree" class="c_panel-collapse collapse" role="tabpanel" aria-labelledby="accordion2headingThree">
                <div class="c_panel-body">
                  There may be some requirements not met for the special offer, other exclusions may apply or the promotional offer has expired. Please note: Belk.com is only able to apply one promotional code per item  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Belk Rewards Card -->
      <div class="c_group">
        <!-- Promo A -->
        <div class="col-md-24">
          <div class="c_panel-group accordion" id="accordion3" role="tablist" aria-multiselectable="true">
            <div class="c_panel c_panel-primary">
              <div class="c_panel-heading" role="tab" id="headingOne">
                <h4 class="c_panel-title-main">
                  Belk Rewards Card
                </h4>
              </div>
            </div>
            <!-- Panel 1 -->
            <div class="c_panel c_panel-default">
              <div class="c_panel-heading collapsed" role="tab" id="accordion3headingOne" data-toggle="collapse"  data-target="#accordion3collapseOne" aria-expanded="true" aria-controls="accordion3collapseOne">
                <h4 class="c_panel-title">
                    Do I need a different username and password for belk.com and www.belkcredit.com in order to pay my credit card bill online?
                </h4>
                <span class="c_panel-icon"></span>
              </div>
              <div id="accordion3collapseOne" class="c_panel-collapse collapse" role="tabpanel" aria-labelledby="accordion3headingOne">
                <div class="c_panel-body">
                   Yes, your log-in information for belk.com is not interchangeable with www.belkcredit.com. This is done on purpose to provide you with the most personal protections for both accounts. 
                </div>
              </div>
            </div>
            <!-- Panel 2 -->
            <div class="c_panel c_panel-default">
              <div class="c_panel-heading collapsed" id="accordion3headingTwo" data-toggle="collapse" data-target="#accordion3collapseTwo" aria-expanded="false" aria-controls="accordion3collapseTwo">
                <h4 class="c_panel-title">
                    Where do I mail my Belk Rewards credit card payments?
                </h4>
                <span class="c_panel-icon"></span>
              </div>
              <div id="accordion3collapseTwo" class="c_panel-collapse collapse" role="tabpanel" aria-labelledby="accordion3headingTwo">
                <div class="c_panel-body">
                    Please use the address listed below to mail your payment. Also, please write your account number on your check or money order made payable to BELK.
                    <br>
                    <strong>
                      Synchrony Bank/Belk<br>
                      P.O. Box 530940<br>
                      Atlanta, GA 30553-0940 
                    </strong>
                </div>
              </div>
            </div>
            <!-- Panel 3 -->
            <div class="c_panel c_panel-default">
              <div class="c_panel-heading collapsed" id="accordion3headingThree" data-toggle="collapse" data-target="#accordion3collapseThree" aria-expanded="false" aria-controls="accordion3collapseThree">
                <h4 class="c_panel-title">
                    How do I pay my Belk Rewards Card bill online?
                </h4>
                <span class="c_panel-icon"></span>
              </div>
              <div id="accordion3collapseThree" class="c_panel-collapse collapse" role="tabpanel" aria-labelledby="accordion3headingThree">
                <div class="c_panel-body">
                    In order to pay your Belk Rewards Card bill online, you will need to register with www.belkcredit.com. After registration, you will be able to access the "Pay Online" option through www.belkcredit.com/payyourbill. The Belk Rewards Card is issued and operated by Synchrony Bank (SYNCB). 
                </div>
              </div>
            </div>
            <!-- Panel 4 -->
            <div class="c_panel c_panel-default">
              <div class="c_panel-heading collapsed" id="accordion3headingFour" data-toggle="collapse" data-target="#accordion3collapseFour" aria-expanded="false" aria-controls="accordion3collapseFour">
                <h4 class="c_panel-title">
                   What should I do if my Belk Rewards Card is lost or stolen?
                </h4>
                <span class="c_panel-icon"></span>
              </div>
              <div id="accordion3collapseFour" class="c_panel-collapse collapse" role="tabpanel" aria-labelledby="accordion3headingFour">
                <div class="c_panel-body">
                    Please call Belk Credit Customer Service at 1-800-669-6550. Agents are available Monday-Saturday, 8:30am – 7:00pm ET. If you call after hours, please follow the automated telephone prompt for reporting lost or stolen Belk Rewards Cards. 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Shipping Information -->
    <div class="c_group">
      <div class="col-md-24">
        <div aria-multiselectable="true" class="c_panel-group accordion" id="9e38adf2-7477-1e7f-b514-befd91fb0ce9" role="tablist">
          <div class="c_panel c_panel-primary" id="9e38adf2-7477-1e7f-b514-befd91fb0ce9primarypanel">
            <div class="c_panel-heading" id="primaryh1" role="tab">
              <h4 class="c_panel-title-main">Shipping Information</h4>
            </div>
          </div>
          <div class="c_panel c_panel-default">
            <div aria-controls="9e38adf2-7477-1e7f-b514-befd91fb0ce9c0" aria-expanded="false" class="c_panel-heading collapsed" data-target="#9e38adf2-7477-1e7f-b514-befd91fb0ce9c0" data-toggle="collapse" id="9e38adf2-7477-1e7f-b514-befd91fb0ce9h0" role="tab">
              <h4 class="c_panel-title">What shipping options are available? What does shipping and handling cost?</h4><span class="c_panel-icon"></span>
            </div>
            <div aria-labelledby="9e38adf2-7477-1e7f-b514-befd91fb0ce9h0" class="c_panel-collapse collapse" id="9e38adf2-7477-1e7f-b514-befd91fb0ce9c0" role="tabpanel">
              <div class="c_panel-body">
                We offer three levels of service: a) Standard; b) Premium 2-Day; and c) Express Overnight. We also offer APO/FPO (Army Post Office/Fleet Post Office) shipping. All shipping and handling charges will be calculated according to the pricing chart listed below. Depending on the destination of the package(s), you can expect to receive your order within 4-7 business days from the ship date. A business day is considered any day other than Saturday, Sunday, holidays or other business closings. Belk partners with various shipping industry leaders for merchandise delivery. Final delivery service is determined by levels of service or package weight. (Please note, Belk cannot ship to PO Boxes.)<br>
                <br>
                Pricing Chart Merchandise and Gift Card Shipping Fees<br>
                <br>
                Purchase Amount Standard Premium 2-Day Express Overnight $98.99 or Less $9.50 $24.95 $29.95 $99.00 or greater FREE* $24.95 $29.95 Gift Cards FREE $24.95 $29.95<br>
                <br>
                *Beauty and Fragrance orders of any amount ship free. * A surcharge of up to $25 may apply on oversized items. Surcharge is assessed per item, and is based on size and/or weight. The surcharge is in addition to any shipping fees.<br>
                <br>
                Please note: In order to utilize our Premium Two Day and Express Overnight shipping services, all orders must be placed by 1:00 PM (Eastern Time), Monday through Friday. Any Premium Two Day and Express Overnight request order, placed after 1:00 PM (Monday through Friday), will be processed the following business day. For all orders placed before 1:00 PM ET on Friday, the following business day is Monday (excluding holidays or other business closings). Belk.com orders are not delivered on weekends.
              </div>
            </div>
          </div>
          <div class="c_panel c_panel-default">
            <div aria-controls="9e38adf2-7477-1e7f-b514-befd91fb0ce9c1" aria-expanded="false" class="c_panel-heading collapsed" data-target="#9e38adf2-7477-1e7f-b514-befd91fb0ce9c1" data-toggle="collapse" id="9e38adf2-7477-1e7f-b514-befd91fb0ce9h1" role="tab" tabindex="1">
              <h4 class="c_panel-title">Will Belk ship packages to a PO Box?</h4><span class="c_panel-icon"></span>
            </div>
            <div aria-labelledby="9e38adf2-7477-1e7f-b514-befd91fb0ce9h1" class="c_panel-collapse collapse" id="9e38adf2-7477-1e7f-b514-befd91fb0ce9c1" role="tabpanel">
              <div class="c_panel-body">
                Belk does not currently ship packages to any address containing a PO Box. In order to provide the fastest delivery service to our customers, all packages leave our fulfillment center via FedEx, which does not accept PO Boxes as shipping addresses.
              </div>
            </div>
          </div>
          <div class="c_panel c_panel-default">
            <div aria-controls="9e38adf2-7477-1e7f-b514-befd91fb0ce9c2" aria-expanded="false" class="c_panel-heading collapsed" data-target="#9e38adf2-7477-1e7f-b514-befd91fb0ce9c2" data-toggle="collapse" id="9e38adf2-7477-1e7f-b514-befd91fb0ce9h2" role="tab" tabindex="2">
              <h4 class="c_panel-title">Can I ship products to multiple addresses?</h4><span class="c_panel-icon"></span>
            </div>
            <div aria-labelledby="9e38adf2-7477-1e7f-b514-befd91fb0ce9h2" class="c_panel-collapse collapse" id="9e38adf2-7477-1e7f-b514-befd91fb0ce9c2" role="tabpanel">
              <div class="c_panel-body">
                Yes, you may ship to multiple addresses. Please remember the free shipping threshold is based per shipping address, not total order.
              </div>
            </div>
          </div>
          <div class="c_panel c_panel-default">
            <div aria-controls="9e38adf2-7477-1e7f-b514-befd91fb0ce9c3" aria-expanded="false" class="c_panel-heading collapsed" data-target="#9e38adf2-7477-1e7f-b514-befd91fb0ce9c3" data-toggle="collapse" id="9e38adf2-7477-1e7f-b514-befd91fb0ce9h3" role="tab" tabindex="3">
              <h4 class="c_panel-title">Can orders be shipped to foreign countries?</h4><span class="c_panel-icon"></span>
            </div>
            <div aria-labelledby="9e38adf2-7477-1e7f-b514-befd91fb0ce9h3" class="c_panel-collapse collapse" id="9e38adf2-7477-1e7f-b514-befd91fb0ce9c3" role="tabpanel">
              <div class="c_panel-body">
                No, at this time belk.com only ships orders to the contiguous United States, Alaska, Hawaii, and Military APO/FPO addresses.
              </div>
            </div>
          </div>
          <div class="c_panel c_panel-default">
            <div aria-controls="9e38adf2-7477-1e7f-b514-befd91fb0ce9c4" aria-expanded="false" class="c_panel-heading collapsed" data-target="#9e38adf2-7477-1e7f-b514-befd91fb0ce9c4" data-toggle="collapse" id="9e38adf2-7477-1e7f-b514-befd91fb0ce9h4" role="tab" tabindex="4">
              <h4 class="c_panel-title">I have received a shipment from belk.com but there is an item missing. Why?</h4><span class="c_panel-icon"></span>
            </div>
            <div aria-labelledby="9e38adf2-7477-1e7f-b514-befd91fb0ce9h4" class="c_panel-collapse collapse" id="9e38adf2-7477-1e7f-b514-befd91fb0ce9c4" role="tabpanel">
              <div class="c_panel-body">
                If the quantity displayed on your order summary page included in your package is 0 and the item is missing, it means that the item went out of stock between the time you placed the order and the time it was shipped. Please note, Belk does not backorder items and your credit card has not been charged for the missing item.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Tracking Information -->
    <div class="c_group">
	<div class="col-md-24">
		<div aria-multiselectable="true" class="c_panel-group accordion" id="4f06273d-0373-f748-969f-6b961888550b" role="tablist">
			<div class="c_panel c_panel-primary" id="4f06273d-0373-f748-969f-6b961888550bprimarypanel">
				<div class="c_panel-heading" id="primaryh1" role="tab">
					<h4 class="c_panel-title-main">Tracking Information</h4>
				</div>
			</div>
			<div class="c_panel c_panel-default">
				<div aria-controls="4f06273d-0373-f748-969f-6b961888550bc0" aria-expanded="false" class="c_panel-heading collapsed" data-target="#4f06273d-0373-f748-969f-6b961888550bc0" data-toggle="collapse" id="4f06273d-0373-f748-969f-6b961888550bh0" role="tab">
					<h4 class="c_panel-title">Where can I see information about an order I placed?</h4><span class="c_panel-icon"></span>
				</div>
				<div aria-expanded="false" aria-labelledby="4f06273d-0373-f748-969f-6b961888550bh0" class="c_panel-collapse collapse" id="4f06273d-0373-f748-969f-6b961888550bc0" role="tabpanel" style="height: 0px;">
					<div class="c_panel-body">
						Belk.com will send you an order confirmation email, which will include the order number as well as complete details of the order itself. If you are registered on belk.com, you can also view any past or current order information by clicking Order Status at the top of the page.
					</div>
				</div>
			</div>
			<div class="c_panel c_panel-default">
				<div aria-controls="4f06273d-0373-f748-969f-6b961888550bc1" aria-expanded="false" class="c_panel-heading collapsed" data-target="#4f06273d-0373-f748-969f-6b961888550bc1" data-toggle="collapse" id="4f06273d-0373-f748-969f-6b961888550bh1" role="tab">
					<h4 class="c_panel-title">How can I inquire online about the shipping status on my order?</h4><span class="c_panel-icon"></span>
				</div>
				<div aria-expanded="false" aria-labelledby="4f06273d-0373-f748-969f-6b961888550bh1" class="c_panel-collapse collapse" id="4f06273d-0373-f748-969f-6b961888550bc1" role="tabpanel" style="height: 0px;">
					<div class="c_panel-body">
						If you have created a belk.com account, you have two ways of tracking your order online. First, please sign in (if not already signed in), and you will be able to track your order through belk.com by clicking the "Order Status" link on the top of any page. This will bring you to the "My Account Orders" page of belk.com, where you can click on your order number and view the current status of your order.<br>
						<br>
						Second, after your order has been picked up by the carrier for shipment, you can track your order through the shipping carrier's website. The shipping confirmation email, sent to you after your order has been shipped will include the carrier's tracking number for your reference. (This option is available for tracking the status of your order whether or not you are registered on belk.com.) Please note, at this time, we are unable to offer tracking services on Belk Gift Card orders, APO and FPO orders.<br>
						<br>
						You may also obtain information on your order status by contacting a friendly Belk Customer Service Representative, at 1-866-235-5443, Sunday – Saturday, 7am-11pm ET.
					</div>
				</div>
			</div>
			<div class="c_panel c_panel-default">
				<div aria-controls="4f06273d-0373-f748-969f-6b961888550bc2" aria-expanded="false" class="c_panel-heading collapsed" data-target="#4f06273d-0373-f748-969f-6b961888550bc2" data-toggle="collapse" id="4f06273d-0373-f748-969f-6b961888550bh2" role="tab">
					<h4 class="c_panel-title">What telephone number do I call to speak to a Customer Service Representative?</h4><span class="c_panel-icon"></span>
				</div>
				<div aria-expanded="false" aria-labelledby="4f06273d-0373-f748-969f-6b961888550bh2" class="c_panel-collapse collapse" id="4f06273d-0373-f748-969f-6b961888550bc2" role="tabpanel" style="height: 0px;">
					<div class="c_panel-body">
						For questions about your Belk Rewards Card, please dial: 1-800-669-6550, Monday – Saturday, 8:30am–7:00pm ET. For all other Customer Service questions, please dial: 1-866-235-5443.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Search -->
<div class="c_group">
	<div class="col-md-24">
		<div aria-multiselectable="true" class="c_panel-group accordion" id="a332ac89-0f7b-2084-2368-f3498feb2313" role="tablist">
			<div class="c_panel c_panel-primary" id="a332ac89-0f7b-2084-2368-f3498feb2313primarypanel">
				<div class="c_panel-heading" id="primaryh1" role="tab">
					<h4 class="c_panel-title-main">Search</h4>
          
				</div>
			</div>
			<div class="c_panel c_panel-default">
				<div aria-controls="a332ac89-0f7b-2084-2368-f3498feb2313c0" aria-expanded="true" class="c_panel-heading collapsed" data-target="#a332ac89-0f7b-2084-2368-f3498feb2313c0" data-toggle="collapse" id="a332ac89-0f7b-2084-2368-f3498feb2313h0" role="tab">
					<h4 class="c_panel-title">How do I search for a product on belk.com?</h4><span class="c_panel-icon"></span>
				</div>
				<div aria-labelledby="a332ac89-0f7b-2084-2368-f3498feb2313h0" class="c_panel-collapse collapse" id="a332ac89-0f7b-2084-2368-f3498feb2313c0" role="tabpanel">
					<div class="c_panel-body">
						Using the search box at the top of the page, type in the name of the item you're looking for. Try to be as specific as possible. For example, if you are looking for shoes, type in "womens shoes" or "sandals", etc., instead of just "shoes". If you found something in the store you'd like to shop for online, you may also search using the product style number (e.g. 1574B) from the item's tag.
					</div>
				</div>
			</div>
			<div class="c_panel c_panel-default">
				<div aria-controls="a332ac89-0f7b-2084-2368-f3498feb2313c1" aria-expanded="true" class="c_panel-heading collapsed" data-target="#a332ac89-0f7b-2084-2368-f3498feb2313c1" data-toggle="collapse" id="a332ac89-0f7b-2084-2368-f3498feb2313h1" role="tab">
					<h4 class="c_panel-title">How do I narrow my search results?</h4><span class="c_panel-icon"></span>
				</div>
				<div aria-labelledby="a332ac89-0f7b-2084-2368-f3498feb2313h1" class="c_panel-collapse collapse" id="a332ac89-0f7b-2084-2368-f3498feb2313c1" role="tabpanel">
					<div class="c_panel-body">
						After you've gotten your search results, you can use the drop-down options at the top of the page to help you find your desired product more quickly. Narrow by category, size, brand, color or price. You can also use the navigation to the left of your search results to narrow by category.
					</div>
				</div>
			</div>
			<div class="c_panel c_panel-default">
				<div aria-controls="a332ac89-0f7b-2084-2368-f3498feb2313c2" aria-expanded="true" class="c_panel-heading collapsed" data-target="#a332ac89-0f7b-2084-2368-f3498feb2313c2" data-toggle="collapse" id="a332ac89-0f7b-2084-2368-f3498feb2313h2" role="tab">
					<h4 class="c_panel-title">How do I sort my search results to see the items with the lowest price first?</h4><span class="c_panel-icon"></span>
				</div>
				<div aria-labelledby="a332ac89-0f7b-2084-2368-f3498feb2313h2" class="c_panel-collapse collapse" id="a332ac89-0f7b-2084-2368-f3498feb2313c2" role="tabpanel">
					<div class="c_panel-body">
						Use the "Sort By" drop-down list at the top of the page. Select "Lowest Price". You can also sort by New Arrivals, Highest Price, Best Sellers, Wish List Favorites and Top Customer Rated. Note: Sorting does not narrow your results, but simply changes the order in which they appear.
					</div>
				</div>
			</div>
			<div class="c_panel c_panel-default">
				<div aria-controls="a332ac89-0f7b-2084-2368-f3498feb2313c3" aria-expanded="true" class="c_panel-heading collapsed" data-target="#a332ac89-0f7b-2084-2368-f3498feb2313c3" data-toggle="collapse" id="a332ac89-0f7b-2084-2368-f3498feb2313h3" role="tab">
					<h4 class="c_panel-title">How can I see more products on one page so I don't have to navigate several pages of search results?</h4><span class="c_panel-icon"></span>
				</div>
				<div aria-labelledby="a332ac89-0f7b-2084-2368-f3498feb2313h3" class="c_panel-collapse collapse" id="a332ac89-0f7b-2084-2368-f3498feb2313c3" role="tabpanel">
					<div class="c_panel-body">
						Use the drop-down box next to the page numbers on the search results page to select View 50, View 75 or View 100, depending on your preference.
					</div>
				</div>
			</div>
			<div class="c_panel c_panel-default">
				<div aria-controls="a332ac89-0f7b-2084-2368-f3498feb2313c4" aria-expanded="true" class="c_panel-heading collapsed" data-target="#a332ac89-0f7b-2084-2368-f3498feb2313c4" data-toggle="collapse" id="a332ac89-0f7b-2084-2368-f3498feb2313h4" role="tab">
					<h4 class="c_panel-title">My search returned 0 results. What do I do now?</h4><span class="c_panel-icon"></span>
				</div>
				<div aria-labelledby="a332ac89-0f7b-2084-2368-f3498feb2313h4" class="c_panel-collapse collapse" id="a332ac89-0f7b-2084-2368-f3498feb2313c4" role="tabpanel">
					<div class="c_panel-body">
						If you get 0 results when you search for something, try to think of other words or phrases that represent the product you're after. For example, if you're searching for "Tablecloths", try "Table Linens" as a search term instead. It may be that we do carry the item you're looking for, but we refer to it in a different way. Another example is "Grandma Picture Frames". You might be searching for "Nana Frames" or "Grandmother Frames" instead.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="c_group">
  <div class="col-md-24">
    <div aria-multiselectable="true" class="c_panel-group accordion" id="bc01908b-4953-ee87-87d0-63a18347de3e" role="tablist">
      <div class="c_panel c_panel-primary" id="bc01908b-4953-ee87-87d0-63a18347de3eprimarypanel">
        <div class="c_panel-heading" id="primaryh1" role="tab">
          <h4 class="c_panel-title-main">Bridal</h4>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="bc01908b-4953-ee87-87d0-63a18347de3ec0" aria-expanded="true" class="c_panel-heading collapsed" data-target="#bc01908b-4953-ee87-87d0-63a18347de3ec0" data-toggle="collapse" id="bc01908b-4953-ee87-87d0-63a18347de3eh0" role="tab">
          <h4 class="c_panel-title">How do I create a registry?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="bc01908b-4953-ee87-87d0-63a18347de3eh0" class="c_panel-collapse collapse" id="bc01908b-4953-ee87-87d0-63a18347de3ec0" role="tabpanel">
          <div class="c_panel-body">
            Select the Wedding Registry link at the top of any belk.com page. From the Wedding Registry homepage, select "Create a Registry" and follow the easy to use, step-by-step instructions for setting up your personal account. Once your account is created, you can begin adding product and start using all of our wedding tools and resources.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="bc01908b-4953-ee87-87d0-63a18347de3ec1" aria-expanded="true" class="c_panel-heading collapsed" data-target="#bc01908b-4953-ee87-87d0-63a18347de3ec1" data-toggle="collapse" id="bc01908b-4953-ee87-87d0-63a18347de3eh1" role="tab">
          <h4 class="c_panel-title">How do I log in to my wedding registry?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="bc01908b-4953-ee87-87d0-63a18347de3eh1" class="c_panel-collapse collapse" id="bc01908b-4953-ee87-87d0-63a18347de3ec1" role="tabpanel">
          <div class="c_panel-body">
            You can access your Wedding Registry by selecting the "Manage Your Registry" option from the Wedding Registry homepage. Enter your email address and password and select "Go".
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="bc01908b-4953-ee87-87d0-63a18347de3ec2" aria-expanded="true" class="c_panel-heading collapsed" data-target="#bc01908b-4953-ee87-87d0-63a18347de3ec2" data-toggle="collapse" id="bc01908b-4953-ee87-87d0-63a18347de3eh2" role="tab">
          <h4 class="c_panel-title">How do I add an item to my registry?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="bc01908b-4953-ee87-87d0-63a18347de3eh2" class="c_panel-collapse collapse" id="bc01908b-4953-ee87-87d0-63a18347de3ec2" role="tabpanel">
          <div class="c_panel-body">
            Sign in to your Belk Wedding Registry account. Then locate the product you would like added to your registry, insert the quantity you are requesting and select "Add to Registry." The item will appear on your Belk Wedding Registry list.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="bc01908b-4953-ee87-87d0-63a18347de3ec3" aria-expanded="true" class="c_panel-heading collapsed" data-target="#bc01908b-4953-ee87-87d0-63a18347de3ec3" data-toggle="collapse" id="bc01908b-4953-ee87-87d0-63a18347de3eh3" role="tab">
          <h4 class="c_panel-title">How do I remove an item from my registry?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="bc01908b-4953-ee87-87d0-63a18347de3eh3" class="c_panel-collapse collapse" id="bc01908b-4953-ee87-87d0-63a18347de3ec3" role="tabpanel">
          <div class="c_panel-body">
            Locate the item on your registry, and look for the column marked "remove." It will contain a checkbox if the item can be removed from your registry. Items that have already been purchased cannot be removed from your registry. If you check the box and select "Update Registry," then the item will be removed. If you receive a gift you didn't remove from your registry before it was purchased, you can return that item. Please see our Return Policy for more information.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="bc01908b-4953-ee87-87d0-63a18347de3ec4" aria-expanded="true" class="c_panel-heading collapsed" data-target="#bc01908b-4953-ee87-87d0-63a18347de3ec4" data-toggle="collapse" id="bc01908b-4953-ee87-87d0-63a18347de3eh4" role="tab">
          <h4 class="c_panel-title">How can I access the manufacturer's Wedding Registry completion rebates for which I am eligible?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="bc01908b-4953-ee87-87d0-63a18347de3eh4" class="c_panel-collapse collapse" id="bc01908b-4953-ee87-87d0-63a18347de3ec4" role="tabpanel">
          <div class="c_panel-body">
            Use the "Wedding Rebates" link on the left side of the Wedding Registry. This will take you to a landing page that displays all of the rebates and their details. You can also print them.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c_group">
  <div class="col-md-24">
    <div aria-multiselectable="true" class="c_panel-group accordion" id="3b32897d-99f9-9662-c30f-ec19774298c7" role="tablist">
      <div class="c_panel c_panel-primary" id="3b32897d-99f9-9662-c30f-ec19774298c7primarypanel">
        <div class="c_panel-heading" id="primaryh1" role="tab">
          <h4 class="c_panel-title-main">Placing an Order</h4>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="3b32897d-99f9-9662-c30f-ec19774298c7c0" aria-expanded="true" class="c_panel-heading collapsed" data-target="#3b32897d-99f9-9662-c30f-ec19774298c7c0" data-toggle="collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7h0" role="tab">
          <h4 class="c_panel-title">May I purchase and/or redeem gift cards online?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="3b32897d-99f9-9662-c30f-ec19774298c7h0" class="c_panel-collapse collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7c0" role="tabpanel">
          <div class="c_panel-body">
            Belk.com offers a variety of gift cards that may be purchased online and redeemed at any Belk store, and at any time on Belk.com.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="3b32897d-99f9-9662-c30f-ec19774298c7c1" aria-expanded="true" class="c_panel-heading collapsed" data-target="#3b32897d-99f9-9662-c30f-ec19774298c7c1" data-toggle="collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7h1" role="tab">
          <h4 class="c_panel-title">Can orders to belk.com be phoned in?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="3b32897d-99f9-9662-c30f-ec19774298c7h1" class="c_panel-collapse collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7c1" role="tabpanel">
          <div class="c_panel-body">
            Yes. Phone orders can be placed by dialing 1-866-235-5443.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="3b32897d-99f9-9662-c30f-ec19774298c7c2" aria-expanded="true" class="c_panel-heading collapsed" data-target="#3b32897d-99f9-9662-c30f-ec19774298c7c2" data-toggle="collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7h2" role="tab">
          <h4 class="c_panel-title">Is sales tax added to my order?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="3b32897d-99f9-9662-c30f-ec19774298c7h2" class="c_panel-collapse collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7c2" role="tabpanel">
          <div class="c_panel-body">
            If your shipping address is located within one of the states where Belk is registered to collect tax, sales tax will be automatically added in accordance with individual state regulations. Belk currently charges tax in the following states: AL, AR, CT, FL, GA, KY, LA, MD, MO, MS, NC, NY, OK, PA, SC, SD, TN, TX, VA, WA, WI and WV.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="3b32897d-99f9-9662-c30f-ec19774298c7c3" aria-expanded="true" class="c_panel-heading collapsed" data-target="#3b32897d-99f9-9662-c30f-ec19774298c7c3" data-toggle="collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7h3" role="tab">
          <h4 class="c_panel-title">When will my credit card be charged?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="3b32897d-99f9-9662-c30f-ec19774298c7h3" class="c_panel-collapse collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7c3" role="tabpanel">
          <div class="c_panel-body">
            Your card will be charged at the moment the shipment is picked up by the carrier.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="3b32897d-99f9-9662-c30f-ec19774298c7c4" aria-expanded="true" class="c_panel-heading collapsed" data-target="#3b32897d-99f9-9662-c30f-ec19774298c7c4" data-toggle="collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7h4" role="tab">
          <h4 class="c_panel-title">Can I make changes to or cancel my order after it has been submitted?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="3b32897d-99f9-9662-c30f-ec19774298c7h4" class="c_panel-collapse collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7c4" role="tabpanel">
          <div class="c_panel-body">
            Our goal is to process and ship your order as quickly as possible; therefore, changes or cancellation can occur up to one hour after the order has been submitted. Please note: to make changes you must call our Customer Call Center, 1-866-235-5443, Sunday through Saturday 7:00am–11:00pm ET. These changes include order cancellation requests, address changes, upgraded shipping or adding items to your order.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="3b32897d-99f9-9662-c30f-ec19774298c7c5" aria-expanded="true" class="c_panel-heading collapsed" data-target="#3b32897d-99f9-9662-c30f-ec19774298c7c5" data-toggle="collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7h5" role="tab">
          <h4 class="c_panel-title">I am trying to place a large order and am having difficulty. Why?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="3b32897d-99f9-9662-c30f-ec19774298c7h5" class="c_panel-collapse collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7c5" role="tabpanel">
          <div class="c_panel-body">
            Quantities of certain items may be restricted for orders place on belk.com. If you experience any issues placing a large order, please call Customer Service at 1-866-235-5443.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="3b32897d-99f9-9662-c30f-ec19774298c7c6" aria-expanded="true" class="c_panel-heading collapsed" data-target="#3b32897d-99f9-9662-c30f-ec19774298c7c6" data-toggle="collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7h6" role="tab">
          <h4 class="c_panel-title">Does belk.com offer gift packaging?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="3b32897d-99f9-9662-c30f-ec19774298c7h6" class="c_panel-collapse collapse" id="3b32897d-99f9-9662-c30f-ec19774298c7c6" role="tabpanel">
          <div class="c_panel-body">
            Yes. After you have found the perfect gift, let us make it even more special. For $4.95 per selection, we will place your item in a beautiful gift box. Please note that some items are too large for gift packaging.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="c_group">
  <div class="col-md-24">
    <div aria-multiselectable="true" class="c_panel-group accordion" id="91ab3274-045a-19d5-7333-417c3fdc9652" role="tablist">
      <div class="c_panel c_panel-primary" id="91ab3274-045a-19d5-7333-417c3fdc9652primarypanel">
        <div class="c_panel-heading" id="primaryh1" role="tab">
          <h4 class="c_panel-title-main">Methods of Payment</h4>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="91ab3274-045a-19d5-7333-417c3fdc9652c0" aria-expanded="true" class="c_panel-heading collapsed" data-target="#91ab3274-045a-19d5-7333-417c3fdc9652c0" data-toggle="collapse" id="91ab3274-045a-19d5-7333-417c3fdc9652h0" role="tab">
          <h4 class="c_panel-title">Belk.com accepts the following forms of payment:</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="91ab3274-045a-19d5-7333-417c3fdc9652h0" class="c_panel-collapse collapse" id="91ab3274-045a-19d5-7333-417c3fdc9652c0" role="tabpanel">
          <div class="c_panel-body">
            Belk Rewards Credit Card, MasterCard, Visa, American Express, Discover, Debit Cards with a Visa/MasterCard/Amex/Discover logo, Belk Gift Cards, Pre-paid gift cards, such as Simon's: as long as the sale is less than or equal to the value/balance of the card.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c_group">
  <div class="col-md-24">
    <div aria-multiselectable="true" class="c_panel-group accordion" id="cd53da8e-6d0f-a622-b904-5404b2cd7928" role="tablist">
      <div class="c_panel c_panel-primary" id="cd53da8e-6d0f-a622-b904-5404b2cd7928primarypanel">
        <div class="c_panel-heading" id="primaryh1" role="tab">
          <h4 class="c_panel-title-main">Gift Cards</h4>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="cd53da8e-6d0f-a622-b904-5404b2cd7928c0" aria-expanded="true" class="c_panel-heading collapsed" data-target="#cd53da8e-6d0f-a622-b904-5404b2cd7928c0" data-toggle="collapse" id="cd53da8e-6d0f-a622-b904-5404b2cd7928h0" role="tab">
          <h4 class="c_panel-title">Is it possible to purchase a gift card as a wedding gift online?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="cd53da8e-6d0f-a622-b904-5404b2cd7928h0" class="c_panel-collapse collapse" id="cd53da8e-6d0f-a622-b904-5404b2cd7928c0" role="tabpanel">
          <div class="c_panel-body">
            Couples can identify through the registry process that they would like guests to have the option of purchasing Belk Gift Cards from their registry. If the couple has selected this option, gift cards will be displayed for purchase on their wedding registry gift list. Please note, you can purchase a Belk Gift Card on belk.com. Gift cards can be redeemed any time on Belk.com. Due to individual state laws regarding gift cards, Belk does not sell or ship gift cards to customers with a California, Massachusetts or New Jersey address.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="cd53da8e-6d0f-a622-b904-5404b2cd7928c1" aria-expanded="true" class="c_panel-heading collapsed" data-target="#cd53da8e-6d0f-a622-b904-5404b2cd7928c1" data-toggle="collapse" id="cd53da8e-6d0f-a622-b904-5404b2cd7928h1" role="tab">
          <h4 class="c_panel-title">When is my gift card activated?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="cd53da8e-6d0f-a622-b904-5404b2cd7928h1" class="c_panel-collapse collapse" id="cd53da8e-6d0f-a622-b904-5404b2cd7928c1" role="tabpanel">
          <div class="c_panel-body">
            The Belk gift card is activated as it is sent to you. It has a value when it arrives at your home.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="cd53da8e-6d0f-a622-b904-5404b2cd7928c2" aria-expanded="true" class="c_panel-heading collapsed" data-target="#cd53da8e-6d0f-a622-b904-5404b2cd7928c2" data-toggle="collapse" id="cd53da8e-6d0f-a622-b904-5404b2cd7928h2" role="tab">
          <h4 class="c_panel-title">How can I order gift cards for a business?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="cd53da8e-6d0f-a622-b904-5404b2cd7928h2" class="c_panel-collapse collapse" id="cd53da8e-6d0f-a622-b904-5404b2cd7928c2" role="tabpanel">
          <div class="c_panel-body">
            To order gift cards in a bulk quantity or for a business, please call 704-426-1817 or 704-426-1867.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="cd53da8e-6d0f-a622-b904-5404b2cd7928c3" aria-expanded="true" class="c_panel-heading collapsed" data-target="#cd53da8e-6d0f-a622-b904-5404b2cd7928c3" data-toggle="collapse" id="cd53da8e-6d0f-a622-b904-5404b2cd7928h3" role="tab">
          <h4 class="c_panel-title">Can you add value to an existing gift card?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="cd53da8e-6d0f-a622-b904-5404b2cd7928h3" class="c_panel-collapse collapse" id="cd53da8e-6d0f-a622-b904-5404b2cd7928c3" role="tabpanel">
          <div class="c_panel-body">
            Please visit any Belk store and the sales associate can reload the gift card in any amount. Sorry, this service is currently not available online.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="cd53da8e-6d0f-a622-b904-5404b2cd7928c4" aria-expanded="true" class="c_panel-heading collapsed" data-target="#cd53da8e-6d0f-a622-b904-5404b2cd7928c4" data-toggle="collapse" id="cd53da8e-6d0f-a622-b904-5404b2cd7928h4" role="tab">
          <h4 class="c_panel-title">Can I return a gift card for a refund?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="cd53da8e-6d0f-a622-b904-5404b2cd7928h4" class="c_panel-collapse collapse" id="cd53da8e-6d0f-a622-b904-5404b2cd7928c4" role="tabpanel">
          <div class="c_panel-body">
            Belk gift cards are not returnable, but they never expire.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c_group">
  <div class="col-md-24">
    <div aria-multiselectable="true" class="c_panel-group accordion" id="0c820fbb-49f5-4b6a-87e6-f5830ef5336d" role="tablist">
      <div class="c_panel c_panel-primary" id="0c820fbb-49f5-4b6a-87e6-f5830ef5336dprimarypanel">
        <div class="c_panel-heading" id="primaryh1" role="tab">
          <h4 class="c_panel-title-main">Wish List</h4>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="0c820fbb-49f5-4b6a-87e6-f5830ef5336dc0" aria-expanded="false" class="c_panel-heading collapsed" data-target="#0c820fbb-49f5-4b6a-87e6-f5830ef5336dc0" data-toggle="collapse" id="0c820fbb-49f5-4b6a-87e6-f5830ef5336dh0" role="tab">
          <h4 class="c_panel-title">What is the wish list?</h4><span class="c_panel-icon"></span> 
        </div>
        <div aria-expanded="false" aria-labelledby="0c820fbb-49f5-4b6a-87e6-f5830ef5336dh0" class="c_panel-collapse collapse" id="0c820fbb-49f5-4b6a-87e6-f5830ef5336dc0" role="tabpanel" style="height: 0px;">
          <div class="c_panel-body">
            Belk.com allows you to create a personalized list of items on the site that you really want. You can share it with friends and family for gift ideas or keep track for yourself until you're ready to make a purchase.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="0c820fbb-49f5-4b6a-87e6-f5830ef5336dc1" aria-expanded="true" class="c_panel-heading collapsed" data-target="#0c820fbb-49f5-4b6a-87e6-f5830ef5336dc1" data-toggle="collapse" id="0c820fbb-49f5-4b6a-87e6-f5830ef5336dh1" role="tab">
          <h4 class="c_panel-title">How do I create a wish list?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="0c820fbb-49f5-4b6a-87e6-f5830ef5336dh1" class="c_panel-collapse collapse" id="0c820fbb-49f5-4b6a-87e6-f5830ef5336dc1" role="tabpanel">
          <div class="c_panel-body">
            If you already have an account on belk.com, all you have to do to create a wish list is select "Add to Wish List" from any product detail page after entering the relevant color, size and quantity.<br>
            <br>
            If you don't have an account, you'll need to create one in order to add items to your wish list. You can create an account by using the Sign In/Register link at the top of the page.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="0c820fbb-49f5-4b6a-87e6-f5830ef5336dc2" aria-expanded="true" class="c_panel-heading collapsed" data-target="#0c820fbb-49f5-4b6a-87e6-f5830ef5336dc2" data-toggle="collapse" id="0c820fbb-49f5-4b6a-87e6-f5830ef5336dh2" role="tab">
          <h4 class="c_panel-title">How do I share my wish list?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="0c820fbb-49f5-4b6a-87e6-f5830ef5336dh2" class="c_panel-collapse collapse" id="0c820fbb-49f5-4b6a-87e6-f5830ef5336dc2" role="tabpanel">
          <div class="c_panel-body">
            Go to your My Account page using the link at the top of belk.com. Click "View Full Wish Lis". Select the link from there that says "Email page to a friend". Enter the email address of the person you wish to send the list to, your name and email address, then a personal message. Click "Send".<br>
            <br>
            You can also share your wish list using Facebook or Twitter. Simply click on the Share button then choose your preferred social media option.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="0c820fbb-49f5-4b6a-87e6-f5830ef5336dc3" aria-expanded="true" class="c_panel-heading collapsed" data-target="#0c820fbb-49f5-4b6a-87e6-f5830ef5336dc3" data-toggle="collapse" id="0c820fbb-49f5-4b6a-87e6-f5830ef5336dh3" role="tab">
          <h4 class="c_panel-title">How do I remove an item from my wish list?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="0c820fbb-49f5-4b6a-87e6-f5830ef5336dh3" class="c_panel-collapse collapse" id="0c820fbb-49f5-4b6a-87e6-f5830ef5336dc3" role="tabpanel">
          <div class="c_panel-body">
            From your wish list page, check the box next to the item you wish to remove marked "Select Item". At the bottom of the page, click "Delete selected item".
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="0c820fbb-49f5-4b6a-87e6-f5830ef5336dc4" aria-expanded="true" class="c_panel-heading collapsed" data-target="#0c820fbb-49f5-4b6a-87e6-f5830ef5336dc4" data-toggle="collapse" id="0c820fbb-49f5-4b6a-87e6-f5830ef5336dh4" role="tab">
          <h4 class="c_panel-title">How do I purchase an item once I have added it to my wish list?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="0c820fbb-49f5-4b6a-87e6-f5830ef5336dh4" class="c_panel-collapse collapse" id="0c820fbb-49f5-4b6a-87e6-f5830ef5336dc4" role="tabpanel">
          <div class="c_panel-body">
            When viewing your wish list, check the box next to the item you would like to purchase, then click Add to Shopping Bag.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="c_group">
  <div class="col-md-24">
    <div aria-multiselectable="true" class="c_panel-group accordion" id="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccb" role="tablist">
      <div class="c_panel c_panel-primary" id="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbprimarypanel">
        <div class="c_panel-heading" id="primaryh1" role="tab">
          <h4 class="c_panel-title-main">Security Information</h4>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbc0" aria-expanded="true" class="c_panel-heading collapsed" data-target="#5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbc0" data-toggle="collapse" id="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbh0" role="tab">
          <h4 class="c_panel-title">What kind of security does belk.com offer for my online credit card purchases?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbh0" class="c_panel-collapse collapse" id="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbc0" role="tabpanel">
          <div class="c_panel-body">
            Belk.com uses Secure Sockets Layer (SSL), the industry standard for Internet Commerce transaction security, to encrypt your credit card and personal information as it travels over the Internet to our secure servers. In addition, we employ an outside third party company to periodically test the security of our servers and ensure all credit card and personal information is properly safeguarded. As a result you can shop with confidence on belk.com.<br>
            <br>
            In the unlikely event unauthorized charges (as determined by your card issuer) are made on your credit card as a result of purchases made on belk.com utilizing our secure servers, Belk will reimburse you for up to $50 of any amount you are required to pay by the card issuer. Under the Fair Credit Billing Act (FCBA), Federal law limits your responsibility for unauthorized charges to $50; thus, Belk will cover you for this liability. In the event of an unauthorized use of your credit card, remember to notify the card issuer in writing as soon as possible.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbc1" aria-expanded="true" class="c_panel-heading collapsed" data-target="#5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbc1" data-toggle="collapse" id="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbh1" role="tab">
          <h4 class="c_panel-title">Will belk.com sell or share my email address information with other companies?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbh1" class="c_panel-collapse collapse" id="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbc1" role="tabpanel">
          <div class="c_panel-body">
            Belk.com has a strict policy of not sharing, selling or trading email address information with any other companies. Our policy is to protect this information and to only use it for communications purposes only. At belk.com, we are committed to ensuring the privacy of our customers. View belk.com's Privacy Policy.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbc2" aria-expanded="true" class="c_panel-heading collapsed" data-target="#5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbc2" data-toggle="collapse" id="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbh2" role="tab">
          <h4 class="c_panel-title">What if my credit card becomes lost or stolen?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbh2" class="c_panel-collapse collapse" id="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbc2" role="tabpanel">
          <div class="c_panel-body">
            Please contact your credit card company at one of the telephone numbers listed.<br>
            <br>
            Belk Rewards Card 1-800-669-6550<br> 
            MasterCard 1-800-627-8372<br>
            Discover 1-800-DISCOVER or 1-800-347-2683<br> 
            Visa 1-800-847-2911<br> 
            American Express 1-800-528-4800
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbc3" aria-expanded="true" class="c_panel-heading collapsed" data-target="#5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbc3" data-toggle="collapse" id="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbh3" role="tab">
          <h4 class="c_panel-title">What if there are fraudulent purchases made to my account?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbh3" class="c_panel-collapse collapse" id="5fb7d773-3fa9-fdbe-2ba1-e71fd7ca3ccbc3" role="tabpanel">
          <div class="c_panel-body">
            Please contact your credit card company at one of the telephone numbers listed.<br>
            <br>
            Belk Rewards Card1-800-669-6550 MasterCard1-800-627-8372 Discover1-800-DISCOVER or 1-800-347-2683 Visa1-800-847-2911 American Express1-800-528-4800<br>
            <br>
            For further assistance, please call Belk Customer Service at 1-866-235-5443 between 7am – 11pm (EST) Monday through Friday, 7am – 11pm Saturday and Sunday. Please note: We are closed Christmas Day. You can also chat live at Belk.com, between 7am – 11pm (EST) Monday through Friday, 7am – 11pm Saturday and Sunday.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c_group">
  <div class="col-md-24">
    <div aria-multiselectable="true" class="c_panel-group accordion" id="10f36226-ec68-47ff-51ef-06ca62b5fccc" role="tablist">
      <div class="c_panel c_panel-primary" id="10f36226-ec68-47ff-51ef-06ca62b5fcccprimarypanel">
        <div class="c_panel-heading" id="primaryh1" role="tab">
          <h4 class="c_panel-title-main">Shipping Information</h4>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="10f36226-ec68-47ff-51ef-06ca62b5fcccc0" aria-expanded="true" class="c_panel-heading collapsed" data-target="#10f36226-ec68-47ff-51ef-06ca62b5fcccc0" data-toggle="collapse" id="10f36226-ec68-47ff-51ef-06ca62b5fccch0" role="tab">
          <h4 class="c_panel-title">How can I find a Belk store in my area?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="10f36226-ec68-47ff-51ef-06ca62b5fccch0" class="c_panel-collapse collapse" id="10f36226-ec68-47ff-51ef-06ca62b5fcccc0" role="tabpanel">
          <div class="c_panel-body">
            The Store Locator lets you create a list of Belk locations near you, access directions and view store hours and contact information.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="10f36226-ec68-47ff-51ef-06ca62b5fcccc1" aria-expanded="true" class="c_panel-heading collapsed" data-target="#10f36226-ec68-47ff-51ef-06ca62b5fcccc1" data-toggle="collapse" id="10f36226-ec68-47ff-51ef-06ca62b5fccch1" role="tab">
          <h4 class="c_panel-title">What products are available online?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="10f36226-ec68-47ff-51ef-06ca62b5fccch1" class="c_panel-collapse collapse" id="10f36226-ec68-47ff-51ef-06ca62b5fcccc1" role="tabpanel">
          <div class="c_panel-body">
            Our most popular women's and men's apparel, juniors' and kids' apparel, shoes, cosmetics, fragrances, accessories, home products and Wedding Registry items are available online. Each month, more of our exciting brands will be added to the website. The product assortment may occasionally differ between Belk stores and the belk.com website.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="10f36226-ec68-47ff-51ef-06ca62b5fcccc2" aria-expanded="true" class="c_panel-heading collapsed" data-target="#10f36226-ec68-47ff-51ef-06ca62b5fcccc2" data-toggle="collapse" id="10f36226-ec68-47ff-51ef-06ca62b5fccch2" role="tab">
          <h4 class="c_panel-title">What forms of payment are accepted for online purchases?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="10f36226-ec68-47ff-51ef-06ca62b5fccch2" class="c_panel-collapse collapse" id="10f36226-ec68-47ff-51ef-06ca62b5fcccc2" role="tabpanel">
          <div class="c_panel-body">
            Belk accepts the Belk Rewards Card as well as Visa, MasterCard, Discover and American Express credit cards.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="10f36226-ec68-47ff-51ef-06ca62b5fcccc3" aria-expanded="true" class="c_panel-heading collapsed" data-target="#10f36226-ec68-47ff-51ef-06ca62b5fcccc3" data-toggle="collapse" id="10f36226-ec68-47ff-51ef-06ca62b5fccch3" role="tab">
          <h4 class="c_panel-title">Why should I create an account with belk.com?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="10f36226-ec68-47ff-51ef-06ca62b5fccch3" class="c_panel-collapse collapse" id="10f36226-ec68-47ff-51ef-06ca62b5fcccc3" role="tabpanel">
          <div class="c_panel-body">
            Registering with belk.com has numerous advantages. Not only will signing up in advance speed the ordering process, it will also allow you to view a history of all past orders, access a shopping bag from any personal computer, and receive email updates about special promotions and store events.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c_group">
  <div class="col-md-24">
    <div aria-multiselectable="true" class="c_panel-group accordion" id="2e576100-1e62-754f-8769-caf6f35f9aef" role="tablist">
      <div class="c_panel c_panel-primary" id="2e576100-1e62-754f-8769-caf6f35f9aefprimarypanel">
        <div class="c_panel-heading" id="primaryh1" role="tab">
          <h4 class="c_panel-title-main">California Proposition 65</h4>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="2e576100-1e62-754f-8769-caf6f35f9aefc0" aria-expanded="true" class="c_panel-heading collapsed" data-target="#2e576100-1e62-754f-8769-caf6f35f9aefc0" data-toggle="collapse" id="2e576100-1e62-754f-8769-caf6f35f9aefh0" role="tab">
          <h4 class="c_panel-title">What is California Proposition 65?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="2e576100-1e62-754f-8769-caf6f35f9aefh0" class="c_panel-collapse collapse" id="2e576100-1e62-754f-8769-caf6f35f9aefc0" role="tabpanel">
          <div class="c_panel-body">
            In 1986, California voters approved the Safe Drinking Water and Toxic Enforcement Act known as Proposition 65. The purpose of Proposition 65 is to ensure that people are informed about exposure to chemicals known by the State of California to cause cancer, birth defects and/or other reproductive harm.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="2e576100-1e62-754f-8769-caf6f35f9aefc1" aria-expanded="true" class="c_panel-heading collapsed" data-target="#2e576100-1e62-754f-8769-caf6f35f9aefc1" data-toggle="collapse" id="2e576100-1e62-754f-8769-caf6f35f9aefh1" role="tab">
          <h4 class="c_panel-title">What are the requirements of Proposition 65?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="2e576100-1e62-754f-8769-caf6f35f9aefh1" class="c_panel-collapse collapse" id="2e576100-1e62-754f-8769-caf6f35f9aefc1" role="tabpanel">
          <div class="c_panel-body">
            Proposition 65 mandates that the Governor of California maintain and publish a list of chemicals that are known to cause cancer, birth defects and/or other reproductive harm. The list, which must be updated annually, includes a wide variety of chemicals that can be found in dyes, solvents, drugs, food-additives, by-products of certain processes, pesticides and tobacco products.<br>
            <br>
            A company with ten or more employees that operates within the State of California (or sells products in California) must comply with the requirements of Proposition 65. To comply, businesses are: (1) prohibited from knowingly discharging listed chemicals into sources of drinking water; and (2) required to provide a "clear and reasonable" warning before knowingly and intentionally exposing anyone to a listed chemical.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="2e576100-1e62-754f-8769-caf6f35f9aefc2" aria-expanded="true" class="c_panel-heading collapsed" data-target="#2e576100-1e62-754f-8769-caf6f35f9aefc2" data-toggle="collapse" id="2e576100-1e62-754f-8769-caf6f35f9aefh2" role="tab">
          <h4 class="c_panel-title">What types of chemicals are on the Proposition 65 list?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="2e576100-1e62-754f-8769-caf6f35f9aefh2" class="c_panel-collapse collapse" id="2e576100-1e62-754f-8769-caf6f35f9aefc2" role="tabpanel">
          <div class="c_panel-body">
            The list contains more than 850 chemicals, and must be updated once a year. The list has a wide range of naturally occurring and synthetic chemicals that are known to cause cancer or birth defects or reproductive harm. These chemicals can be used in common manufacturing or construction practices, or may be byproducts of chemical processes, such as motor vehicle exhaust.
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="2e576100-1e62-754f-8769-caf6f35f9aefc3" aria-expanded="true" class="c_panel-heading collapsed" data-target="#2e576100-1e62-754f-8769-caf6f35f9aefc3" data-toggle="collapse" id="2e576100-1e62-754f-8769-caf6f35f9aefh3" role="tab">
          <h4 class="c_panel-title">What product categories might include chemicals that are covered under this warning?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="2e576100-1e62-754f-8769-caf6f35f9aefh3" class="c_panel-collapse collapse" id="2e576100-1e62-754f-8769-caf6f35f9aefc3" role="tabpanel">
          <div class="c_panel-body">
            There are many commonly used items that may contain listed chemicals subject to the State of California's Proposition 65 mandates. Some of the products that may require California Proposition 65 warning labels include:<br>
            <br>
            Products made with Fabric, Leather, Vinyl, Foam, Synthetic and Non-woven Material Glassware, Ceramics and Tableware Batteries and/or Products that contain batteries Beauty Products (including first-aid kits and lotions)
          </div>
        </div>
      </div>
      <div class="c_panel c_panel-default">
        <div aria-controls="2e576100-1e62-754f-8769-caf6f35f9aefc4" aria-expanded="true" class="c_panel-heading collapsed" data-target="#2e576100-1e62-754f-8769-caf6f35f9aefc4" data-toggle="collapse" id="2e576100-1e62-754f-8769-caf6f35f9aefh4" role="tab">
          <h4 class="c_panel-title">Where can I find more information about Proposition 65?</h4><span class="c_panel-icon"></span>
        </div>
        <div aria-labelledby="2e576100-1e62-754f-8769-caf6f35f9aefh4" class="c_panel-collapse collapse" id="2e576100-1e62-754f-8769-caf6f35f9aefc4" role="tabpanel">
          <div class="c_panel-body">
            For general information on the Proposition 65 list of chemicals, you may contact OEHHA's Proposition 65 program at (916) 445-6900, or visit http://www.oehha.ca.gov/prop65.html. For enforcement information, contact the California Attorney General's Office at (510) 622-2160, or visit http://ag.ca.gov/prop65/
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 




      
