
      <div class="c_group">
        <div class="col-xs-24 col-sm-12">
          <h3 class="sub-title">Easy Returns</h3>
          <p>If, for whatever reason, you are not satisfied with your order, exchanging it or returning it for a full purchase-price refund is easy <a href="#link-to-come">Learn More</a></p>
          <h3 class="sub-title">Privacy</h3>
          <p>We respect your privacy.  Our Privacy Policy details whate we do &amp; do not do with the informations you privde to us, and the steps we take to keep your information protected &amp; secure. <a href="#link-to-come">Learn More</a></p>
          <h3 class="sub-title">Terms of Use &amp; Social Networking</h3>
          <p>The following Terms of Use govern your use of this site &amp; the purchase of products from belk.com.  The Social Networking Community Policy governs social networking with Belk through our various community programs, websites &amp; forums. <a href="#link-to-come">Learn More</a></p>
        </div>
        <div class="col-xs-24 col-sm-12">
          <h3 class="sub-title">Security</h3>
          <p>We understand the importace of security, and use Secure Sockets Layer (SSL) - the industry standard for Internet Commerce transaction security - to encrypt your credit card &amp; personal information as it travels across the Internet to our secure servers. <a href="#link-to-come">Learn More</a></p>
          <h3 class="sub-title">Pricing</h3>
          <p>It's our goal to ensure our pricing is accurate at all times.  However, in the event there is a pricing or product description error, we reserve teh right to fix any of these inaccuracies <a href="#link-to-come">Learn More</a></p>
          <h3 class="sub-title">Accessibility Guidelines</h3>
          <p>Are you experiencing difficulties shopping our site?  Let us help you. <a href="#link-to-come">Learn More</a></p>
        </div>
      </div>


 




      
