
<p class="body-copy">On this page, you’ll find a convenient listing of valid rebate offers currently available on belk.com purchases, as well as recent rebate offers from within the past 30 days. This page will be updated frequently to accurately reflect the addition of new offers, and the expiration of others.
Plus, sign up to receive belk.com e-mails for all the latest rebate offers and information. See the bottom of this page to register.</p>


<!-- table here -->
<table class="belk__table c_text--left c_hidden-xs">
	<thead>
		<tr>
			<th>Brand</th>
			<th>Start</th>
			<th>End</th>
			<th>Offer</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Keurig</td>
			<td>12/12/2016</td>
			<td>12/18/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk46/20MIRKeurigBiggestSale.pdf" target="_blank">RECEIVE A $20 MAIL-IN REBATE WITH THE PURCHASE OF A KEURIG K55 OR K15 BREWER</a>
			</td>
		</tr>
		<tr>
			<td>Bella</td>
			<td>12/12/2016</td>
			<td>12/18/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk46/10MIRBellaElectricsBiggestSale.pdf" target="_blank">Receive a $10 Mail-In Rebate with the purchase of select Bella Kitchen Electrics</a>
			</td>
		</tr>
		<tr>
			<td>Jessica Simpson</td>
			<td>12/04/2016</td>
			<td>12/17/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/JessicaSimpsonDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON JESSICA SIMPSON JEWEL PLAID</a>
			</td>
		</tr>
		<tr>
			<td>London Fog</td>
			<td>12/04/2016</td>
			<td>12/17/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/LondonFogDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON LONDON FOG CAMBRIDGE, KENSINGTON, OR KNIGHTSBRIDGE</a>
			</td>
		</tr>
		<tr>
			<td>High Sierra</td>
			<td>12/04/2016</td>
			<td>12/17/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/HighSierraDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON HIGH SIERRA SPORT TOUR</a>
			</td>
		</tr>
		<tr>
			<td>Vince Camuto</td>
			<td>12/04/2016</td>
			<td>12/17/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/VinceCamutoDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON VINCE CAMUTO DERYA</a>
			</td>
		</tr>
		<tr>
			<td>Ricardo</td>
			<td>12/04/2016</td>
			<td>12/17/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/RicardoDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON RICARDO MAR VISTA 2.0, SAN MARCOS, OR SAN CLEMENTE</a>
			</td>
		</tr>
		<tr>
			<td>Samsonite</td>
			<td>12/04/2016</td>
			<td>12/17/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/SamsoniteDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON SAMSONITE OMNI</a>
			</td>
		</tr>
		<tr>
			<td>Delsey</td>
			<td>12/04/2016</td>
			<td>12/17/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/Delseyupdateddecemberhome.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON DELSEY GLIDE LITE LUGGAGE</a>
			</td>
		</tr>
		<tr>
			<td>Nautica</td>
			<td>12/04/2016</td>
			<td>12/17/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/NauticaDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON NAUTICA HARPSWELL</a>
			</td>
		</tr>
		<tr>
			<td>T-Fal</td>
			<td>12/04/2016</td>
			<td>12/17/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/TFalBelkPerformapro127-121016.pdf" target="_blank">Receive a $20 Belk Gift Card with purchase of T-Fal 14pc Techno Release</a>
			</td>
		</tr>
		<tr>
			<td>KitchenAid</td>
			<td>11/14/2016</td>
			<td>12/24/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk42/50VisaSelectTiltHeadStandMixerRebateForm111416-122416.pdf" target="_blank">Receive a $50 Mail-In Rebate with the purchase of a Select KitchenAid Mixer</a>
			</td>
		</tr>
		<tr>
			<td>KitchenAid</td>
			<td>11/20/2016</td>
			<td>11/27/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/30VisaonClassicStandMixerRebateForm112016-112716.pdf" target="_blank">Receive a $30 Mail-In Rebate with the purchase of a KitchenAid Classic Stand Mixer</a>
			</td>
		</tr>
		<tr>
			<td>KitchenAid</td>
			<td>11/22/2016</td>
			<td>11/26/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/KitchenAide11.20-12.24Mixer50Rebate.pdf" target="_blank">Receive a $50 Mail-In Rebate with the purchase of a select KitchenAid Mixer</a>
			</td>
		</tr>
		<tr>
			<td>Keurig</td>
			<td>11/22/2016</td>
			<td>11/26/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/15MIRKeurigK55BrewerAfter-Thanks.pdf" target="_blank">Receive a $15 Mail-In Rebate with the purchase of a Keurig K55 Brewer</a>
			</td>
		</tr>
		<tr>
			<td>Bella, CrockPot, Dash, Oyster, Sunbeam</td>
			<td>11/22/2016</td>
			<td>11/26/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/10MIRKitchenElectricsAfter-Thanks.pdf" target="_blank">Receive a $10 Mail-In Rebate with the purchase of select Kitchen Electrics</a>
			</td>
		</tr>
		<tr>
			<td>Bella</td>
			<td>11/22/2016</td>
			<td>11/26/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/12MIRBellaElectricsAfter-Thanks.pdf" target="_blank">Receive a $12 Mail-In Rebate with the purchase of select Bella Kitchen Electrics</a>
			</td>
		</tr>
		<tr>
			<td>Bella</td>
			<td>11/22/2016</td>
			<td>11/26/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/10MIRBellaAirFryerorPressureCookerAfter-Thanks.pdf" target="_blank">Receive a $10 Mail-In Rebate with the purchase of a Bella Air Fryer or Pressure Cooker</a>
			</td>
		</tr>
		<tr>
			<td>Pyrex</td>
			<td>11/22/2016</td>
			<td>11/26/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/10PyrexBelkBFRebatePyrexNovember2016.pdf" target="_blank">Receive a $10 MAIL IN REBATE WHEN PURCHASING PYREX 18PC STORAGE SET</a>
			</td>
		</tr>
		<tr>
			<td>Corningware</td>
			<td>11/22/2016</td>
			<td>11/26/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/10CorningwareBelkBFRebateCorningwareNovember2016.pdf" target="_blank">Receive a $10 MAIL IN REBATE WHEN PURCHASING CORNINGWARE 10PC FRENCH WHITE SET</a>
			</td>
		</tr>
		<tr>
			<td>Anchor Hocking</td>
			<td>11/22/2016</td>
			<td>11/26/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/AnchorHocking10AfterThanksStorageRebate.pdf" target="_blank">$10 MAIL IN REBATE WHEN PURCHASING ANCHOR HOCKING 16PC STORAGE SET OR 24PC STORAGE SET</a>
			</td>
		</tr>
		<tr>
			<td>Paula Deen</td>
			<td>11/22/2016</td>
			<td>11/26/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/71099-PaulaDeen20BelkRebateForm11.22.16-11.26.16.pdf" target="_blank">$20 MAIL IN REBATE WHEN PURCHASING 12PC PAULA DEEN RIVERBEND SET</a>
			</td>
		</tr>
		<tr>
			<td>KitchenAid</td>
			<td>11/14/2016</td>
			<td>12/24/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk41/20VisaonDiamondBlenderRebateForm111116-122416.pdf" target="_blank">Receive a $20 Mail-In Rebate with the purchase of a KitchenAid Diamond Blender</a>
			</td>
		</tr>
		<tr>
			<td>KitchenAid</td>
			<td>11/11/2016</td>
			<td>12/24/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk42/10VisaonSelectDripCoffeeMakerRebateForm111816-122416.pdf" target="_blank">Receive a $10 Mail-In Rebate with the purchase of a Select KitchenAid Coffeemaker</a>
			</td>
		</tr>
		<tr>
			<td>T-Fal</td>
			<td>11/06/2016</td>
			<td>11/19/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk41/BelkOpenStock5Rebate116-111916.pdf" target="_blank">RECEIVE A $5 MAIL IN REBATE WHEN PURCHASING T-FAL JUMBO COOKER, COLOR LUXE 12" FRYING PAN, TRIPLE FRY PAN PACK</a>
			</td>
		</tr>
		<tr>
			<td>Delsey</td>
			<td>11/02/2016</td>
			<td>11/12/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Oct_2016/Wk40/DelseyWinterHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON DELSEY SKY2.0 OR DELSEY GLIDE LITE LUGGAGE</a>
			</td>
		</tr>
		<tr>
			<td>Randa</td>
			<td>11/02/2016</td>
			<td>11/12/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Oct_2016/Wk40/NineWestWinterHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON NINE WEST ARIEANA</a>
			</td>
		</tr>
		<tr>
			<td>Samsonite</td>
			<td>11/02/2016</td>
			<td>11/12/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Oct_2016/Wk40/SamsoniteWinterHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON SAMSONITE XLITE</a>
			</td>
		</tr>
		<tr>
			<td>Ricardo</td>
			<td>11/02/2016</td>
			<td>11/12/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Oct_2016/Wk40/RicardoNovemberRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON RICARDO MAR VISTA 2.0 OR RICARDO MALIBU BAY</a>
			</td>
		</tr>
		<tr>
			<td>American Tourister</td>
			<td>11/02/2016</td>
			<td>11/12/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Oct_2016/Wk40/SamsoniteWinterHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON AMERICAN TOURISTER ILITE MAX LUGGAGE</a>
			</td>
		</tr>
		<tr>
			<td>London Fog</td>
			<td>11/02/2016</td>
			<td>11/12/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Oct_2016/Wk40/LondonFogWinterHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON LONDON FOG CAMBRIDGE</a>
			</td>
		</tr>
		<tr>
			<td>Crock-Pot</td>
			<td>10/02/2016</td>
			<td>11/30/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Sept_2016/Wk36/CRP45578CrocktoberRebateTearpad_FINAL.pdf" target="_blank">$5 Mail-In Rebate on any* Crock-Pot Slow Cooker priced $24.50 or higher, *Excludes NCAA/NFL</a>
			</td>
		</tr>
		<tr>
			<td>Cuisinart</td>
			<td>10/02/2016</td>
			<td>12/31/2016</td>
			<td>
				<a class="pdf" href="/media/pdf/rebates/Sept_2016/Wk36/20MIRCuisinartGR150.pdf" target="_blank">$20 Mail-In Rebate with the purchase of a Cuisinart Deluxe Griddler</a>
			</td>
		</tr>
	</tbody>
</table>

<div class="row belk__display belk__display--1-3 c_hidden-sm c_hidden-lg c_hidden-md">
<table>
			<tr><td>Brand:</td><td>Keurig</td></tr>
			<tr><td>Start:</td><td>12/12/2016</td></tr>
			<tr><td>End:</td><td>12/18/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk46/20MIRKeurigBiggestSale.pdf" target="_blank">RECEIVE A $20 MAIL-IN REBATE WITH THE PURCHASE OF A KEURIG K55 OR K15 BREWER</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Bella</td></tr>
			<tr><td>Start:</td><td>12/12/2016</td></tr>
			<tr><td>End:</td><td>12/18/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk46/10MIRBellaElectricsBiggestSale.pdf" target="_blank">Receive a $10 Mail-In Rebate with the purchase of select Bella Kitchen Electrics</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Jessica Simpson</td></tr>
			<tr><td>Start:</td><td>12/04/2016</td></tr>
			<tr><td>End:</td><td>12/17/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/JessicaSimpsonDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON JESSICA SIMPSON JEWEL PLAID</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>London Fog</td></tr>
			<tr><td>Start:</td><td>12/04/2016</td></tr>
			<tr><td>End:</td><td>12/17/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/LondonFogDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON LONDON FOG CAMBRIDGE, KENSINGTON, OR KNIGHTSBRIDGE</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>High Sierra</td></tr>
			<tr><td>Start:</td><td>12/04/2016</td></tr>
			<tr><td>End:</td><td>12/17/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/HighSierraDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON HIGH SIERRA SPORT TOUR</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Vince Camuto</td></tr>
			<tr><td>Start:</td><td>12/04/2016</td></tr>
			<tr><td>End:</td><td>12/17/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/VinceCamutoDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON VINCE CAMUTO DERYA</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Ricardo</td></tr>
			<tr><td>Start:</td><td>12/04/2016</td></tr>
			<tr><td>End:</td><td>12/17/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/RicardoDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON RICARDO MAR VISTA 2.0, SAN MARCOS, OR SAN CLEMENTE</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Samsonite</td></tr>
			<tr><td>Start:</td><td>12/04/2016</td></tr>
			<tr><td>End:</td><td>12/17/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/SamsoniteDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON SAMSONITE OMNI</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Delsey</td></tr>
			<tr><td>Start:</td><td>12/04/2016</td></tr>
			<tr><td>End:</td><td>12/17/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/Delseyupdateddecemberhome.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON DELSEY GLIDE LITE LUGGAGE</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Nautica</td></tr>
			<tr><td>Start:</td><td>12/04/2016</td></tr>
			<tr><td>End:</td><td>12/17/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/NauticaDecemberHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON NAUTICA HARPSWELL</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>T-Fal</td></tr>
			<tr><td>Start:</td><td>12/04/2016</td></tr>
			<tr><td>End:</td><td>12/17/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Dec_2016/Wk45/TFalBelkPerformapro127-121016.pdf" target="_blank">Receive a $20 Belk Gift Card with purchase of T-Fal 14pc Techno Release</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>KitchenAid</td></tr>
			<tr><td>Start:</td><td>11/14/2016</td></tr>
			<tr><td>End:</td><td>12/24/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk42/50VisaSelectTiltHeadStandMixerRebateForm111416-122416.pdf" target="_blank">Receive a $50 Mail-In Rebate with the purchase of a Select KitchenAid Mixer</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>KitchenAid</td></tr>
			<tr><td>Start:</td><td>11/20/2016</td></tr>
			<tr><td>End:</td><td>11/27/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/30VisaonClassicStandMixerRebateForm112016-112716.pdf" target="_blank">Receive a $30 Mail-In Rebate with the purchase of a KitchenAid Classic Stand Mixer</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>KitchenAid</td></tr>
			<tr><td>Start:</td><td>11/22/2016</td></tr>
			<tr><td>End:</td><td>11/26/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/KitchenAide11.20-12.24Mixer50Rebate.pdf" target="_blank">Receive a $50 Mail-In Rebate with the purchase of a select KitchenAid Mixer</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Keurig</td></tr>
			<tr><td>Start:</td><td>11/22/2016</td></tr>
			<tr><td>End:</td><td>11/26/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/15MIRKeurigK55BrewerAfter-Thanks.pdf" target="_blank">Receive a $15 Mail-In Rebate with the purchase of a Keurig K55 Brewer</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Bella, CrockPot, Dash, Oyster, Sunbeam</td></tr>
			<tr><td>Start:</td><td>11/22/2016</td></tr>
			<tr><td>End:</td><td>11/26/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/10MIRKitchenElectricsAfter-Thanks.pdf" target="_blank">Receive a $10 Mail-In Rebate with the purchase of select Kitchen Electrics</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Bella</td></tr>
			<tr><td>Start:</td><td>11/22/2016</td></tr>
			<tr><td>End:</td><td>11/26/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/12MIRBellaElectricsAfter-Thanks.pdf" target="_blank">Receive a $12 Mail-In Rebate with the purchase of select Bella Kitchen Electrics</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Bella</td></tr>
			<tr><td>Start:</td><td>11/22/2016</td></tr>
			<tr><td>End:</td><td>11/26/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/10MIRBellaAirFryerorPressureCookerAfter-Thanks.pdf" target="_blank">Receive a $10 Mail-In Rebate with the purchase of a Bella Air Fryer or Pressure Cooker</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Pyrex</td></tr>
			<tr><td>Start:</td><td>11/22/2016</td></tr>
			<tr><td>End:</td><td>11/26/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/10PyrexBelkBFRebatePyrexNovember2016.pdf" target="_blank">Receive a $10 MAIL IN REBATE WHEN PURCHASING PYREX 18PC STORAGE SET</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Corningware</td></tr>
			<tr><td>Start:</td><td>11/22/2016</td></tr>
			<tr><td>End:</td><td>11/26/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/10CorningwareBelkBFRebateCorningwareNovember2016.pdf" target="_blank">Receive a $10 MAIL IN REBATE WHEN PURCHASING CORNINGWARE 10PC FRENCH WHITE SET</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Anchor Hocking</td></tr>
			<tr><td>Start:</td><td>11/22/2016</td></tr>
			<tr><td>End:</td><td>11/26/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/AnchorHocking10AfterThanksStorageRebate.pdf" target="_blank">$10 MAIL IN REBATE WHEN PURCHASING ANCHOR HOCKING 16PC STORAGE SET OR 24PC STORAGE SET</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Paula Deen</td></tr>
			<tr><td>Start:</td><td>11/22/2016</td></tr>
			<tr><td>End:</td><td>11/26/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk43/71099-PaulaDeen20BelkRebateForm11.22.16-11.26.16.pdf" target="_blank">$20 MAIL IN REBATE WHEN PURCHASING 12PC PAULA DEEN RIVERBEND SET</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>KitchenAid</td></tr>
			<tr><td>Start:</td><td>11/14/2016</td></tr>
			<tr><td>End:</td><td>12/24/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk41/20VisaonDiamondBlenderRebateForm111116-122416.pdf" target="_blank">Receive a $20 Mail-In Rebate with the purchase of a KitchenAid Diamond Blender</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>KitchenAid</td></tr>
			<tr><td>Start:</td><td>11/11/2016</td></tr>
			<tr><td>End:</td><td>12/24/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk42/10VisaonSelectDripCoffeeMakerRebateForm111816-122416.pdf" target="_blank">Receive a $10 Mail-In Rebate with the purchase of a Select KitchenAid Coffeemaker</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>T-Fal</td></tr>
			<tr><td>Start:</td><td>11/06/2016</td></tr>
			<tr><td>End:</td><td>11/19/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Nov_2016/Wk41/BelkOpenStock5Rebate116-111916.pdf" target="_blank">RECEIVE A $5 MAIL IN REBATE WHEN PURCHASING T-FAL JUMBO COOKER, COLOR LUXE 12" FRYING PAN, TRIPLE FRY PAN PACK</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Delsey</td></tr>
			<tr><td>Start:</td><td>11/02/2016</td></tr>
			<tr><td>End:</td><td>11/12/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Oct_2016/Wk40/DelseyWinterHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON DELSEY SKY2.0 OR DELSEY GLIDE LITE LUGGAGE</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Randa</td></tr>
			<tr><td>Start:</td><td>11/02/2016</td></tr>
			<tr><td>End:</td><td>11/12/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Oct_2016/Wk40/NineWestWinterHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON NINE WEST ARIEANA</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Samsonite</td></tr>
			<tr><td>Start:</td><td>11/02/2016</td></tr>
			<tr><td>End:</td><td>11/12/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Oct_2016/Wk40/SamsoniteWinterHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON SAMSONITE XLITE</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Ricardo</td></tr>
			<tr><td>Start:</td><td>11/02/2016</td></tr>
			<tr><td>End:</td><td>11/12/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Oct_2016/Wk40/RicardoNovemberRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON RICARDO MAR VISTA 2.0 OR RICARDO MALIBU BAY</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>American Tourister</td></tr>
			<tr><td>Start:</td><td>11/02/2016</td></tr>
			<tr><td>End:</td><td>11/12/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Oct_2016/Wk40/SamsoniteWinterHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON AMERICAN TOURISTER ILITE MAX LUGGAGE</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>London Fog</td></tr>
			<tr><td>Start:</td><td>11/02/2016</td></tr>
			<tr><td>End:</td><td>11/12/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Oct_2016/Wk40/LondonFogWinterHomeRebate.pdf" target="_blank">RECEIVE A $50 BELK GIFT CARD BY MAIL WHEN YOU SPEND $300 ON LONDON FOG CAMBRIDGE</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Crock-Pot</td></tr>
			<tr><td>Start:</td><td>10/02/2016</td></tr>
			<tr><td>End:</td><td>11/30/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Sept_2016/Wk36/CRP45578CrocktoberRebateTearpad_FINAL.pdf" target="_blank">$5 Mail-In Rebate on any* Crock-Pot Slow Cooker priced $24.50 or higher, *Excludes NCAA/NFL</a>
			</td></tr>
		</table>
		<table>
			<tr><td>Brand:</td><td>Cuisinart</td></tr>
			<tr><td>Start:</td><td>10/02/2016</td></tr>
			<tr><td>End:</td><td>12/31/2016</td></tr>
			<tr><td>Offer:</td><td>
				<a class="pdf" href="/media/pdf/rebates/Sept_2016/Wk36/20MIRCuisinartGR150.pdf" target="_blank">$20 Mail-In Rebate with the purchase of a Cuisinart Deluxe Griddler</a>
			</td></tr>
		</table>
</div>


