
    <p>
        Not whate you expected? It's okay - we can help. <br/>
        We hope you love your purchase, but if it's not what you exprected - simply send your item back or bring it to a store near you.
    </p>
    <hr />
    <h3 class="sub-title">Return Items in Store</h3>
    <p>
       Please bring in the item(s), along with your merchandise receipt (within 180 days of purchase) and the original Order Summary to any Customer Service area in a land-based store near you. If you have a merchandise receipt and are within 180 days of purchase, we will refund the full purchasse price to your original form of payment.
    </p>
    <a href="#link-to-come"><i class="sprite" style="background-position: -372px -141px;width: 16px;height: 21px;margin-right: 5px;display: inline-block;"></i> <span style="vertical-align: top;">Find your nearest store</span></a>
    <h4 class="sub-title">Not located near a Belk Store</h4>
    <p>Please call or email us to specify your location and the store location whrere your item was purchased.  To help expedite the process, please have the store location address where tiem was purchased, along with your receipt (if available)</p>
    <h4 class="sub-title">Can't find your receipt?</h4>
    <p>For returns without a merchandise receipt or after 180 days from purchase, we will refund the lowest sale price offered in the last 30 days, credited to your Belk Charge or a Belk Gift Card.</p>
    <hr />

    <h3 class="sub-title">Return Items Purchased Online</h3>
    <p>It is possible to return certain item(s) purchased online to your nearest Belk location, with the exception of a few unique items (see Unique Item Returns below)
    </p>

        If you're not located near a Belk store, follow the guidelines below:
        <ul class="c_normal">
            <li> <span>Step 1: Indicate the appropriate reason beside the item ordered on the order summary section of the enclosed shipping invoice / packaging slip.</span> </li>
            <li> <span>Step 2: Package the completed form with your item, along with its original packing materials.  Secure all sides of the carton<sup>*</sup></span></li>
            <li> <span>Step 3: Cut and attache the pre-addressed bar-coded return lable (located at th ebottom of the front side of your packing slip) to the outside of the carton.</span></li>
        </ul>
    <p>
    <h4 class="sub-title">Please return Belk.com Purchases to:</h4>
    
        BFC 3805 Furran L. Ferbamd Hwy <br/>
        Jonesville, SC 28352
    </p>
    <p>
        <sup>*</sup>For returns with a shipping invoice or packing slip within 180 days of purchase, we will refund the full purchase price t your original form of payment.<br/>
       <sup>*</sup>Belk cannot accept any merchandise that is damaged in shipment due to improper packing, so please repackage all items properly.    
    </p>
     
    <h4 class="sub-title">Can't find your packing slip or invoice?</h4>
    <p>
        For returns without a shipping invoice/packing slip, or returns after 180 days from purchase, we will refund the lowest sale price offered in the last 30 days.  The refund will be credited to your Belk Charge or a Belk Gift Card.  We strongly recommend that you ship your items(s) via Fedex or USPS insured services so you shipment may be tracked, if necessary, to its final destination.
    </p>
    <p>
        Belk will refund shipping and handling costas for returns only if:
        1) your return contains defective merchandise or merchandise that was damaged durning the initial shipping process; or
        2) belk.com operations is at fault due to shipping and/or handling error(s).
    </p>
    <hr />
    <h3 class="sub-title">Unique Item Returns</h3>
    <p>
        We are unable to accept returns in store for the following products:
        <ol class="c_normal">
           <li><span>Area Rugs (4-ft. x 6-ft. and larger)</span></li> 
           <li><span>Wall Art (30-inches and larger)</span></li>
           <li><span>Small Furniture</span></li>
           <li><span>Food</span></li>
           <li><span>Baby Gear</span></li>
           <li><span>Trees</span></li>
        </ol>
    </p>
    <p>
        Please call Customer Service at 1-866-235-5443 to arrange pick-up of such items.
    </p>
    <p>
        <h4 class="sub-title">Fine Jewerly and Rug Returns</h4>
        Fine jewerly and rug returns will be accepted within 90 days of purchase with a receipt.  If you have misplaced your receipt, ask your local sales associate about our receipt look-up process.  If purchased on belk.com call Belk Customer Service: 1-866-235-5443 and select OPTION 2.
    </p>
    <hr/>
    <h3 class="sub-title">Credits</h3>
    <p>
        Most credits are posted to your credit card within 15 business days of the time that tyour returned merchandise is received by belk.com. For more information, <a href="#link-to-come">visit our FAQ page</a>.
    </p>
    <hr/>
    <h3 class="sub-title">Return Status</h3>
    <p>
        If you have any questions regarding the status of your return you may contact one of our friendly Customer Service Representatitves by email or phone.
    </p>

