
<p class="body-copy">When you select Standard Shipping, you will receive most items within 4-7 business days of the receipt of
your order. This applies to all orders placed within the 48 contiguous United States. All Belk Elite Rewards
Card customers get free standard shipping online or in store when you use your Elite card as the only form of
payment.</p>

<hr />

<h3 class="sub-title">Merchandise and Gift Card Shipping Fees</h3>

<p class="body-copy">*The information below may not reflect all current shipping promotions. To see the most current promotions,
click here.</p>

<!-- table here -->
<table class="belk__table c_hidden-xs">
    <tr>
        <th>Purchase Amount</th>
        <th>Standard</th>
        <th>Premium 2-Day</th>
        <th>Express Overnight</th>
    </tr>
    <tr>
        <td>$XX.XX or Less</td>
        <td>$XX.XX<sup>*</sup></td>
        <td>$XX.XX</td>
        <td>$XX.XX</td>
    </tr>
    <tr>
        <td>$XX.XX to $XX.XX</td>
        <td>$XX.XX<sup>*</sup></td>
        <td>$XX.XX</td>
        <td>$XX.XX</td>
    </tr>
    <tr>
        <td>$XX.XX to $XX.XX</td>
        <td>$XX.XX<sup>*</sup></td>
        <td>$XX.XX</td>
        <td>$XX.XX</td>
    </tr>
    <tr>
        <td>$XX.XX to $XX.XX</td>
        <td>$XX.XX<sup>*</sup></td>
        <td>$XX.XX</td>
        <td>$XX.XX</td>
    </tr>
    <tr>
        <td>$XX.XX to $XX.XX</td>
        <td>$XX.XX<sup>*</sup></td>
        <td>$XX.XX</td>
        <td>$XX.XX</td>
    </tr>
    <tr>
        <td>$XX.XX or greater</td>
        <td>$XX.XX<sup>*</sup></td>
        <td>$XX.XX</td>
        <td>$XX.XX</td>
    </tr>
    <tr>
        <td>Gift Cards</td>
        <td>FREE</td>
        <td>$XX.XX</td>
        <td>$XX.XX</td>
    </tr>
</table>

<div class="row belk__display c_hidden-sm c_hidden-lg c_hidden-md">
    <table>
        <tr>
            <td>Purchase Amount</td>
            <td>$XX.XX or Less</td>
        </tr>
        <tr>
            <td>Standard</td>
            <td>$XX.XX<sup>*</sup></td>
        </tr>
        <tr>
            <td>Premium 2-Day</td>
            <td>$XX.XX</td>
        </tr>
        <tr>
            <td>Express Overnight</td>
            <td>$XX.XX</td>
        </tr>
    </table>
    <hr />
    <table>
        <tr>
            <td>Purchase Amount</td>
            <td>$XX.XX to $XX.XX</td>
        </tr>
        <tr>
            <td>Standard</td>
            <td>$XX.XX<sup>*</sup></td>
        </tr>
        <tr>
            <td>Premium 2-Day</td>
            <td>$XX.XX</td>
        </tr>
        <tr>
            <td>Express Overnight</td>
            <td>$XX.XX</td>
        </tr>
    </table>
    <hr />
    <table>
        <tr>
            <td>Purchase Amount</td>
            <td>$XX.XX to $XX.XX</td>
        </tr>
        <tr>
            <td>Standard</td>
            <td>$XX.XX<sup>*</sup></td>
        </tr>
        <tr>
            <td>Premium 2-Day</td>
            <td>$XX.XX</td>
        </tr>
        <tr>
            <td>Express Overnight</td>
            <td>$XX.XX</td>
        </tr>
    </table>
    <hr />
    <table>
        <tr>
            <td>Purchase Amount</td>
            <td>$XX.XX to $XX.XX</td>
        </tr>
        <tr>
            <td>Standard</td>
            <td>$XX.XX<sup>*</sup></td>
        </tr>
        <tr>
            <td>Premium 2-Day</td>
            <td>$XX.XX</td>
        </tr>
        <tr>
            <td>Express Overnight</td>
            <td>$XX.XX</td>
        </tr>
    </table>
    <hr />
    <table>
        <tr>
            <td>Purchase Amount</td>
            <td>$XX.XX to $XX.XX</td>
        </tr>
        <tr>
            <td>Standard</td>
            <td>$XX.XX<sup>*</sup></td>
        </tr>
        <tr>
            <td>Premium 2-Day</td>
            <td>$XX.XX</td>
        </tr>
        <tr>
            <td>Express Overnight</td>
            <td>$XX.XX</td>
        </tr>
    </table>
    <hr />
        <table>
        <tr>
            <td>Purchase Amount</td>
            <td>$XX.XX or Greater</td>
        </tr>
        <tr>
            <td>Standard</td>
            <td>$XX.XX<sup>*</sup></td>
        </tr>
        <tr>
            <td>Premium 2-Day</td>
            <td>$XX.XX</td>
        </tr>
        <tr>
            <td>Express Overnight</td>
            <td>$XX.XX</td>
        </tr>
    </table>
    <hr />
        <table>
        <tr>
            <td>Purchase Amount</td>
            <td>$XX.XX or Greater</td>
        </tr>
        <tr>
            <td>Standard</td>
            <td>$XX.XX<sup>*</sup></td>
        </tr>
        <tr>
            <td>Premium 2-Day</td>
            <td>$XX.XX</td>
        </tr>
        <tr>
            <td>Express Overnight</td>
            <td>$XX.XX</td>
        </tr>
    </table>
    <hr />
    <table>
        <tr>
            <td>Purchase Amount</td>
            <td>Gift Cards</td>
        </tr>
        <tr>
            <td>Standard</td>
            <td>FREE</td>
        </tr>
        <tr>
            <td>Premium 2-Day</td>
            <td>$XX.XX</td>
        </tr>
        <tr>
            <td>Express Overnight</td>
            <td>$XX.XX</td>
        </tr>
    </table>
    <hr />
    <table>
        <tr>
            <td>Purchase Amount</td>
            <td>Gift Cards</td>
        </tr>
        <tr>
            <td>Standard</td>
            <td>FREE</td>
        </tr>
        <tr>
            <td>Premium 2-Day</td>
            <td>$XX.XX</td>
        </tr>
        <tr>
            <td>Express Overnight</td>
            <td>$XX.XX</td>
        </tr>
    </table>
</div>

<span class="body-copy">Exceptions:</span>
    <ul class="c_normal">
        <li><span>Beauty &amp; Fragrance orders of any amount ship free.</span></li>
        <li><span>If you choose to purchase a gift card(s) with any other item from belk.com, it will be shipped in a separate
        package. The package will include an order summary form & personal gift message, if appropriate.</span></li>
        <li><span>Gift cards may be redeemed in any Belk store, and at any time on belk.com.</span></li>
    </ul>

<hr />

<h3 class="sub-title">Expedited Shipping Chart</h3>

<!-- table here -->
<table class="belk__table c_hidden-xs">
    <tr>
        <th>Order by 1pm (EST)</th>
        <th>Next Day Delivery</th>
        <th>2nd Day Delivery</th>
    </tr>
    <tr>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
    </tr>
    <tr>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
    </tr>
    <tr>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
    </tr>
    <tr>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Monday</td>
    </tr>
    <tr>
        <td>Friday</td>
        <td>Monday</td>
        <td>Tuesday</td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
    </tr>
    <tr>
        <td>Sunday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
    </tr>
</table>

<div class="row belk__display c_hidden-sm c_hidden-lg c_hidden-md">
    <table>
        <tr>
            <td>Order by 1pm (EST)</td>
            <td>Monday</td>
        </tr>
        <tr>
            <td>Next Day Delivery</td>
            <td>Tuesday</td>
        </tr>
        <tr>
            <td>2nd Day Delivery</td>
            <td>Wednesday</td>
        </tr>
    </table>
        <hr />
    <table>
        <tr>
            <td>Order by 1pm (EST)</td>
            <td>Tuesday</td>
        </tr>
        <tr>
            <td>Next Day Delivery</td>
            <td>Wednesday</td>
        </tr>
        <tr>
            <td>2nd Day Delivery</td>
            <td>Thursday</td>
        </tr>
    </table>
        <hr />
    <table>
        <tr>
            <td>Order by 1pm (EST)</td>
            <td>Wednesday</td>
        </tr>
        <tr>
            <td>Next Day Delivery</td>
            <td>Thursday</td>
        </tr>
        <tr>
            <td>2nd Day Delivery</td>
            <td>Friday</td>
        </tr>
    </table>
        <hr />
    <table>
        <tr>
            <td>Order by 1pm (EST)</td>
            <td>Thursday</td>
        </tr>
        <tr>
            <td>Next Day Delivery</td>
            <td>Friday</td>
        </tr>
        <tr>
            <td>2nd Day Delivery</td>
            <td>Monday</td>
        </tr>
    </table>
        <hr />
    <table>
        <tr>
            <td>Order by 1pm (EST)</td>
            <td>Friday</td>
        </tr>
        <tr>
            <td>Next Day Delivery</td>
            <td>Monday</td>
        </tr>
        <tr>
            <td>2nd Day Delivery</td>
            <td>Tuesday</td>
        </tr>
    </table>
        <hr />
    <table>
        <tr>
            <td>Order by 1pm (EST)</td>
            <td>Saturday</td>
        </tr>
        <tr>
            <td>Next Day Delivery</td>
            <td>Tuesday</td>
        </tr>
        <tr>
            <td>2nd Day Delivery</td>
            <td>Wednesday</td>
        </tr>
    </table>
        <hr />
    <table>
        <tr>
            <td>Order by 1pm (EST)</td>
            <td>Sunday</td>
        </tr>
        <tr>
            <td>Next Day Delivery</td>
            <td>Tuesday</td>
        </tr>
        <tr>
            <td>2nd Day Delivery</td>
            <td>Wednesday</td>
        </tr>
    </table>
</div>

<span class="body-copy">Exceptions:</span>
    <ul class="c_normal">
        <li><span>Please allow 7-10 business days for all orders shipping to Alaska or Hawaii.</span></li>
        <li><span>Please allow additional delivery time for all orders placed during the holiday season.</span></li>
        <li><span>Please allow additional delivery time for all APO/FPO orders from a U.S. military mail distribution hub to
desired destination.</span></li>
    </ul>

<hr />

<h3 class="sub-title">International Shipping</h3>
<p class="body-copy">Currently, we can only ship to the contiguous United States, Alaska, Hawaii &amp; military APO/FPO addresses.</p>

<h3 class="sub-title">Mulitiple Addresses</h3>
<p class="body-copy">You can now ship to multiple addresses in the same order. In these instances, however, free shipping is
calculated by each individual address, not total order. In order to qualify for free shipping, the order shipping to
each individual address must meet the free shipping purchase threshold.</p>

<h3 class="sub-title">Hazardous Materials</h3>
<p class="body-copy">The U.S. Department of Transportation restricts air shipment of any hazardous materials including aerosols &
alcohol-based products (e.g., perfumes, deodorants, shaving cream, hairspray, nail polish, nail polish removers
&amp; pressurized spray cans). We are committed to getting your products to you as fast as possible, in the safest
&amp; most responsible way. For these items, we only offer ground delivery. Unfortunately, we are unable to offer
2-day or express overnight service with these products.</p>

<h3 class="sub-title">US Tax Policies</h3>
<p class="body-copy">Belk, Inc. operates stores throughout the Southeastern United States. (See list below.) Current law requires
Belk to collect all taxes that are applicable, based on the order's “Ship-To” ZIP code. Be advised that some
states require a tax on delivery and/or gift wrap charges as well. For online orders, all applicable taxes will be
clearly displayed on your order at checkout time.
Note: Tax rates are subject to change at any time. Belk stores are in the following states: Alabama, Arkansas,
Florida, Georgia, Kentucky, Louisiana, Maryland, Mississippi, Missouri, North Carolina, Oklahoma, South
Carolina, Tennessee, Texas, Virginia, and West Virginia. Belk is also registered to collect tax in Connecticut,
New York, Pennsylvania, South Dakota, Washington &amp; Wisconsin.</p>

<h3 class="sub-title">SC Residents 85 and older</h3>
<p class="body-copy">South Carolina residents who are aged 85 or older are entitled to a 1% South Carolina state sales tax reduction
if requested on items purchased for personal use. Upon customer request, Belk will accommodate the sales
tax reduction after the completed belk.com transaction. Please call 1-866-235-5443 to request the sales tax
reduction. Be prepared to reference your order number &amp; provide proof of your age.</p>


