
.belk-content b,.belk-content strong,.belk-content__aside b, .belk-content__aside strong{
    font-family: HelveticaNeue-Bold;
}
.belk-content__aside .fa{
    color:#0B72B4;
    font-size:40px;
}
.belk-content p {
    margin-bottom: 20px;
}

.belk-content h1{
    color:#1072b5;
}

.belk-h1{
    color:#1072b5;
    font-size: 18px;
    margin-bottom:20px;
}

.belk-content__aside hr{
    border:none;
    border-top:1px solid grey;
    margin: 20px 0;
}

.belk-content a, .belk-content__aside a{
    font-size:14px;
    color:#1072b5;
    line-height: 20px;
}

.belk-content ul a,.belk-content__aside ul a{
    color:#1072b5;
}

.belk-content ul, .belk-content__aside ul,.belk-content li, .belk-content__aside li  {
    list-style-type: none;
}

.belk-content ul.c_normal,.belk-content ul.c_normal li{
    list-style-type: initial;
}
.belk-content ol.c_normal,.belk-content ol.c_normal li{
    list-style-type: decimal;
}
.belk-content ul.c_normal,.belk-content ol.c_normal{
    padding-left: 10px;
    margin-left: 10px;
}
.belk-content ul.c_normal li,.belk-content ol.c_normal li{
    margin:5px;
    font-size:12px;
}

.belk-content ul span, .belk-content ol span{
    font-size:14px;
}

.belk-content .title{
 font-size: 18px;
 color: #1072b5;
 padding: 12px 0 13px 0;
 margin-bottom:10px;

}

.belk-content .sub-title{
    font-family: HelveticaNeue-Bold,Arial;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin:10px 0;
}
.belk-content h3.sub-title{
  font-size: 16px;
}
.belk-content h4.sub-title{
  font-size: 14px;
}


.body-copy{
    font-size: 14px;
    color: #000;
    line-height: 20px;
    margin: 0 0 20px;
}

.disclaimer-text{
    font-size: 12px;
    line-height: 14px;
}

.error-message{
    font-size:4px;
    color: #971D22
}

.italic{
    font-size: 14px;
    font-style: italic;
    font-color:#000;
}

.belk-fix #secondary .refinement-header {
    font-size:18px;
    border-bottom: 1px solid #a5a19d;
}

.belk-fix #secondary .refinement {
 margin: 0;
}

.belk-fix #secondary .refinement h3,.belk-fix #secondary .refinement h3 a {
    font-size:16px;
    color: #000;
    border-top:0;
}

.belk-fix #secondary .refinement h3{
    border-bottom:1px solid #DDDDDD;
}
/*.belk-fix #secondary .refinement:first-child h3{
    border-top:0;
}*/

.belk-fix #secondary .refinement ul li{
    background-color:#f1f1f1;


}

.belk-fix #secondary .refinement ul li a{
    color:black;
    font-size: 14px;
}
    .belk-fix #main {
        box-sizing: border-box;
        padding: 0 10px;
    }
@media screen and (min-width:768px){

   .belk-content__primary,.belk-content__aside {
        padding-left:10px;
        padding-right:10px;
        float:left;
        box-sizing: border-box;
    }

    .belk-content__primary{
        width: 58.33%
    }
    .belk-content__aside{
        width:41.66%
    }


    .belk-fix #main {
        box-sizing: border-box;
        padding: 0 18px;
    }
}





.article{
    margin-bottom: 20px;
}

.article > *{
    margin-bottom: 14px;
}
.list--disc,.list--number{
    font-size:14px;
    line-height: 20px;
    margin: 0 25px 20px ;
}
.list--disc{
    list-style: disc;
}
.belk__display{
        margin: 20px 0;
}
.belk__display tr > td{
    width:50%;
    padding: 0 12px;
}
.belk__display tr > td:first-child{
    font-family: HelveticaNeue;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}
.belk__display--1-3 tr > td:last-child{
    width:66%;
}

.belk__display--1-3 tr > td:first-child{
    width:33%;
    text-align: left;

}

.belk__table{
        margin: 20px 0;
}
.belk__table th, .belk__table td{
     padding: 12px;
}
.belk__table th{
    background-color: #1072b5;
    color:#fff;
    font-size:16px;
    line-height: 20px;
    letter-spacing: 1px;
    font-family: HelveticaNeue;
}

.belk__table--grey th{
    background-color: #F8F8F8;
    color:#000;
}
.belk__table caption{
        font-family: HelveticaNeue-Bold,Arial;
        font-size: 16px;
        font-weight: bold;
        color: #000;
        margin:10px 0;
        text-align: left;
}
.belk__table td{
    font-size: 14px;
    line-height: 20px;
}

.belk__table--lined td,.belk__table--lined th{
    border: 1px solid #DDDDDD;
}

.belk__table.c_text--center th{
    text-align: center;
}

/***** Form Style *****/
.belk__form{
}
.belk__form .tab-pane{z-index: 999;}
.belk-content .tab-pane.active{
    display:block;
    overflow: visible;
}



hr{
    margin: 20px 0;
}

.tab-pane{
    display:none;
    overflow:auto;
    max-width: 100%;
}

#secondary .belk__content-nav h3 {
    border-top-width: 0;
    font-size: 19px;
    padding: 12px 0 13px;
    border-color: #a5a19d;
}

#secondary .belk__content-nav ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    text-transform: none;
}

#secondary .belk__content-nav ul li {
    padding: 12px 0 13px;
    font-size: 14px;
    margin:0;
    border-bottom: 1px solid #dfdfdf;

}

#secondary .belk__content-nav ul li:last-child {
    border-bottom: 0;
}

#secondary .belk__content-nav a {
    text-transform: none;
}

/*** Icons ****/

.pdf {
    background: url(http://s7d4.scene7.com/is/image/Belk/icoPDF?$P_GIF_128$) 1px 0 no-repeat;
    background-position-y: 2px;
    line-height: 21px;
    padding: 0 0 0 20px;
    display: block;
}

.belk-sprite__play{
    background:url(img/icons/play_icon.png);
    background-position: 0 0;
    width:40px;
    height:40px;
}

.belk__icon{
    background: url(../images/sprite.png) no-repeat #fff;
    display: inline-block;
    top:0;
    left:0;
    margin-right:20px;
}
.belk__icon--left{
    margin-top:10px;
}
.belk__icon--app{
    background-position: -5px -154px;
    width: 49px;
    height: 50px;
}

.belk__icon--mobile{
    background-position: -292px -6px;
    width: 33px;
    height: 41px;
}

.belk__icon--email{
    background-position: -291px -80px;
    width: 33px;
    height: 41px;
}

.belk__icon--facebook{
    background-position: -7px -722px;
    width: 44px;
    height: 44px;
} 
.belk__icon--facebook:hover{
    background-position: -7px -662px;
}   

.belk__icon--twitter{
    background-position: -70px -722px;
    width: 44px;
    height: 44px;
} 
.belk__icon--twitter:hover{
    background-position: -70px -662px;
}   

.belk__icon--pinterest{
    background-position: -129px -723px;
    width: 44px;
    height: 44px;
} 
.belk__icon--pinterest:hover{
    background-position: -129px -663px;
}   

.belk__icon--insta{
    background-position: -190px -722px;
    width: 44px;
    height: 44px;
}
.belk__icon--insta:hover{
    background-position: -190px -662px;
}    

.belk__icon--youtube{
    background-position: -253px -722px;
    width: 44px;
    height: 44px;
}
.belk__icon--youtube:hover{
    background-position: -253px -662px;
}    

.belk__icon--googleplus{
    background-position: -312px -722px;
    width: 44px;
    height: 44px;
}
.belk__icon--googleplus:hover{
    background-position: -312px -662px;
}   

/*.belk-sprite__play:hover{
    background:url();
    background-position: 0 0;
    width:40px;
    height:40px;
}*/


.c_panel-title{
    font-family: HelveticaNeue-Bold;
}

/*** Catalog display ***/
.belk-catalog__item img{
    border:thin solid #bbb;
}

.belk-catalog__item{
    float:left;
    margin-right:20px;
}

.belk-catalog__item h4{
    color:#1072b5;
}

.belk-catalog__item h4,.belk-catalog__item p{
    margin: 5px 0;
}

.belk-catalog__item p{
    margin-bottom: 20px;
}

/*** Buttons ***/
.c_cta--block{
    display: block;
    text-align: center;
}
.c_cta--button--stroke-red{
    line-height: 1.5em;
    font-size: 14px;
    font-family: HelveticaNeue,sans-serif;
    padding: 10px 0;
    border:1px solid #CC0100;
    color:#CC0100;

}
