<div class="primary-content" id="primary">
	<!-- dwMarker="decorator" dwTemplateTitle="/default/account/pt_account.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/account/pt_account.isml" -->
	<!-- dwMarker="linclude" dwTemplateTitle="/default/util/modules.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/modules.isml" -->
	<div class="login">
		<h1>Sign In</h1>
		<div class="col-1">
			<!-- dwMarker="linclude" dwTemplateTitle="/default/account/login/logininclude.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/account/login/logininclude.isml" -->
			<div class="login-box login-account">
				<form action="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Login-LoginForm?scope=" class="clearfix" id="dwfrm_login" method="post" name="dwfrm_login" novalidate="novalidate">
					<!-- dwMarker="form" dwPipelineTitle="Login-LoginForm (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Login.js&amp;start=LoginForm" -->
					<div class="login-box-content returning-customers clearfix">
						<h2>Returning Customers</h2>
						<p>Please enter your email address and password to login to your account.</p><!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/inputfield.isml" -->
						<div aria-required="true" class="form-row username required">
							<label for="dwfrm_login_username_d0smsafcqoqx"><span class="required-indicator">•</span> <span>Email</span></label>
							<div class="field-wrapper">
								<input aria-required="true" class="input-text required" id="dwfrm_login_username_d0smsafcqoqx" maxlength="50" name="dwfrm_login_username_d0smsafcqoqx" type="text" value="">
							</div>
							<div class="form-caption"></div>
						</div>
						<div class="password-row">
							<a href="/on/demandware.store/Sites-Belk-Site/default/Account-PasswordResetDialog" id="password-reset" title="Request to reset your password"><!-- dwMarker="link" dwPipelineTitle="Account-PasswordResetDialog (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Account.js&amp;start=PasswordResetDialog" -->
							Forgot Password?</a> <!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/inputfield.isml" -->
							<div aria-required="true" class="form-row password required">
								<label for="dwfrm_login_password_d0wwknznaudq"><span class="required-indicator">•</span> <span>Password</span></label>
								<div class="field-wrapper">
									<input aria-required="true" autocomplete="off" class="input-text required" id="dwfrm_login_password_d0wwknznaudq" maxlength="20" name="dwfrm_login_password_d0wwknznaudq" type="password" value="">
								</div>
								<div class="form-caption"></div>
							</div>
						</div><!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/inputfield.isml" -->
						<div class="form-row login-rememberme label-inline form-indent">
							<div class="field-wrapper checkbox-wrapper">
								<input class="input-checkbox" id="dwfrm_login_rememberme" maxlength="2147483647" name="dwfrm_login_rememberme" type="checkbox" value="true"><span class="custom-checkbox"></span>
							</div><label for="dwfrm_login_rememberme"><span>Remember me</span></label>
							<div class="form-caption"></div>
						</div><br>
					</div>
					<div class="form-row form-row-button">
						<button name="dwfrm_login_login" type="submit" value="Sign In"><span class="account-login">Sign In</span> <span class="registry-login">Login</span></button>
					</div><input name="csrf_token" type="hidden" value="db6cda353d3173c2|91024615d70079260351739e15bb8e0cb06eb1a9ee0fb96fd1beefb4939a46c182bd9ab365cd74eb3e81efb672ad5322ad4af36353c046eebab0ca15674c874588eaacee0fbb1af79e19d694984a466b8838748f8cc0d9d6af9a1f0a1e8aea21fe98caddfd33358ad837e5c88bfa3c042e3b4cf0313c5882c3f5c599d05ab4d33d9db985a3a8898bf95a18b558f2bf662e">
				</form>
			</div>
			<div class="login-box login-order-track">
				<h2>Check Order</h2>
				<div class="dialog-required">
					<h2><span class="required-indicator">• <em>required</em></span></h2>
				</div>
				<div class="login-box-content clearfix">
					<p>Check the current status of your order(s).</p>
					<form action="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Login-LoginForm?scope=" id="dwfrm_ordertrack" method="post" name="dwfrm_ordertrack" novalidate="novalidate">
						<!-- dwMarker="form" dwPipelineTitle="Login-LoginForm (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Login.js&amp;start=LoginForm" -->
						<fieldset>
							<!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/inputfield.isml" -->
							<div aria-required="true" class="form-row required">
								<label for="dwfrm_ordertrack_orderEmail"><span class="required-indicator">•</span> <span>Order Email</span></label>
								<div class="field-wrapper">
									<input aria-required="true" class="input-text required" id="dwfrm_ordertrack_orderEmail" maxlength="2147483647" name="dwfrm_ordertrack_orderEmail" type="text" value="">
								</div>
								<div class="form-caption"></div>
							</div><!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/inputfield.isml" -->
							<div aria-required="true" class="form-row required">
								<label for="dwfrm_ordertrack_orderNumber"><span class="required-indicator">•</span> <span>Order Number</span></label>
								<div class="field-wrapper">
									<input aria-required="true" class="input-text required" id="dwfrm_ordertrack_orderNumber" maxlength="2147483647" name="dwfrm_ordertrack_orderNumber" type="text" value="">
								</div>
								<div class="form-caption"></div>
							</div>
							<div class="form-row form-row-button">
								<button name="dwfrm_ordertrack_findorder" type="submit" value="View Order Details">View Order Details</button>
							</div><input name="csrf_token" type="hidden" value="b01c4ce3183c99e1|24773ab23b976ee0d4ded87e73d6493d4ccef551ee38714910c9fb8efd51233ff615e84bb8a7382da5ae56dd7d3f448acc82566431a7c42134ed79ffdc08f0b7fe572b858925bcd8f6443b3decac3d985cb1cf59572be5cf00aa9a5665897bd24f3c4abf4aacdbf0ce03a88f4ba9d3f610cd1eb98edbca0855d0872244992db4a03d9e7c45d1d85944305ecf7ac88510d6">
						</fieldset>
					</form>
				</div>
			</div>
		</div><!-- END: page column -->
		<div class="col-2">
			<div class="login-box login-create-account clearfix">
				<h2>New Customers</h2>
				<div class="login-box-content clearfix">
					<p>Creating an account is easy. Just fill out the form below and enjoy the benefits of being a registered customer.</p>
					<form action="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Login-LoginForm?scope=" id="dwfrm_login_register" method="post" name="dwfrm_login_register" novalidate="novalidate">
						<!-- dwMarker="form" dwPipelineTitle="Login-LoginForm (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Login.js&amp;start=LoginForm" -->
						<fieldset>
							<div class="form-row form-row-button">
								<button name="dwfrm_login_register" type="submit" value="Create Account">Create Account Now</button>
							</div><input name="csrf_token" type="hidden" value="6eff0fbbc80af80b|634a1f77eea2d43fff054b856d658a3786c5202e8d28a221330d9d9ddbbb0708e70ef9baac78093cdcf94c02225df69ef13196c9abe365db08149b98de0e4997c897be8ad880393f5ac83a74d99e1bc075c8991f2aee74654b3345b8a3c80d747c15104a4172c4b258d14817619c11718bc625bc37580f8c53cd45d8b87f07c3423001238aac7a7c4d03cbec17bdb1f4b3">
						</fieldset>
					</form><!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" -->
				</div>
			</div>
		</div><!-- END: page column -->
	</div>
</div>
<div class="nav" id="secondary">
	<nav>
		<h1 class="visually-hidden">Secondary Navigation</h1>
		<div class="secondary-navigation">
			<!-- dwMarker="linclude" dwTemplateTitle="/default/util/modules.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/modules.isml" -->
			<!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" -->
		</div>
	</nav>
	<div class="account-nav-asset">
		<!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" -->
		<!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/htmlcontentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/htmlcontentasset.isml" -->
		<!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (app_belk_controllers)" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&start=Include" dwIsController="true" dwTemplateTitle="/default/content/content/contentassetinclude.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml" -->
		<div class="content-asset">
			<!-- dwMarker="content" dwContentID="eff92b3ebcc10f55630bc2022c" -->
			<div class="need-data">
				<h3>need help?</h3>
				<div class="customer-service">
					<p class="leftservice">Contact Customer Service:</p>
					<p class="leftservice">by email: <span><a href="#">Belk_Customer_Care@belk.com</a></span></p>
					<p class="leftservice">by phone: <span>1-866-235-5443</span></p>
					<p>Mon. – Fri. 7AM – 10PM EST</p>
					<p>Sat. &amp; Sun. 9AM – 10PM EST</p>
					<p class="leftservice">Contact Belk Rewards Card</p>
					<p class="leftservice">Customer Service:</p>
					<p>1-800-669-6550</p>
					<p>Mon. – Sat. 8:30AM – 7PM EST</p>
				</div>
			</div>
		</div>
	</div>
</div>