
	<!-- dwMarker="linclude" dwTemplateTitle="/default/components/browsertoolscheck.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/components/browsertoolscheck.isml" -->
	<div id="browser-check">
		<noscript>&lt;div class="browser-compatibility-alert"&gt; &lt;i class="fa fa-exclamation-triangle fa-2x pull-left"&gt;&lt;/i&gt; &lt;p class="browser-error"&gt;Your browser's Javascript functionality is turned off. Please turn it on so that you can experience the full capabilities of this site.&lt;/p&gt; &lt;/div&gt;</noscript>
	</div>
	<div class="primary-content" id="primary">
		<!-- dwMarker="decorator" dwTemplateTitle="/default/rendering/folder/pt_coupon.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/rendering/folder/pt_coupon.isml" --><!-- dwMarker="linclude" dwTemplateTitle="/default/util/modules.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/modules.isml" -->
		<h1>Coupons</h1><!-- dwMarker="slot" dwContentID="coupon-landing1" dwContext="folder" dwContextID="Coupons"-->
		<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/content/coupon/coupon-slot.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/slots/content/coupon/coupon-slot.isml" -->
		<div class="coupon-row">
			<div class="coupon-row-container">
				<div class="col-1">
					<div class="coupon-row-title">
						Extra 25% off&nbsp;&nbsp; |&nbsp;&nbsp;Ends Thursday,4/21
					</div>
					<div class="coupon-row-body">
						<h3><strong><span style="color:#000000;"><span style="background-color:#000000;"></span>Flash Sale</span></strong></h3>
					</div>
				</div>
				<div class="col-2">
					<div class="coupon-row-code">
						Use Code: <span>62067611</span>
					</div>
					<div class="add-to-cart-error error hide">
						Error in adding coupon
					</div><a class="add-coupon-to-cart primarybutton button" href="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-AddCouponJson" title="Add Coupon to Bag"><!-- dwMarker="link" dwPipelineTitle="Cart-AddCouponJson (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=AddCouponJson" -->
					Add Coupon to Bag</a>
					<div class="add-to-cart-success success hide">
						Coupon has been added to <a class="full-site-link" href="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-Show"><!-- dwMarker="link" dwPipelineTitle="Cart-Show (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=Show" -->My bag</a>
					</div><a class="view-in-store-coupon secondarybutton button" href="https://www.google.com/" title="View In-Store Coupon">View In-Store Coupon</a><input class="couponcode" type="hidden" value="62067611">
				</div>
			</div>
			<div class="coupon-exlcusions-container">
				<a class="coupon-show-exlcusions" href="#">Show exclusions <i aria-hidden="true" class="fa fa-angle-right"></i> <i aria-hidden="true" class="fa fa-angle-down hide"></i></a>
				<div class="exclusions-info hide">
					<p>All Clad, All Clad, Angelica, Antelope, Armani Exchange Watch, Assets, Baby Gear, Better and Designer Intimates, Birkenstock, Breville, Brighton, Brooks Brothers, Buffalo, Casio, COH Man, Clarisonic, Coach, Columbia, Cosmetics/Fragrances, Dansko, Denim &amp; Supply Ralph Lauren , Designer handbags, Designer sunglasses, Diane von Furstenberg, Diesel Watch , Dockers, Donald J. Pliner, Dooney &amp; Bourke, Eileen Fisher, Fitbit, Fossil Watches, Fossil Q Watches, Free People, Furla, Gear for Sports, Hallmark, Herend, Hugo Boss, Jack Rogers, Johnston &amp; Murphy, Joy &amp; Mario, Kate Spade Accessories and Shoes, Keen, Kensie Girl, Kitchen/novelty electrics/coffee, Lacoste, Ladies Better Swim, Ladies Designer &amp; Contemporary sportswear &amp; dresses, Ladies, Kids' and Mens designer shoes, Ladies Designer Accessories, Le Creuset, Levi's, Lilly Pulitzer, lucy, Lucky, Marc by Marc Watches, Mattel, Merrell,Michael Kors Shoes &amp; Handbags, Michael Kors Jewelry and Watches, Minnetonka Moccasin, Miss Me, Monster Headphones, Munro, Nautica, Nike , Orthaheel/Vionic, Polo Sport, Ralph Lauren/Polo, Roberto Coin, Seven for all Mankind, Skagen , Spanx, Sperry Gold Cup, Southern Proper, Southern Tide, Stuart Weitzman , Swarovski, <strong>Tommy Bahama, Tommy Hilfiger apparel, TOMS, Trina Turk apparel, Tumi, Ugg, Under Armour, Vera Bradley , Versus Watch, Victorinox , Vietri, Vineyard Vines, Vintage 1946 , Vitamix, Wusthof, Fine Jewelry watches and service plans, Salon Services, Trunk Shows, Adidas Watch ONLINE, Born Shoes ONLINE, Brahmin ONLINE, DKNY Watch ONLINE, Frye ONLINE, Garmin Watch ONLINE, Guess Watch ONLINE, Melissa &amp; Doug ONLINE, Sam Edelman ONLINE&nbsp;For "Reg/Sale" or&nbsp;"Sale" Coupon:&nbsp;Excludes:</strong></p>
				</div>
			</div>
		</div><!-- dwMarker="slot" dwContentID="coupon-landing2" dwContext="folder" dwContextID="Coupons"-->
		<!-- dwMarker="slot" dwContentID="coupon-landing3" dwContext="folder" dwContextID="Coupons"-->
		<!-- dwMarker="slot" dwContentID="coupon-landing4" dwContext="folder" dwContextID="Coupons"-->
		<!-- dwMarker="slot" dwContentID="coupon-landing5" dwContext="folder" dwContextID="Coupons"-->
		<!-- dwMarker="slot" dwContentID="coupon-landing6" dwContext="folder" dwContextID="Coupons"-->
		<!-- dwMarker="slot" dwContentID="coupon-landing7" dwContext="folder" dwContextID="Coupons"-->
		<!-- dwMarker="slot" dwContentID="coupon-landing8" dwContext="folder" dwContextID="Coupons"-->
		<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/content/coupon/coupon-slot.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/slots/content/coupon/coupon-slot.isml" -->
		<div class="coupon-row">
			<div class="coupon-row-container">
				<div class="col-1">
					<div class="coupon-row-title">
						Extra 35% off&nbsp;&nbsp; |&nbsp;&nbsp;Ends on Sunday , 09/10
					</div>
					<div class="coupon-row-body"></div>
				</div>
				<div class="col-2">
					<div class="coupon-row-code">
						Use Code: <span>62067643</span>
					</div>
					<div class="add-to-cart-error error hide">
						Error in adding coupon
					</div><a class="add-coupon-to-cart primarybutton button" href="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-AddCouponJson" title="Add Coupon to Bag"><!-- dwMarker="link" dwPipelineTitle="Cart-AddCouponJson (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=AddCouponJson" -->
					Add Coupon to Bag</a>
					<div class="add-to-cart-success success hide">
						Coupon has been added to <a class="full-site-link" href="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-Show"><!-- dwMarker="link" dwPipelineTitle="Cart-Show (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=Show" -->My bag</a>
					</div><a class="view-in-store-coupon secondarybutton button" href="www.coupons.com" title="View In-Store Coupon">View In-Store Coupon</a><input class="couponcode" type="hidden" value="62067643">
				</div>
			</div>
			<div class="coupon-exlcusions-container">
				<a class="coupon-show-exlcusions" href="#">Show exclusions <i aria-hidden="true" class="fa fa-angle-right"></i> <i aria-hidden="true" class="fa fa-angle-down hide"></i></a>
				<div class="exclusions-info hide">
					<p>Antelope, Bridge Collections, Brighton, Coach, Columbia, Cosmetics/Fragrances, Designer Handbags/Small Leather Goods, Designer Sunglasses, Eileen Fisher, Fossil Q Watches, Hallmark, Joy &amp; Mario, YC Denim , Levi's, Lilly Pulitzer, Orthaheel/Vionic, Vineyard Vines , Vera Bradley, All Lease Departments, Not valid on prior purchases, special orders or Trunk Shows</p>
				</div>
			</div>
		</div><!-- dwMarker="slot" dwContentID="coupon-landing9" dwContext="folder" dwContextID="Coupons"-->
		<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/content/coupon/coupon-slot.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/slots/content/coupon/coupon-slot.isml" -->
		<div class="coupon-row">
			<div class="coupon-row-container">
				<div class="col-1">
					<div class="coupon-row-title">
						Extra10% off&nbsp;&nbsp; |&nbsp;&nbsp;Begins ,6/18
					</div>
					<div class="coupon-row-body"></div>
				</div>
				<div class="col-2">
					<div class="coupon-row-code">
						Use Code: <span>62067611</span>
					</div>
					<div class="add-to-cart-error error hide">
						Error in adding coupon
					</div><a class="add-coupon-to-cart primarybutton button" href="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-AddCouponJson" title="Add Coupon to Bag"><!-- dwMarker="link" dwPipelineTitle="Cart-AddCouponJson (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=AddCouponJson" -->
					Add Coupon to Bag</a>
					<div class="add-to-cart-success success hide">
						Coupon has been added to <a class="full-site-link" href="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-Show"><!-- dwMarker="link" dwPipelineTitle="Cart-Show (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=Show" -->My bag</a>
					</div><a class="view-in-store-coupon secondarybutton button" href="http://www.belk.com" title="View In-Store Coupon">View In-Store Coupon</a><input class="couponcode" type="hidden" value="62067611">
				</div>
			</div>
			<div class="coupon-exlcusions-container">
				<a class="coupon-show-exlcusions" href="#">Show exclusions <i aria-hidden="true" class="fa fa-angle-right"></i> <i aria-hidden="true" class="fa fa-angle-down hide"></i></a>
				<div class="exclusions-info hide">
					<p>Antelope, Bridge Collections, Brighton, Coach, Columbia, Cosmetics/Fragrances, Designer Handbags/Small Leather Goods, Designer Sunglasses, Eileen Fisher, Fossil Q Watches, Hallmark, Joy &amp; Mario, YC Denim , Levi's, Lilly Pulitzer, Orthaheel/Vionic, Vineyard Vines , Vera Bradley, All Lease Departments, Not valid on prior purchases, special orders or Trunk Shows</p>
				</div>
			</div>
		</div><!-- dwMarker="slot" dwContentID="coupon-landing10" dwContext="folder" dwContextID="Coupons"-->
		<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/content/coupon/coupon-slot.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/slots/content/coupon/coupon-slot.isml" -->
		<div class="coupon-row">
			<div class="coupon-row-container">
				<div class="col-1">
					<div class="coupon-row-title">
						Extra 15% off&nbsp;&nbsp; |&nbsp;&nbsp;Ends Friday,8/25
					</div>
					<div class="coupon-row-body"></div>
				</div>
				<div class="col-2">
					<div class="coupon-row-code">
						Use Code: <span>62076871</span>
					</div>
					<div class="add-to-cart-error error hide">
						Error in adding coupon
					</div><a class="add-coupon-to-cart primarybutton button" href="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-AddCouponJson" title="Add Coupon to Bag"><!-- dwMarker="link" dwPipelineTitle="Cart-AddCouponJson (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=AddCouponJson" -->
					Add Coupon to Bag</a>
					<div class="add-to-cart-success success hide">
						Coupon has been added to <a class="full-site-link" href="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-Show"><!-- dwMarker="link" dwPipelineTitle="Cart-Show (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=Show" -->My bag</a>
					</div><a class="view-in-store-coupon secondarybutton button" href="http://www.coupons.com/" title="View In-Store Coupon">View In-Store Coupon</a><input class="couponcode" type="hidden" value="62076871">
				</div>
			</div>
			<div class="coupon-exlcusions-container">
				<a class="coupon-show-exlcusions" href="#">Show exclusions <i aria-hidden="true" class="fa fa-angle-right"></i> <i aria-hidden="true" class="fa fa-angle-down hide"></i></a>
				<div class="exclusions-info hide">
					<p>Alegria , Allen Edmonds, Angelica , Antelope, Armani Exchange Watch, Assets, Baby Gear, Bed Stu, Better and Designer Intimates, Birkenstock, Brahmin, Breville, Brighton, Brooks Brothers, Casio, COH Man, Clarisonic, Columbia, Cosmetics/Fragrances, Dansko, Denim &amp; Supply Ralph Lauren , Designer, Bridge and Contemporary Sportswear and dresses, Designer sunglasses , Diane Von Furstenberg, Diesel Watch , Eileen Fisher, Fitbit, Fossil Watches, Fossil Q Watches, Free People , Frye Handbags, Gear for Sports, Hallmark, Herend, Jack Rogers, Johnston &amp; Murphy, Joy &amp; Mario, Kate Spade Accessories and Shoes, Keen, Kenneth Cole shoes, Levi's, Lilly Pulitzer, Lucchese , lucy, Marc by Marc Watches, Minnetonka Moccasin, Miss Me, Monster Headphones, Munro, Nike , Orthaheel/Vionic, Roberto Coin, Seven for all Mankind, Skagen , Southern Proper, Spanx, Sperry Gold Cup, Stuart Weitzman , TOMS, Tumi, Trina Turk apparel, Ugg, Under Armour, VeraBradley, Versus Watch, Victorinox , Vineyard Vines, Vintage 1946 , Vitamix, Wusthof, Fine Jewelry watches and service plans, Salon Services, Trunk Shows, Adidas Watch ONLINE, Born Shoes ONLINE, DKNY Watch ONLINE, Frye Shoes ONLINE, Garmin Watch ONLINE, Guess Watch ONLINE, Melissa &amp; Doug ONLINE, Michael Kors Jewelry ONLINE, Michael Kors Watch ONLINE, Sam Edelman ONLINEFor "Reg/Sale" or "Sale" Coupon: Excludes: Red Dot, Clearance, Night Owls, Earlybirds, Bonus Buys, Doorbusters, Super Buys and Everyday ValuesFor "Reg/Sale/Clearance" or "Sale/Clearance" Coupon: Excludes: Red Dot, Night Owls, Earlybirds, Bonus Buys, Doorbusters, Super Buys and Everyday ValuesRed Dot EXCLUSIONS: Brighton, Eileen Fisher, Lilly Pulitzer, Vineyard Vines, Bridge Collection, Levi's, Coach, designer and Michael Kors handbags, designer sunglasses and YC Denim</p>
				</div>
			</div>
		</div><!-- dwMarker="slot" dwContentID="coupon-landing11" dwContext="folder" dwContextID="Coupons"-->
		<!-- dwMarker="slot" dwContentID="coupon-landing12" dwContext="folder" dwContextID="Coupons"-->
	</div>
	<div class="nav" id="secondary">
		<!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" --><!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/htmlcontentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/htmlcontentasset.isml" -->
		<!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (app_belk_controllers)" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&start=Include" dwIsController="true" dwTemplateTitle="/default/content/content/contentassetinclude.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml" -->
		<div class="content-asset">
			<!-- dwMarker="content" dwContentID="6e041d9e89bf678eba1e030088" -->
			<div class="coupon_offers">
				<h3 class="toggle">Coupons &amp; Offers</h3>
				<ul>
					<li>
						<a href="#" title="">Coupons</a>
					</li>
					<li>
						<a href="#" title="">Free Shipping</a>
					</li>
				</ul>
			</div>
		</div><!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" --><!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/htmlcontentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/htmlcontentasset.isml" -->
		<!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (app_belk_controllers)" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&start=Include" dwIsController="true" dwTemplateTitle="/default/content/content/contentassetinclude.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml" -->
		<div class="content-asset">
			<!-- dwMarker="content" dwContentID="a13895b8ae8c04c478005dd544" -->
			<div class="coupon_ads">
			<h2>Belk TV ADs</h2><img src="https://dev20-web-belk.demandware.net/on/demandware.static/-/Sites-Belk-Library/default/dwa50b2aef/images/belkads.png" title="Belk ADs"></div>
		</div><!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" --><!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/htmlcontentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/htmlcontentasset.isml" -->
		<!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (app_belk_controllers)" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&start=Include" dwIsController="true" dwTemplateTitle="/default/content/content/contentassetinclude.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml" -->
		<div class="content-asset">
			<!-- dwMarker="content" dwContentID="4d87f7611747abdb862615263f" -->
			<div class="explore-now">
				<h5>Explore now</h5>
				<div class="join-now">
					<img src="https://dev20-web-belk.demandware.net/on/demandware.static/-/Sites-Belk-Library/default/dwe9f052e3/images/phone-icon.png"><span>Text JOIN<br>
					to 23551*</span>
				</div>
				<p style="margin: 0px; padding: 0px; font-size: 13px; word-spacing: 1px; font-size:14px;">To join Belk's text messaging program and receive recurring coupon, sale and promotional notifications from Belk.</p>
				<p style="margin: 0px; padding: 0px; font-size: 13px; word-spacing: 1px; line-height: 16px; font-size:12px; margin-top: 5px;">*Message and data rates may apply. Text STOP to 23551 to cancel. By joining this subscription program you authorize Belk to send you future automated marketing text messages at the mobile number you have provided. Consent is not conditioned on purchase. Terms &amp; Conditions here. Privacy policy here.</p>
			</div>
		</div>
	</div>
