<div class="primary-content" id="primary">
	<!-- dwMarker="decorator" dwTemplateTitle="/default/checkout/cart/pt_cart.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/checkout/cart/pt_cart.isml" -->
	<!-- dwMarker="linclude" dwTemplateTitle="/default/util/modules.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/util/modules.isml" -->
	<!-- dwMarker="linclude" dwTemplateTitle="/default/util/reporting/ReportBasket.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/util/reporting/ReportBasket.isml" -->
	<!-- dwMarker="linclude" dwTemplateTitle="/default/util/reporting/ReportSourceCodes.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/util/reporting/ReportSourceCodes.isml" -->
	<!-- Report any requested source code -->
	<!-- Report the active source code -->
	<div class="cart_top_content">
		<!-- dwMarker="linclude" dwTemplateTitle="/default/components/breadcrumbs.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/components/breadcrumbs.isml" -->
		<div class="breadcrumb">
			<a class="breadcrumb-element last-element" title="My Bag">My Bag<i class="sprite"></i></a>
		</div>
		<div class="cart-top-alerts"></div><!-- <span class="print-page-cont">
<a href="null" class="print-page"><i class="sprite"></i>Print</a>
</span> -->
	</div><!-- dwMarker="slot" dwContentID="cart-banner" dwContext="global"-->
	<div class="hide-mobile">
		<!-- dwMarker="linclude" dwTemplateTitle="/default/checkout/components/approachingdiscounts.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/checkout/components/approachingdiscounts.isml" -->
		<!-- dwMarker="linclude" dwTemplateTitle="/default/util/modules.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/util/modules.isml" -->
		<!-- dwMarker="linclude" dwTemplateTitle="/default/checkout/components/approachingdiscountshipping.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/checkout/components/approachingdiscountshipping.isml" -->
		<!-- dwMarker="linclude" dwTemplateTitle="/default/util/modules.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/util/modules.isml" -->
	</div>
	<div id="left-col">
		<div class="cart-actions cart-actions-top hide-desktop">
			<form action="https://staging-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-SubmitForm" class="cart-action-checkout" id="checkout-form" method="post" name="dwfrm_cart_d0rcfbbwjosc" novalidate="novalidate">
				<!-- dwMarker="form" dwPipelineTitle="Cart-SubmitForm (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=SubmitForm" -->
				<fieldset>
					<button class="button-fancy-large" name="dwfrm_cart_checkoutCart" type="submit" value="Checkout">Checkout</button> 
				</fieldset>
			</form><a class="cart-action-continue-shopping" href="/s/Belk/home/"><button class="simple" name="dwfrm_cart_continueShopping" type="submit" value="Continue Shopping">Continue Shopping</button></a>
			<div class="hide-desktop">
				<!-- dwMarker="linclude" dwTemplateTitle="/default/checkout/components/approachingdiscounts.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/checkout/components/approachingdiscounts.isml" -->
				<!-- dwMarker="linclude" dwTemplateTitle="/default/util/modules.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/util/modules.isml" -->
				<!-- dwMarker="linclude" dwTemplateTitle="/default/checkout/components/approachingdiscountshipping.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/checkout/components/approachingdiscountshipping.isml" -->
				<!-- dwMarker="linclude" dwTemplateTitle="/default/util/modules.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/util/modules.isml" -->
			</div>
		</div>
		<form action="https://staging-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-SubmitForm" id="cart-items-form" method="post" name="dwfrm_cart" novalidate="novalidate">
			<!-- dwMarker="form" dwPipelineTitle="Cart-SubmitForm (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=SubmitForm" -->
			<fieldset>
				<button class="visually-hidden" name="dwfrm_cart_updateCart" type="submit" value="dwfrm_cart_updateCart"></button> <input class="lineItemID" type="hidden" value="0438534315312"><input class="lineItemID" type="hidden" value="0438505221963">
				<table class="item-list" id="cart-table">
					<thead>
						<tr>
							<th class="section-header" colspan="2">Item details</th>
						</tr>
					</thead>
					<tbody>
						<tr class="cart-row" data-uuid="5059c904b4c9c8f50e095fc1b3">
							<td class="item-image"><img alt="Petite Women's Benton Springs Fleece Full Zip Vest" src="https://belk.scene7.com/is/image/Belk?layer=0&amp;src=1801546_1372123_A_623_T10L00&amp;layer=comp&amp;$DWP_THUMB_PDP_DESKTOP$" title="Petite Women's Benton Springs Fleece Full Zip Vest"></td>
							<td class="cart-details">
								<table>
									<tbody>
										<tr>
											<td class="cart-detail-table">
												<div class="item-details">
													<!-- dwMarker="linclude" dwTemplateTitle="/default/product/components/displayliproductcart.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/product/components/displayliproductcart.isml" -->
													<div class="product-list-item">
														<div class="product-brand">
															<a href="/on/demandware.store/Sites-Belk-Site/default/Search-Show?prefn1=brand&amp;prefv1=Columbia"><!-- dwMarker="link" dwPipelineTitle="Search-Show (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Search.js&amp;start=Show" -->Columbia</a>
														</div>
														<div class="item-edit-details">
															<a href="/s/Belk/p/columbia-petite-womens-benton-springs-fleece-full-zip-vest/0438534315312.html?Quantity=1&amp;source=cart&amp;uuid=5059c904b4c9c8f50e095fc1b3" title="Go to Product: Petite Women's Benton Springs Fleece Full Zip Vest">Petite Women's Benton Springs Fleece Full Zip Vest</a>
														</div>
														<div class="sku">
															<span class="label">UPC:</span> <span class="product-UPC">0888665521586</span>
														</div><!-- dwMarker="linclude" dwTemplateTitle="/default/product/components/displayvariationvalues.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/product/components/displayvariationvalues.isml" -->
														<div class="attribute" data-attribute="size">
															<span class="label">size:</span> <span class="value">PM</span>
														</div>
														<div class="attribute" data-attribute="color">
															<span class="label">color:</span> <span class="value">Red</span>
														</div>
													</div>
												</div>
												<div class="item-price">
													<!-- dwMarker="linclude" dwTemplateTitle="/default/product/components/standardprice.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/product/components/standardprice.isml" -->
													<div class="original-price">
														Orig. $45.00
													</div>
													<div class="now-price">
														Now $29.99
													</div>
													<div class="standard-price">
														$15.01 (33%) Savings!
													</div>
												</div>
											</td>
											<td class="cart-detail-table-data">
												<div class="item-quantity">
													<div class="quantity">
														<label for="Quantity">Qty:</label>
														<div class="custom-select">
															<select class="input-text" id="Quantity" name="dwfrm_cart_shipments_i0_items_i0_quantity">
																<option selected value="1">
																	1
																</option>
																<option value="2">
																	2
																</option>
																<option value="3">
																	3
																</option>
																<option value="4">
																	4
																</option>
															</select>
															<div class="selected-option">
																1
															</div>
															<ul class="selection-list">
																<li class="selected">1</li>
																<li>2</li>
																<li>3</li>
																<li>4</li>
															</ul>
														</div>
													</div>
													<div class="stock-product">
														Only 4 left in stock!
													</div>
													<div class="message-qv"></div>
												</div>
												<div class="item-quantity-details">
													<div class="item-user-actions">
														<div class="item-edit-details">
															<a href="/s/Belk/p/columbia-petite-womens-benton-springs-fleece-full-zip-vest/0438534315312.html?Quantity=1&amp;source=cart&amp;uuid=5059c904b4c9c8f50e095fc1b3" title="Petite Women's Benton Springs Fleece Full Zip Vest">Edit</a> <button class="button-text" name="dwfrm_cart_shipments_i0_items_i0_deleteProduct" type="submit" value="Remove"><span>Remove</span></button>
														</div>
														<div class="addto-wishlist">
															<span class="add-to">Add to:</span> <a class="add-to-wishlist wishlist-button" href="https://staging-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-AddToWishlist?pid=0438534315312" id="dwfrm_cart_shipments_i0_items_i0_addToWishList" name="dwfrm_cart_shipments_i0_items_i0_addToWishList" title="Add this item to wishlist"><!-- dwMarker="link" dwPipelineTitle="Cart-AddToWishlist (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=AddToWishlist" -->
															Wish list</a> <a class="add-to-registry gift-registry-unregistered" data-action="gift-registry" href="https://staging-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/GiftRegistry-AddProduct?pid=0438534315312&amp;source=cart" title="Add this product to gift registry"><!-- dwMarker="link" dwPipelineTitle="GiftRegistry-AddProduct (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/GiftRegistry.js&amp;start=AddProduct" -->Registry</a>
														</div>
													</div>
												</div>
												<div class="item-total">
													<span class="price-total">Subtotal: $29.99</span>
												</div>
											</td>
										</tr>
										<tr class="item-delivery-options-row">
											<td colspan="2">
												<div class="item-delivery-options">
													<!-- dwMarker="linclude" dwTemplateTitle="/default/checkout/cart/storepickup/deliveryoptions.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/checkout/cart/storepickup/deliveryoptions.isml" -->
													<div class="form-row set-preferred-store">
														<i class="sprite"></i><a class="find-a-store-pdp" href="javascript:void(0)">Find in Store</a>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="gift-box">
													<input class="productID" type="hidden" value="0438534315312">
													<div class="gift-box-checkbox" data-plid="5059c904b4c9c8f50e095fc1b3">
														<!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/util/inputfield.isml" -->
														<div class="form-row label-inline form-indent">
															<div class="field-wrapper checkbox-wrapper">
																<input class="input-checkbox" id="dwfrm_cart_giftbox" maxlength="2147483647" name="dwfrm_cart_giftbox" type="checkbox" value="true"><span class="custom-checkbox"></span>
															</div><label for="dwfrm_cart_giftbox"><span>Add Gift Box ($4.95 each)</span></label>
															<div class="form-caption"></div>
														</div>
														<div class="gift-box-text-col">
															<span class="gift-box-text">Box and Ribbon are included.</span> <span class="gift-box-text">Item is not wrapped.</span>
														</div>
													</div>
													<div class="gift-message-checkbox">
														<!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/util/inputfield.isml" -->
														<div class="form-row label-inline form-indent">
															<div class="field-wrapper checkbox-wrapper">
																<input class="input-checkbox" id="dwfrm_cart_giftmessage" maxlength="2147483647" name="dwfrm_cart_giftmessage" type="checkbox" value="true"><span class="custom-checkbox"></span>
															</div><label for="dwfrm_cart_giftmessage"><span>Add a Free Gift Message</span></label>
															<div class="form-caption"></div>
														</div>
													</div>
													<div class="gift-message-checkbox-text" style="display:none;">
														<!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/util/inputfield.isml" -->
														<div class="form-row">
															<label for="dwfrm_cart_giftmessagetext"><span></span></label>
															<div class="field-wrapper">
																<textarea class="input-textarea" cols="50" data-character-limit="250" id="dwfrm_cart_giftmessagetext" maxlength="2147483647" name="dwfrm_cart_giftmessagetext" rows="5"></textarea>
																<div class="char-count">
																	<span class="char-remain-count">250</span> characters remaining
																</div>
															</div>
															<div class="form-caption"></div>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr class="cart-row" data-uuid="64b3ab17f397b102145f9b72c2">
							<td class="item-image"><img alt="32-mm. Solid Stretch Clip Suspenders" src="https://belk.scene7.com/is/image/Belk?layer=0&amp;src=3200118_07633010_A_001_T10L00&amp;layer=comp&amp;$DWP_THUMB_PDP_DESKTOP$" title="32-mm. Solid Stretch Clip Suspenders"></td>
							<td class="cart-details">
								<table>
									<tbody>
										<tr>
											<td class="cart-detail-table">
												<div class="item-details">
													<!-- dwMarker="linclude" dwTemplateTitle="/default/product/components/displayliproductcart.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/product/components/displayliproductcart.isml" -->
													<div class="product-list-item">
														<div class="product-brand">
															<a href="/on/demandware.store/Sites-Belk-Site/default/Search-Show?prefn1=brand&amp;prefv1=Saddlebred%26reg%3b"><!-- dwMarker="link" dwPipelineTitle="Search-Show (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Search.js&amp;start=Show" -->Saddlebred®</a>
														</div>
														<div class="item-edit-details">
															<a href="/s/Belk/p/saddlebred-reg-32-mm.-solid-stretch-clip-suspenders/0438505221963.html?Quantity=1&amp;source=cart&amp;uuid=64b3ab17f397b102145f9b72c2" title="Go to Product: 32-mm. Solid Stretch Clip Suspenders">32-mm. Solid Stretch Clip Suspenders</a>
														</div>
														<div class="sku">
															<span class="label">UPC:</span> <span class="product-UPC">0034758548927</span>
														</div><!-- dwMarker="linclude" dwTemplateTitle="/default/product/components/displayvariationvalues.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/product/components/displayvariationvalues.isml" -->
														<div class="attribute" data-attribute="size">
															<span class="label">size:</span> <span class="value">No Size</span>
														</div>
														<div class="attribute" data-attribute="color">
															<span class="label">color:</span> <span class="value">Black</span>
														</div>
													</div>
												</div>
												<div class="item-price">
													<!-- dwMarker="linclude" dwTemplateTitle="/default/product/components/standardprice.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/product/components/standardprice.isml" -->
													<div class="standard-price">
														$25.00
													</div>
												</div>
											</td>
											<td class="cart-detail-table-data">
												<div class="item-quantity">
													<div class="quantity">
														<label for="Quantity">Qty:</label>
														<div class="custom-select">
															<select class="input-text" id="Quantity" name="dwfrm_cart_shipments_i0_items_i1_quantity">
																<option selected value="1">
																	1
																</option>
																<option value="2">
																	2
																</option>
																<option value="3">
																	3
																</option>
																<option value="4">
																	4
																</option>
																<option value="5">
																	5
																</option>
																<option value="6">
																	6
																</option>
																<option value="7">
																	7
																</option>
																<option value="8">
																	8
																</option>
																<option value="9">
																	9
																</option>
																<option value="10">
																	10
																</option>
																<option value="11">
																	11
																</option>
																<option value="12">
																	12
																</option>
																<option value="13">
																	13
																</option>
																<option value="14">
																	14
																</option>
																<option value="15">
																	15
																</option>
																<option value="16">
																	16
																</option>
																<option value="17">
																	17
																</option>
																<option value="18">
																	18
																</option>
																<option value="19">
																	19
																</option>
																<option value="20">
																	20
																</option>
																<option value="21">
																	21
																</option>
																<option value="22">
																	22
																</option>
																<option value="23">
																	23
																</option>
																<option value="24">
																	24
																</option>
															</select>
															<div class="selected-option">
																1
															</div>
															<ul class="selection-list">
																<li class="selected">1</li>
																<li>2</li>
																<li>3</li>
																<li>4</li>
																<li>5</li>
																<li>6</li>
																<li>7</li>
																<li>8</li>
																<li>9</li>
																<li>10</li>
																<li>11</li>
																<li>12</li>
																<li>13</li>
																<li>14</li>
																<li>15</li>
																<li>16</li>
																<li>17</li>
																<li>18</li>
																<li>19</li>
																<li>20</li>
																<li>21</li>
																<li>22</li>
																<li>23</li>
																<li>24</li>
															</ul>
														</div>
													</div>
													<div class="stock-product"></div>
													<div class="message-qv"></div>
												</div>
												<div class="item-quantity-details">
													<div class="item-user-actions">
														<div class="item-edit-details">
															<a href="/s/Belk/p/saddlebred-reg-32-mm.-solid-stretch-clip-suspenders/0438505221963.html?Quantity=1&amp;source=cart&amp;uuid=64b3ab17f397b102145f9b72c2" title="32-mm. Solid Stretch Clip Suspenders">Edit</a> <button class="button-text" name="dwfrm_cart_shipments_i0_items_i1_deleteProduct" type="submit" value="Remove"><span>Remove</span></button>
														</div>
														<div class="addto-wishlist">
															<span class="add-to">Add to:</span> <a class="add-to-wishlist wishlist-button" href="https://staging-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-AddToWishlist?pid=0438505221963" id="dwfrm_cart_shipments_i0_items_i1_addToWishList" name="dwfrm_cart_shipments_i0_items_i1_addToWishList" title="Add this item to wishlist"><!-- dwMarker="link" dwPipelineTitle="Cart-AddToWishlist (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=AddToWishlist" -->
															Wish list</a> <a class="add-to-registry gift-registry-unregistered" data-action="gift-registry" href="https://staging-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/GiftRegistry-AddProduct?pid=0438505221963&amp;source=cart" title="Add this product to gift registry"><!-- dwMarker="link" dwPipelineTitle="GiftRegistry-AddProduct (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/GiftRegistry.js&amp;start=AddProduct" -->Registry</a>
														</div>
													</div>
												</div>
												<div class="item-total">
													<span class="price-total">Subtotal: $25.00</span>
												</div>
											</td>
										</tr>
										<tr class="item-delivery-options-row">
											<td colspan="2">
												<div class="item-delivery-options">
													<!-- dwMarker="linclude" dwTemplateTitle="/default/checkout/cart/storepickup/deliveryoptions.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/checkout/cart/storepickup/deliveryoptions.isml" -->
													<div class="form-row set-preferred-store">
														<i class="sprite"></i><a class="find-a-store-pdp" href="javascript:void(0)">Find in Store</a>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="gift-box">
													<input class="productID" type="hidden" value="0438505221963">
													<div class="gift-box-checkbox">
														<span class="gift-box-text">Gift Box not available</span>
													</div>
													<div class="gift-message-checkbox">
														<!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/util/inputfield.isml" -->
														<div class="form-row label-inline form-indent">
															<div class="field-wrapper checkbox-wrapper">
																<input class="input-checkbox" id="dwfrm_cart_giftmessage" maxlength="2147483647" name="dwfrm_cart_giftmessage" type="checkbox" value="true"><span class="custom-checkbox"></span>
															</div><label for="dwfrm_cart_giftmessage"><span>Add a Free Gift Message</span></label>
															<div class="form-caption"></div>
														</div>
													</div>
													<div class="gift-message-checkbox-text" style="display:none;">
														<!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/util/inputfield.isml" -->
														<div class="form-row">
															<label for="dwfrm_cart_giftmessagetext"><span></span></label>
															<div class="field-wrapper">
																<textarea class="input-textarea" cols="50" data-character-limit="250" id="dwfrm_cart_giftmessagetext" maxlength="2147483647" name="dwfrm_cart_giftmessagetext" rows="5"></textarea>
																<div class="char-count">
																	<span class="char-remain-count">250</span> characters remaining
																</div>
															</div>
															<div class="form-caption"></div>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="cart-footer">
					<input name="dwfrm_cart_updateCart" type="hidden" value="dwfrm_cart_updateCart"> <input name="dwfrm_cart_updateGiftBox" type="hidden" value="dwfrm_cart_updateGiftBox"> <input id="uppdateGiftBoxpliUUID" name="uppdateGiftBoxpliUUID" type="hidden" value="">
					<div class="cart-coupon-code">
						<span class="coupon-header">Coupons</span>
						<div class="coupons-data">
							<div class="coupons-copy">
								Some coupons require using your Belk Rewards Card as a form of payment. <a class="coupons-copy-link" href="javascript:void(0)">View Details</a>
							</div>
							<div class="coupons-input">
								<span class="coupon-code">Coupon Code <span>(Optional)</span></span> <input class="alphanumeric" id="dwfrm_cart_couponCode" name="dwfrm_cart_couponCode" placeholder="Enter coupon code" style="text-transform: uppercase;" type="text">
							</div>
							<div class="coupon-submit">
								<a class="need-a-coupon hide-mobile simple button" href="/on/demandware.store/Sites-Belk-Site/default/Coupon-Show"><!-- dwMarker="link" dwPipelineTitle="Coupon-Show (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Coupon.js&amp;start=Show" -->View All Coupons</a> <button id="add-coupon" name="dwfrm_cart_addCoupon" type="submit" value="dwfrm_cart_addCoupon">Apply Coupon</button> <span><a class="need-a-coupon hide-desktop" href="/on/demandware.store/Sites-Belk-Site/default/Coupon-Show"><!-- dwMarker="link" dwPipelineTitle="Coupon-Show (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Coupon.js&amp;start=Show" -->View All Coupons</a></span>
							</div>
						</div><button class="simple hide" id="update-cart" name="dwfrm_cart_updateCart" type="submit" value="dwfrm_cart_updateCart">Update Cart</button> <button class="simple hide" id="update-giftbox" name="dwfrm_cart_updateGiftBox" type="submit" value="dwfrm_cart_updateGiftBox"></button>
					</div>
				</div><input name="csrf_token" type="hidden" value="2c7a966a533dfcc1|d046d2a3931da428da546ddb6182e98afcde72f1536101ecaddf8fb3d877214e20dd0f5a3676926527f76e259f72b964010a7b2aaf60c63ef8587fa934d7905ec47e833351f26984cf566aa5df99f6dd69a5c1a9304cf69e45e41f0143b6e32af84feeab53d41d40dd493575567e1d0035d58c060ade49d9377e821ff20e0553e075fb6b40cdb8f62e0d91dd40fe42cf17">
			</fieldset>
		</form>
		<div class="cart-actions hide-mobile">
			<form action="https://staging-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-SubmitForm" class="cart-action-checkout" id="checkout-form" method="post" name="dwfrm_cart_d0jqiiidfcpt" novalidate="novalidate">
				<!-- dwMarker="form" dwPipelineTitle="Cart-SubmitForm (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=SubmitForm" -->
				<fieldset>
					<button class="button-fancy-large" name="dwfrm_cart_checkoutCart" type="submit" value="Checkout">Checkout</button> 
				</fieldset>
			</form><a class="cart-action-continue-shopping" href="/s/Belk/home/"><button class="simple" name="dwfrm_cart_continueShopping" type="submit" value="Continue Shopping">Continue Shopping</button></a>
		</div>
	</div>
	<div class="cart-order-totals">
		<h3 class="section-header">Order Summary</h3>
		<div class="ordertotals">
			<!-- dwMarker="linclude" dwTemplateTitle="/default/components/order/ordertotals.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/components/order/ordertotals.isml" -->
			<div class="order-totals-table-cont">
				<table class="order-totals-table">
					<tbody>
						<tr class="order-subtotal">
							<td>Merchandise Total:</td>
							<td>$54.99</td>
						</tr>
						<tr class="order-shipsurcharge">
							<td>Shipping Surcharge:</td>
							<td>placeholder</td>
						</tr>
						<tr class="order-shipping">
							<td>Estimated Shipping: <!-- Display Shipping Method --></td>
							<td>$9.50</td>
						</tr>
						<tr class="order-sales-tax">
							<td>Sales Tax:</td>
							<td>-</td>
						</tr>
						<tr class="order-total">
							<td>Estimated Order Total:</td>
							<td class="order-value">$54.99</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="cart-actions">
				<form action="https://staging-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Cart-SubmitForm" class="cart-action-checkout" id="checkout-form" method="post" name="dwfrm_cart_d0pwamugdojv" novalidate="novalidate">
					<!-- dwMarker="form" dwPipelineTitle="Cart-SubmitForm (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Cart.js&amp;start=SubmitForm" -->
					<fieldset>
						<button class="button-fancy-large" name="dwfrm_cart_checkoutCart" type="submit" value="Checkout">Checkout</button> 
					</fieldset>
				</form><a class="cart-action-continue-shopping" href="/s/Belk/home/"><button class="simple" name="dwfrm_cart_continueShopping" type="submit" value="Continue Shopping">Continue Shopping</button></a>
			</div>
		</div>
	</div>
	<div class="cart-footer">
		<!-- dwMarker="slot" dwContentID="cart-footer" dwContext="global"-->
	</div>
</div>