<div class="primary-content" id="primary">
	<!-- dwMarker="decorator" dwTemplateTitle="/default/storelocator/pt_storelocator.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/storelocator/pt_storelocator.isml" -->
	<!-- dwMarker="linclude" dwTemplateTitle="/default/util/modules.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/modules.isml" -->
	<h1>Find a Store Near You</h1>
	<p>The Store Locator is designed to help you find the closest store near you.</p>
	<div class="col-1">
		<div class="login-box">
			<h2 class="section-header">Search within the US and Canada</h2>
			<div class="dialog-required">
				<h2 class="section-header"><span class="required-indicator">• <em>required</em></span></h2>
			</div>
			<div class="login-box-content clearfix">
				<form action="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Stores-FindStores" id="dwfrm_storelocator" method="post" name="dwfrm_storelocator" novalidate="novalidate">
					<!-- dwMarker="form" dwPipelineTitle="Stores-FindStores (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Stores.js&amp;start=FindStores" -->
					<fieldset>
						<input name="dwfrm_storelocator_countryCode" type="hidden" value="US"> <input name="dwfrm_storelocator_distanceUnit" type="hidden" value="mi"> <!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/inputfield.isml" -->
						<div aria-required="true" class="form-row required">
							<label for="dwfrm_storelocator_postalCode"><span class="required-indicator">•</span> <span>ZIP Code</span></label>
							<div class="field-wrapper">
								<input aria-required="true" class="input-text required" id="dwfrm_storelocator_postalCode" maxlength="2147483647" name="dwfrm_storelocator_postalCode" type="text" value="">
							</div>
							<div class="form-caption"></div>
						</div><!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/inputfield.isml" -->
						<div class="form-row">
							<label for="dwfrm_storelocator_maxdistance"><span>Radius</span></label>
							<div class="field-wrapper">
								<div class="custom-select">
									<select class="input-select" id="dwfrm_storelocator_maxdistance" name="dwfrm_storelocator_maxdistance">
										<option class="select-option" label="15 Miles" value="15">
											15 Miles
										</option>
										<option class="select-option" label="30 Miles" value="30">
											30 Miles
										</option>
										<option class="select-option" label="100 Miles" value="100">
											100 Miles
										</option>
										<option class="select-option" label="300 Miles" value="300">
											300 Miles
										</option>
										<option class="select-option" label="USA" value="999999">
											USA
										</option>
									</select>
									<div class="selected-option">
										15 Miles
									</div>
									<ul class="selection-list">
										<li class="selected">15 Miles</li>
										<li class="">30 Miles</li>
										<li class="">100 Miles</li>
										<li class="">300 Miles</li>
										<li class="">USA</li>
									</ul>
								</div>
							</div>
							<div class="form-caption"></div>
						</div>
						<div class="form-row form-row-button">
							<button name="dwfrm_storelocator_findbyzip" type="submit" value="Search">Search</button>
						</div>
					</fieldset>
				</form>
				<form action="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Stores-FindStores" id="dwfrm_storelocator_state" method="post" name="dwfrm_storelocator_state" novalidate="novalidate">
					<!-- dwMarker="form" dwPipelineTitle="Stores-FindStores (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Stores.js&amp;start=FindStores" -->
					<fieldset>
						<!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/inputfield.isml" -->
						<div class="form-row">
							<label for="dwfrm_storelocator_state"><span>State</span></label>
							<div class="field-wrapper">
								<div class="custom-select">
									<select class="input-select" id="dwfrm_storelocator_state" name="dwfrm_storelocator_state">
										<option class="select-option" label="Select" value="">
											Select
										</option>
										<option class="select-option" label="Alabama" value="AL">
											Alabama
										</option>
										<option class="select-option" label="Alaska" value="AK">
											Alaska
										</option>
										<option class="select-option" label="American Samoa" value="AS">
											American Samoa
										</option>
										<option class="select-option" label="Arizona" value="AZ">
											Arizona
										</option>
										<option class="select-option" label="Arkansas" value="AR">
											Arkansas
										</option>
										<option class="select-option" label="California" value="CA">
											California
										</option>
										<option class="select-option" label="Colorado" value="CO">
											Colorado
										</option>
										<option class="select-option" label="Connecticut" value="CT">
											Connecticut
										</option>
										<option class="select-option" label="Delaware" value="DE">
											Delaware
										</option>
										<option class="select-option" label="Washington, D.C." value="DC">
											Washington, D.C.
										</option>
										<option class="select-option" label="Florida" value="FL">
											Florida
										</option>
										<option class="select-option" label="Georgia" value="GA">
											Georgia
										</option>
										<option class="select-option" label="Guam" value="GU">
											Guam
										</option>
										<option class="select-option" label="Hawaii" value="HI">
											Hawaii
										</option>
										<option class="select-option" label="Idaho" value="ID">
											Idaho
										</option>
										<option class="select-option" label="Illinois" value="IL">
											Illinois
										</option>
										<option class="select-option" label="Indiana" value="IN">
											Indiana
										</option>
										<option class="select-option" label="Iowa" value="IA">
											Iowa
										</option>
										<option class="select-option" label="Kansas" value="KS">
											Kansas
										</option>
										<option class="select-option" label="Kentucky" value="KY">
											Kentucky
										</option>
										<option class="select-option" label="Louisiana" value="LA">
											Louisiana
										</option>
										<option class="select-option" label="Maine" value="ME">
											Maine
										</option>
										<option class="select-option" label="Maryland" value="MD">
											Maryland
										</option>
										<option class="select-option" label="Massachusetts" value="MA">
											Massachusetts
										</option>
										<option class="select-option" label="Michigan" value="MI">
											Michigan
										</option>
										<option class="select-option" label="Minnesota" value="MN">
											Minnesota
										</option>
										<option class="select-option" label="Mississippi" value="MS">
											Mississippi
										</option>
										<option class="select-option" label="Missouri" value="MO">
											Missouri
										</option>
										<option class="select-option" label="Montana" value="MT">
											Montana
										</option>
										<option class="select-option" label="Nebraska" value="NE">
											Nebraska
										</option>
										<option class="select-option" label="Nevada" value="NV">
											Nevada
										</option>
										<option class="select-option" label="New Hampshire" value="NH">
											New Hampshire
										</option>
										<option class="select-option" label="New Jersey" value="NJ">
											New Jersey
										</option>
										<option class="select-option" label="New Mexico" value="NM">
											New Mexico
										</option>
										<option class="select-option" label="New York" value="NY">
											New York
										</option>
										<option class="select-option" label="North Carolina" value="NC">
											North Carolina
										</option>
										<option class="select-option" label="North Dakota" value="ND">
											North Dakota
										</option>
										<option class="select-option" label="Ohio" value="OH">
											Ohio
										</option>
										<option class="select-option" label="Oklahoma" value="OK">
											Oklahoma
										</option>
										<option class="select-option" label="Oregon" value="OR">
											Oregon
										</option>
										<option class="select-option" label="Pennsylvania" value="PA">
											Pennsylvania
										</option>
										<option class="select-option" label="Puerto Rico" value="PR">
											Puerto Rico
										</option>
										<option class="select-option" label="Rhode Island" value="RI">
											Rhode Island
										</option>
										<option class="select-option" label="South Carolina" value="SC">
											South Carolina
										</option>
										<option class="select-option" label="South Dakota" value="SD">
											South Dakota
										</option>
										<option class="select-option" label="Tennessee" value="TN">
											Tennessee
										</option>
										<option class="select-option" label="Texas" value="TX">
											Texas
										</option>
										<option class="select-option" label="Utah" value="UT">
											Utah
										</option>
										<option class="select-option" label="Vermont" value="VT">
											Vermont
										</option>
										<option class="select-option" label="Virgin Islands" value="VI">
											Virgin Islands
										</option>
										<option class="select-option" label="Virginia" value="VA">
											Virginia
										</option>
										<option class="select-option" label="Washington" value="WA">
											Washington
										</option>
										<option class="select-option" label="West Virginia" value="WV">
											West Virginia
										</option>
										<option class="select-option" label="Wisconsin" value="WI">
											Wisconsin
										</option>
										<option class="select-option" label="Wyoming" value="WY">
											Wyoming
										</option>
										<option class="select-option" label="Armed Forces (AE)" value="AE">
											Armed Forces (AE)
										</option>
										<option class="select-option" label="Armed Forces (AA)" value="AA">
											Armed Forces (AA)
										</option>
										<option class="select-option" label="Armed Forces Canada" value="AE">
											Armed Forces Canada
										</option>
										<option class="select-option" label="Armed Forces Europe" value="AE">
											Armed Forces Europe
										</option>
										<option class="select-option" label="Armed Forces Middle East" value="AE">
											Armed Forces Middle East
										</option>
										<option class="select-option" label="Armed Forces (AP)" value="AP">
											Armed Forces (AP)
										</option>
										<option class="select-option" label="Non-US/Other" value="OTHER">
											Non-US/Other
										</option>
									</select>
									<div class="selected-option">
										Select
									</div>
									<ul class="selection-list">
										<li class="selected">Select</li>
										<li class="">Alabama</li>
										<li class="">Alaska</li>
										<li class="">American Samoa</li>
										<li class="">Arizona</li>
										<li class="">Arkansas</li>
										<li class="">California</li>
										<li class="">Colorado</li>
										<li class="">Connecticut</li>
										<li class="">Delaware</li>
										<li class="">Washington, D.C.</li>
										<li class="">Florida</li>
										<li class="">Georgia</li>
										<li class="">Guam</li>
										<li class="">Hawaii</li>
										<li class="">Idaho</li>
										<li class="">Illinois</li>
										<li class="">Indiana</li>
										<li class="">Iowa</li>
										<li class="">Kansas</li>
										<li class="">Kentucky</li>
										<li class="">Louisiana</li>
										<li class="">Maine</li>
										<li class="">Maryland</li>
										<li class="">Massachusetts</li>
										<li class="">Michigan</li>
										<li class="">Minnesota</li>
										<li class="">Mississippi</li>
										<li class="">Missouri</li>
										<li class="">Montana</li>
										<li class="">Nebraska</li>
										<li class="">Nevada</li>
										<li class="">New Hampshire</li>
										<li class="">New Jersey</li>
										<li class="">New Mexico</li>
										<li class="">New York</li>
										<li class="">North Carolina</li>
										<li class="">North Dakota</li>
										<li class="">Ohio</li>
										<li class="">Oklahoma</li>
										<li class="">Oregon</li>
										<li class="">Pennsylvania</li>
										<li class="">Puerto Rico</li>
										<li class="">Rhode Island</li>
										<li class="">South Carolina</li>
										<li class="">South Dakota</li>
										<li class="">Tennessee</li>
										<li class="">Texas</li>
										<li class="">Utah</li>
										<li class="">Vermont</li>
										<li class="">Virgin Islands</li>
										<li class="">Virginia</li>
										<li class="">Washington</li>
										<li class="">West Virginia</li>
										<li class="">Wisconsin</li>
										<li class="">Wyoming</li>
										<li class="">Armed Forces (AE)</li>
										<li class="">Armed Forces (AA)</li>
										<li class="">Armed Forces Canada</li>
										<li class="">Armed Forces Europe</li>
										<li class="">Armed Forces Middle East</li>
										<li class="">Armed Forces (AP)</li>
										<li class="">Non-US/Other</li>
									</ul>
								</div>
							</div>
							<div class="form-caption"></div>
						</div>
						<div class="form-row form-row-button">
							<button name="dwfrm_storelocator_findbystate" type="submit" value="Search">Search</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div class="col-2">
		<div class="login-box">
			<h2 class="section-header">Search Internationally</h2>
			<div class="dialog-required">
				<h2 class="section-header"><span class="required-indicator">• <em>required</em></span></h2>
			</div>
			<div class="login-box-content clearfix">
				<form action="https://dev20-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Stores-FindStores" id="dwfrm_storelocator_int" method="post" name="dwfrm_storelocator_int" novalidate="novalidate">
					<!-- dwMarker="form" dwPipelineTitle="Stores-FindStores (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Stores.js&amp;start=FindStores" -->
					<fieldset>
						<!-- dwMarker="linclude" dwTemplateTitle="/default/util/inputfield.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/inputfield.isml" -->
						<div class="form-row">
							<label for="dwfrm_storelocator_country"><span>Country</span></label>
							<div class="field-wrapper">
								<div class="custom-select">
									<select class="input-select country" id="dwfrm_storelocator_country" name="dwfrm_storelocator_country">
										<option class="select-option" label="United States" value="US">
											United States
										</option>
										<option class="select-option" label="United Kingdom" value="GB">
											United Kingdom
										</option>
										<option class="select-option" label="France" value="FR">
											France
										</option>
										<option class="select-option" label="Italy" value="IT">
											Italy
										</option>
										<option class="select-option" label="Japan" value="JP">
											Japan
										</option>
										<option class="select-option" label="China" value="CN">
											China
										</option>
										<option class="select-option" label="Germany" value="DE">
											Germany
										</option>
									</select>
									<div class="selected-option">
										United States
									</div>
									<ul class="selection-list">
										<li class="selected">United States</li>
										<li class="">United Kingdom</li>
										<li class="">France</li>
										<li class="">Italy</li>
										<li class="">Japan</li>
										<li class="">China</li>
										<li class="">Germany</li>
									</ul>
								</div>
							</div>
							<div class="form-caption"></div>
						</div>
						<div class="form-row form-row-button">
							<button class="search shadow-darker" name="dwfrm_storelocator_findbycountry" type="submit" value="Search"><span>Search</span></button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="nav" id="secondary">
	<nav>
		<h1 class="visually-hidden">Secondary Navigation</h1>
		<div class="secondary-navigation">
			<!-- dwMarker="linclude" dwTemplateTitle="/default/util/modules.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/modules.isml" -->
			<!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" -->
		</div>
	</nav>
	<div class="account-nav-asset">
		<!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" -->
		<!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/htmlcontentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/htmlcontentasset.isml" -->
		<!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (app_belk_controllers)" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&start=Include" dwIsController="true" dwTemplateTitle="/default/content/content/contentassetinclude.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml" -->
		<div class="content-asset">
			<!-- dwMarker="content" dwContentID="eff92b3ebcc10f55630bc2022c" -->
			<div class="need-data">
				<h3>need help?</h3>
				<div class="customer-service">
					<p class="leftservice">Contact Customer Service:</p>
					<p class="leftservice">by email: <span><a href="#">Belk_Customer_Care@belk.com</a></span></p>
					<p class="leftservice">by phone: <span>1-866-235-5443</span></p>
					<p>Mon. – Fri. 7AM – 10PM EST</p>
					<p>Sat. &amp; Sun. 9AM – 10PM EST</p>
					<p class="leftservice">Contact Belk Rewards Card</p>
					<p class="leftservice">Customer Service:</p>
					<p>1-800-669-6550</p>
					<p>Mon. – Sat. 8:30AM – 7PM EST</p>
				</div>
			</div>
		</div>
	</div>
</div>