<!-- dwMarker="decorator" dwTemplateTitle="/default/content/home/pt_storefront.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/content/home/pt_storefront.isml" -->
	<div id="oc"></div>
	<div class="home-bottom-slots slot-data">
		<div class="grid-layout grid1">
			<!-- homepage1_start -->
			<!-- dwMarker="slot" dwContentID="homepage1" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/content/contentassetbody.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/content/contentassetbody.isml" -->
			<div class="grid-clm" style="height: 478px;">
				<p style="text-align:center"><a href="http://staging-web-belk.demandware.net/s/Belk/shoes/womens-shoes/boots/"><img alt="Fall for Designer Style" src="/images/dw/wk35_hp_092616_designer1_desktop.jpg" title="Fall for Designer Style"></a></p>
			</div><!-- homepage1_end -->
		</div>
		<div class="grid-layout grid2">
			<!-- homepage2_start -->
			<!-- dwMarker="slot" dwContentID="homepage2" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/content/contentassetbody.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/content/contentassetbody.isml" -->
			<p style="text-align:center"><img alt="petal divider" src="/images/dw/wk19_hp_060616_petaldivider.gif" title="petal divider"></p>
			<div class="grid-clm" style="height: 474px;">
				<p style="text-align:center"><a href="http://staging-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Search-Show?pmid=BL_KIM_30"><!-- dwMarker="link" dwPipelineTitle="Search-Show (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Search.js&amp;start=Show" --><img alt="30% off Fall Fashion" src="/images/dw/wk35_hp_092616_womens_desktop.jpg" title="30% off Fall Fashion"></a></p>
			</div><!-- homepage2_end -->
		</div>
		<div class="grid-layout grid3">
			<!-- homepage3_start -->
			<!-- dwMarker="slot" dwContentID="homepage3" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/content/contentassetbody.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/content/contentassetbody.isml" -->
			<p style="text-align:center"><img alt="petal divider" src="/images/dw/wk19_hp_060616_petaldivider.gif" title="petal divider"></p>
			<div class="grid-clm" style="height: 550px;">
				<p style="text-align:center"><a href="http://staging-web-belk.demandware.net/s/Belk/jewelry/fashion-jewelry/"><img alt="Designer Jewelry" src="/images/dw/wk35_hp_092616_designer2.jpg" title="Designer Jewelry"></a></p>
			</div>
			<div class="grid-clm" style="height: 550px;">
				<p style="text-align:center"><a href="http://staging-web-belk.demandware.net/s/Belk/handbags-accessories/"><img alt="Fall Handbags" src="/images/dw/wk35_hp_092616_designer3_desktop.jpg" title="Fall Handbags"></a></p>
			</div><!-- homepage3_end -->
		</div>
		<div class="grid-layout grid4">
			<!-- homepage4_start -->
			<!-- dwMarker="slot" dwContentID="homepage4" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/html/htmlslotcontainer.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/html/htmlslotcontainer.isml" -->
			<div class="html-slot-container">
				<div class="grid-clm" style="height: 215px;"><img alt="" src="/images/dw/3a.png" title=""></div>
				<div class="grid-clm" style="height: 215px;"><img alt="" src="/images/dw/3b.png" title=""></div>
				<div class="grid-clm" style="height: 215px;"><img alt="" src="/images/dw/3c.png" title=""></div>
			</div><!-- homepage4_end -->
		</div>
		<div class="grid-layout grid5">
			<!-- homepage5_start -->
			<!-- dwMarker="slot" dwContentID="homepage5" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/content/contentassetbody.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/content/contentassetbody.isml" -->
			<p style="text-align:center"><img alt="50% off divider" src="/images/dw/wk35_hp_092616_home2.gif" title="up to 50% off"></p>
			<div class="grid-clm" style="height: 281px;">
				<p style="text-align:center"><a href="http://staging-web-belk.demandware.net/s/Belk/for-the-home/travel/"><img alt="Shop Luggage" src="/images/dw/wk34_hp_091916_homesale4.jpg" title="Shop Luggage"></a></p>
			</div>
			<div class="grid-clm" style="height: 281px;">
				<p style="text-align:center"><a href="http://staging-web-belk.demandware.net/s/Belk/for-the-home/kitchen/cookware/"><img alt="Shop Cookware" src="/images/dw/wk34_hp_091916_homesale5.jpg" title="Show Cookware"></a></p>
			</div>
			<div class="grid-clm" style="height: 281px;">
				<p style="text-align:center"><a href="http://staging-web-belk.demandware.net/s/Belk/bed-bath/bedding/"><img alt="Shop Bedding" src="/images/dw/wk34_hp_091916_homesale6.jpg" title="Shop Bedding"></a></p>
			</div>
			<div class="grid-clm" style="height: 281px;">
				<p style="text-align:center"><a href="http://staging-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/Search-Show?eventCodeID=BLKHOMEGOODS"><!-- dwMarker="link" dwPipelineTitle="Search-Show (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Search.js&amp;start=Show" --><img alt="Shop Home Decor" src="/images/dw/wk35_hp_092616_home6.gif" title="Shop Home Decor"></a></p>
			</div><!-- homepage5_end -->
		</div>
		<div class="grid-layout grid6">
			<!-- homepage6_start -->
			<!-- dwMarker="slot" dwContentID="homepage6" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/html/htmlslotcontainer.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/html/htmlslotcontainer.isml" -->
			<div class="html-slot-container">
				<div class="grid-clm" style="height: 216px;"><img alt="" src="/images/dw/5a.png" title=""></div>
				<div class="grid-clm" style="height: 216px;"><img alt="" src="/images/dw/5b.png" title=""></div>
				<div class="grid-clm" style="height: 216px;"><img alt="" src="/images/dw/5c.png" title=""></div>
			</div><!-- homepage6_end -->
		</div>
		<div class="grid-layout grid7">
			<!-- homepage7_start -->
			<!-- dwMarker="slot" dwContentID="homepage7" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/html/htmlslotcontainer.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/html/htmlslotcontainer.isml" -->
			<div class="html-slot-container">
				<div class="grid-clm" style="height: 215px;"><img alt="" src="/images/dw/6a.png" title=""></div>
				<div class="grid-clm" style="height: 215px;"><img alt="" src="/images/dw/6b.png" title=""></div>
				<div class="grid-clm" style="height: 215px;"><img alt="" src="/images/dw/6c.png" title=""></div>
			</div><!-- homepage7_end -->
		</div>
		<div class="grid-layout grid8">
			<!-- homepage8_start -->
			<!-- dwMarker="slot" dwContentID="homepage8" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/html/htmlslotcontainer.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/html/htmlslotcontainer.isml" -->
			<div class="html-slot-container">
				<div class="grid-clm" style="height: 215px;"><img alt="" src="/images/dw/7a.png" title=""></div>
				<div class="grid-clm" style="height: 215px;"><img alt="" src="/images/dw/7b.png" title=""></div>
				<div class="grid-clm" style="height: 215px;"><img alt="" src="/images/dw/7c.png" title=""></div>
			</div><!-- homepage8_end -->
		</div>
		<div class="grid-layout grid9">
			<!-- homepage9_start -->
			<!-- dwMarker="slot" dwContentID="homepage9" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/html/htmlslotcontainer.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/html/htmlslotcontainer.isml" -->
			<div class="html-slot-container">
				<div class="grid-clm" style="height: 216px;"><img alt="" src="/images/dw/8a.png" title=""></div>
				<div class="grid-clm nobg" style="height: 216px;">
					<div class="grid-clm" style="height: 99px;"><img alt="" src="/images/dw/8b.png" title=""></div>
					<div class="grid-clm" style="height: 99px;"><img alt="" src="/images/dw/8c.png" title=""></div>
					<div class="grid-clm" style="height: 99px;"><img alt="" src="/images/dw/8d.png" title=""></div>
					<div class="grid-clm" style="height: 99px;"><img alt="" src="/images/dw/8e.png" title=""></div>
				</div>
			</div><!-- homepage9_end -->
		</div>
		<div class="grid-layout grid10">
			<!-- homepage10_start -->
			<!-- dwMarker="slot" dwContentID="homepage10" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/html/htmlslotcontainer.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/html/htmlslotcontainer.isml" -->
			<div class="html-slot-container">
				<div class="grid-clm nobg" style="height: 216px;">
					<div class="grid-clm" style="height: 99px;"><img alt="" src="/images/dw/9a.png" title=""></div>
					<div class="grid-clm" style="height: 99px;"><img alt="" src="/images/dw/9b.png" title=""></div>
					<div class="grid-clm" style="height: 99px;"><img alt="" src="/images/dw/9c.png" title=""></div>
					<div class="grid-clm" style="height: 99px;"><img alt="" src="/images/dw/9d.png" title=""></div>
				</div>
				<div class="grid-clm" style="height: 216px;"><img alt="" src="/images/dw/9e.png" title=""></div>
			</div><!-- homepage10_end -->
		</div>
		<div class="grid-layout grid11">
			<!-- homepage11_start -->
			<!-- dwMarker="slot" dwContentID="homepage11" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/html/htmlslotcontainer.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/html/htmlslotcontainer.isml" -->
			<div class="html-slot-container">
				<div class="grid-clm" style="height: 216px;"><img alt="" src="/images/dw/10a.png" title=""></div>
				<div class="grid-clm nobg" style="height: 216px;">
					<div class="grid-clm" style="height: 99px;"><img alt="" src="/images/dw/10b.png" title=""></div>
					<div class="grid-clm" style="height: 99px;"><img alt="" src="/images/dw/10c.png" title=""></div>
				</div>
			</div><!-- homepage11_end -->
		</div>
		<div class="grid-layout grid12">
			<!-- homepage12_start -->
			<!-- dwMarker="slot" dwContentID="homepage12" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/html/htmlslotcontainer.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/html/htmlslotcontainer.isml" -->
			<div class="html-slot-container">
				<div class="grid-clm nobg" style="height: 216px;">
					<div class="grid-clm" style="height: 99px;"><img alt="" src="/images/dw/11a.png" title=""></div>
					<div class="grid-clm" style="height: 99px;"><img alt="" src="/images/dw/11b.png" title=""></div>
				</div>
				<div class="grid-clm" style="height: 216px;"><img alt="" src="/images/dw/11c.png" title=""></div>
			</div><!-- homepage12_end -->
		</div>
		<div class="grid-layout grid13">
			<!-- homepage13_start -->
			<!-- dwMarker="slot" dwContentID="homepage13" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/html/htmlslotcontainer.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/html/htmlslotcontainer.isml" -->
			<div class="html-slot-container">
				<div class="grid-clm" style="height: 216px;"><img alt="" src="/images/dw/12a.png" title=""></div>
				<div class="grid-clm nobg" style="height: 216px;">
					<div class="grid-clm" style="height: 60px;"><img alt="" src="/images/dw/12b.png" title=""></div>
					<div class="grid-clm" style="height: 60px;"><img alt="" src="/images/dw/12c.png" title=""></div>
					<div class="grid-clm" style="height: 60px;"><img alt="" src="/images/dw/12d.png" title=""></div>
				</div>
			</div><!-- homepage13_end -->
		</div>
		<div class="grid-layout grid14">
			<!-- homepage14_start -->
			<!-- dwMarker="slot" dwContentID="homepage14" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/html/htmlslotcontainer.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/html/htmlslotcontainer.isml" -->
			<div class="html-slot-container">
				<div class="grid-clm nobg" style="height: 216px;">
					<div class="grid-clm" style="height: 60px;"><img alt="" src="/images/dw/13a.png" title=""></div>
					<div class="grid-clm" style="height: 60px;"><img alt="" src="/images/dw/13b.png" title=""></div>
					<div class="grid-clm" style="height: 60px;"><img alt="" src="/images/dw/13c.png" title=""></div>
				</div>
				<div class="grid-clm" style="height: 216px;"><img alt="" src="/images/dw/13d.png" title=""></div>
			</div><!-- homepage14_end -->
		</div>
		<div class="grid-layout grid15">
			<!-- homepage15_start -->
			<!-- dwMarker="slot" dwContentID="homepage15" dwContext="global"-->
			<!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/html/htmlslotcontainer.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/slots/html/htmlslotcontainer.isml" -->
			<div class="html-slot-container">
				<div class="grid-clm" style="height: 258px;"><img alt="" src="/images/dw/14a.png" title=""></div>
				<div class="grid-clm nobg" style="height: 258px;">
					<div class="grid-clm" style="height: 51px;"><img alt="" src="/images/dw/14b.png" title=""></div>
					<div class="grid-clm" style="height: 51px;"><img alt="" src="/images/dw/14c.png" title=""></div>
					<div class="grid-clm" style="height: 51px;"><img alt="" src="/images/dw/14d.png" title=""></div>
					<div class="grid-clm" style="height: 51px;"><img alt="" src="/images/dw/14e.png" title=""></div>
				</div>
			</div><!-- homepage15_end -->
		</div>
	</div><!-- dwMarker="linclude" dwTemplateTitle="/default/components/browsertoolscheck.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/app_belk_core/cartridge/templates/default/components/browsertoolscheck.isml" -->
	<div id="browser-check">
		<noscript>&lt;div class="browser-compatibility-alert"&gt; &lt;i class="fa fa-exclamation-triangle fa-2x pull-left"&gt;&lt;/i&gt; &lt;p class="browser-error"&gt;Your browser's Javascript functionality is turned off. Please turn it on so that you can experience the full capabilities of this site.&lt;/p&gt; &lt;/div&gt;</noscript>
	</div>