
<form class="form-horizontal checkout-shipping" action="#" method="#" id="emailsignup">
	<h2>Email Unsubscribe Confirmation</h2>
    <div style="text-align:center">
    <div style="display:inline-block;"><div class="add-to-cart-success success hide" style="display:block;">You have been successfully unsubscribed from Belk emails.</div></div></div>
	<p style="font-size: 14px;margin: 20px 0;"><strong style="font-family: HelveticaNeue-Bold,Arial;">We're sorry to see you go.</strong><br>We have received your requrest to unsubscribe from Belk emails.  Please note it may take up to 24 hours for your email address to be removed from our mailing lists.</p>
	<p style="font-size: 14px;margin: 20px 0;"><strong style="font-family: HelveticaNeue-Bold,Arial;">Change your mind?</strong><br>We'd llve to have you back.  enter your email below to start receiving Belk emails again.</p>
    <fieldset>
        <div class="form-row">
            <label for="belkfrm_email_unsubscribe"><span class="required-indicator">• </span><span>Sign Up &amp; Save</span></label>
            <div class="field-wrapper">
                <input type="text" class="input-text email valid" name="belkfrm_email_unsubscribe" id="belkfrm_email_unsubscribe" style="transform:uppercase" />
            </div>
        </div>
        <div class="form-row form-row-button">
            <button class="primarybutton button" type="submit" form="emailsignup"> Join</button>
        </div>
    </fieldset>
</form>

<!-- Content Asset -->

<div class="email-signup-bottom">
	<p>Don't worry, your email address is safe with belk.com. We will not sell, trade, rent or give away your personal information to third parties for their marketing purposes.</p>
	<p class="read_policy">Please read our <a href="https://staging-web-belk.demandware.net/s/Belk/customer-service/privacy-policy.html">privacy policy.</a></p>

	<ul>
		<li class="mobile-messages">
			<i></i>
			<div class="footer-email-title-signup"><a href="sms:+23551;?&amp;body=JOIN%20to%20BELK1">Sign up for mobile messages from belk.com</a></div>
			<p>Did you know you can get coupons and other important information sent to your mobile device? Text JOIN BELK1 (23551) to receive text messages.*</p>
			</li>
			<li class="stop-mobile-messages">
			<i></i>
			<div class="footer-email-title-signup"><a href="sms:+23551;?&amp;body=STOP%20to%20BELK1">How to stop receiving text messages from belk.com</a></div>
			<p>If you no longer wish to receive text messages from Belk on your mobile device, text STOP to BELK1 (23551)*.</p>
			</li>
			<li class="need-help">
			<i></i>
			<div class="footer-email-title-signup">Need Help?</div>
			<p>If you need help making changes to your email or mobile subscription with Belk, please contact Customer Service at 1-866-235-5443. If you have questions about the use and security of personal information, please view our <a href="https://staging-web-belk.demandware.net/s/Belk/customer-service/privacy-policy.html">privacy policy.</a></p>
		</li>
	</ul>
</div>	

<!-- Content Asset End -->