

<form class="form-horizontal checkout-shipping" action="#" method="#" id="emailsignup">
	<h2>Email Unsubscribe</h2>
	<p style="font-size: 14px;margin: 20px 0;"><strong style="font-family: HelveticaNeue-Bold,Arial;">Are you sure you want to unsubscribe?</strong><br>If so, your email address will be removed from our mailing lists.  Please note it may take up to 24 hours for the removal to process.</p>
		<fieldset>
			<div class="form-row">
				<label for="belkfrm_email_unsubscribe"><span class="required-indicator">• </span><span>Email</span></label>
				<div class="field-wrapper">
					<input type="text" class="input-text email valid" name="belkfrm_email_unsubscribe" id="belkfrm_email_unsubscribe" style="transform:uppercase" />
				</div>
			</div>
			<div class="form-row form-row-button">
				<button class="cancel cancel-button simple" type="submit" name="dwfrm_emailsignup_cancel" value="Cancel">Cancel</button>
				<button class="primarybutton button" type="submit" form="emailsignup"> Unsubscribe</button>
			</div>
		</fieldset>
</form>

<!-- Content Asset -->

<div class="email-signup-bottom">
	<p>Don't worry, your email address is safe with belk.com. We will not sell, trade, rent or give away your personal information to third parties for their marketing purposes.</p>
	<p class="read_policy">Please read our <a href="https://staging-web-belk.demandware.net/s/Belk/customer-service/privacy-policy.html">privacy policy.</a></p>

	<ul>
		<li class="mobile-messages">
			<i></i>
			<div class="footer-email-title-signup"><a href="sms:+23551;?&amp;body=JOIN%20to%20BELK1">Sign up for mobile messages from belk.com</a></div>
			<p>Did you know you can get coupons and other important information sent to your mobile device? Text JOIN BELK1 (23551) to receive text messages.*</p>
			</li>
			<li class="stop-mobile-messages">
			<i></i>
			<div class="footer-email-title-signup"><a href="sms:+23551;?&amp;body=STOP%20to%20BELK1">How to stop receiving text messages from belk.com</a></div>
			<p>If you no longer wish to receive text messages from Belk on your mobile device, text STOP to BELK1 (23551)*.</p>
			</li>
			<li class="need-help">
			<i></i>
			<div class="footer-email-title-signup">Need Help?</div>
			<p>If you need help making changes to your email or mobile subscription with Belk, please contact Customer Service at 1-866-235-5443. If you have questions about the use and security of personal information, please view our <a href="https://staging-web-belk.demandware.net/s/Belk/customer-service/privacy-policy.html">privacy policy.</a></p>
		</li>
	</ul>
</div>	

<!-- Content Asset End -->