<div class="container">
    <% if(errors.length > 0) {%>
        <% errors.forEach(function(error){ %>
            <div class="alert alert-<%= error.type %>" role="alert"><%= error.message %></div>
        <% }); %>
    <% } %>
    <form class="form-signin" method="POST" action="/authenticate">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->