body, html {
    background: #333;
    color:white;
}


#widget {
    display: flex;
    flex-flow: row;
    height: 100vh;
}

#widget > * {
    display:flex;
    flex-flow: column;
}

#widget-main > *,#widget-toolbar > * {
    box-sizing:border-box;

}

#widget-toolbar > *{
    text-align: center;
}

#widget-main {
    background: #f5efef;
    flex: 1 0;
    color: #333;
    box-sizing: border-box;
}

#widget-main-header{
    flex: 1 0;
    text-align: right;
}

#widget-main-body{
    flex: 10 0;
}

#widget-main-footer{
    flex: 1 0;
    text-align: right;
}
#widget-main-header > *,#widget-main-footer > *{
    margin:25px;
}

#widget-main-body form {
    padding: 25px;
}

#widget-toolbar {
    flex: 1 0;
    max-width: 100px;
    min-width: 100px;
}
#widget-toolbar-header{
    flex: 1 0;
}
#widget-toolbar-body{
    flex: 90 0;
}
#widget-toolbar-footer{
    flex: 10 0;
}


.widget-group,.widget-group-item{
    list-style: none;
    list-style-type: none;
    padding:0;
    text-align:center;
}

.widget-group, .widget-sub-group{
    margin:5px;
    padding-left: 0;
}
.widget-group{
    margin:5px;
    margin-top:25px;
}

.widget-group-item{
    margin-top:5px;
    padding-bottom:5px;
    border-bottom: 1px solid #555;
 
}




/*.widget-group-item:last-child{
    border-bottom: none;
}*/

.widget-group-item a{
    color: inherit;
    display: inline-block;
    padding: 5px;
    display:table;
    width:100%;
    min-height:80px;   
}

.widget-group-item a span {
        display: table-cell;
    vertical-align: middle;
}
.widget-group-item a:hover
,.widget-group-item a:active
,.widget-group-item a:visited
,.widget-group-item a:focus{
        text-decoration: none;
}
.widget-group-item a:hover{

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.52);
}

.widget-group img {
    display: block;
    max-width: 100%;
    height: auto;   
}

.widget-sub-group li {
    cursor:pointer;
    border: thick solid transparent;
    display: inline-block;
}
.widget-sub-group li:hover {
    border: thick solid white;
}

[data-buildable=true]{
    border: thin dashed #f00;
    min-height: 250px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/**** Bootstrap overrides ****/
.btn-secondary--outline {
    background: transparent;
    border: thin solid white;
}
.btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #222;
}

.btn-primary:hover {
    color: #fff;
    background-color: #222;
    border-color: #111;
}

.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #222;
    border-color: #111;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #222;
    border-color: #111;
}