 <!-- ********** FW - Full Hero ********** -->
      <div class="c_group">
        <!-- Promo A -->
        <div class="col-md-24">
          <div class="c_panel-group accordion" id="accordion-2" role="tablist" aria-multiselectable="true">
            <div class="c_panel">
              <div class="c_panel-heading" role="tab" id="headingOne">
                <h4 class="c_panel-title-main">
                    Registry Questions
                </h4>

              </div>
            </div>
            <div class="c_panel c_panel-default">
              <div class="c_panel-heading" role="tab" id="headingOne-2" data-toggle="collapse" data-target="#collapseOne-2" tabindex="-1"  aria-expanded="true" aria-controls="collapseOne-2">
                <h4 class="c_panel-title">
                    What kind of security does belk.com offer for my online credit card purchases?
                </h4>
                <span class="c_panel-icon"></span>
              </div>
              <div id="collapseOne-2" class="c_panel-collapse collapse in" role="tabc_panel" aria-labelledby="headingOne-2">
                <div class="c_panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="c_panel c_panel-default">
              <div class="c_panel-heading collapsed" id="headingTwo-2" data-toggle="collapse" data-target="#collapseTwo-2" tabindex="-1"  aria-expanded="false" aria-controls="collapseTwo-2">
                <h4 class="c_panel-title">
                    What if my credit card becomes lost or stolen?
                </h4>
                <span class="c_panel-icon"></span>
              </div>
              <div id="collapseTwo-2" class="c_panel-collapse collapse" role="tabc_panel" aria-labelledby="headingTwo-2">
                <div class="c_panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
