      <div class="c_group">
          <div class="col-xs-24">
            <p>We're sorry. The page you're looking for could not be found</p>
            <div class="error-page-message"></div>
            <div class="error-page-search">
                <form action="/s/Belk/search/" method="get" novalidate="novalidate">
                    <fieldset>
                        <div class="form-row label-above">
                            <label for="q">Try a new search:</label>
                            <input type="text" name="q" value="" class="input-text">
                            <button type="submit" value="Go" name="simplesearch">
                            Go
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="error-page-footer">
                <div class="error-page-footer-asset">
                    <h2>Placing an order?</h2>
                    <p></p>
                    <p>
                        If you have recieved this message after clicking the "Submit" button, please call our toll-free Customer Service line at <a href="tel:18662355443">1-866-235-5443</a>
                    </p>
                </div>
                <div class="error-page-footer-slot">

                </div>
            </div>
          </div>
      </div>