<div class="c_group">
    <div class="col-xs-24 col-sm-12 col-md-8">
        <a href="#link-to-women">
            <span class="c_cta--button--stroke-red c_cta--block">
                Women
            </span>
        </a>
    </div>
    <div class="col-xs-24 col-sm-12 col-md-8">
        <a href="#link-to-women">
            <span class="c_cta--button--stroke-red c_cta--block">
                Men
            </span>
        </a>
    </div>
    <div class="col-xs-24 col-sm-12 col-md-8">
        <a href="#link-to-women">
            <span class="c_cta--button--stroke-red c_cta--block">
                Juniors
            </span>
        </a>
    </div>
    <div class="col-xs-24 col-sm-12 col-md-8">
        <a href="#link-to-women">
            <span class="c_cta--button--stroke-red c_cta--block">
                Baby &amp; Kids
            </span>
        </a>
    </div>
    <div class="col-xs-24 col-sm-12 col-md-8">
        <a href="#link-to-women">
            <span class="c_cta--button--stroke-red c_cta--block">
                Shoes
            </span>
        </a>
    </div>
    <div class="col-xs-24 col-sm-12 col-md-8">
        <a href="#link-to-women">
            <span class="c_cta--button--stroke-red c_cta--block">
                Handbags &amp; Accessories
            </span>
        </a>
    </div>
    <div class="col-xs-24 col-sm-12 col-md-8">
        <a href="#link-to-women">
            <span class="c_cta--button--stroke-red c_cta--block">
                Jewerly &amp; Watches
            </span>
        </a>
    </div>
    <div class="col-xs-24 col-sm-12 col-md-8">
        <a href="#link-to-women">
            <span class="c_cta--button--stroke-red c_cta--block">
                Bed &amp; Bath
            </span>
        </a>
    </div>
    <div class="col-xs-24 col-sm-12 col-md-8">
        <a href="#link-to-women">
            <span class="c_cta--button--stroke-red c_cta--block">
                For the Home
            </span>
        </a>
    </div>
</div>