<h3 class="belk-h1">Stay Connected</h3>
<div class="c_group">
    <div class="col-xs-24 col-sm-12">
        <table width="100%">
            <tr>
                <td><span class="belk__icon belk__icon--email"></span></td>
                <td><p class="belk__icon--left">Sign up for emails and get exclusive coupons, sale notifications &amp; the latest style trends. <a href="#link-to-email"></a></p></td>
            </tr>
        </table>
    </div>
    <div class="col-xs-24 col-sm-12">
        <table width="100%">
            <tr>
                <td><span class="belk__icon belk__icon--mobile"></span></td>
                <td><p class="belk__icon--left">Text <strong>JOIN to 23551</strong> to join Belk's text messaging program and receive recurring coupon, sale and promotional notifications from Belk. <sup>*</sup>Message and data rates may apply. Text <strong>STOP to 23551</strong> cancel. Text <strong>HELP to 23551</strong> to receive help information or just reply <strong>HELP</strong> to any message.  By joining this subscription program you authorize Belk to send you future autdialed marketing text messages at the mobile bumber you have provided.  Consent is not conditioned on purchase. Terms &amp; Conditions at <a href="belk.com/terms">belk.com/terms</a> and Privacy policy at  <a href="belk.com/privacy">belk.com/privacy</a></p></td>
            </tr>
        </table>
    </div>
</div>
 
<h3 class="belk-h1">Download Our Apps</h3>
<div class="c_group">
    <div class="col-xs-24 col-sm-12">
       <table width="100%">
            <tr>
                <td><span class="belk__icon belk__icon--app"></span></td>
                <td><p class="belk__icon--left">Shop your favorite modern, southern styles on the go. <br/> <a href="#line-to-downloads">Download Now</a></p></td>
            </tr>
        </table>
    </div>
</div>

<h3 class="belk-h1">Get Connected</h3>
<div class="c_group">
    <div class="col-xs-24 col-sm-12">
        <table width="100%">
            <tr>
                <td><span class="belk__icon belk__icon--facebook"></span></td>
                <td><p class="belk__icon--left">Join the conversation and share in the latest trends, launches, events and special offers. <br/> <a href="" target="_blank">Like Belk on Facebook</a></p></td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td><span class="belk__icon belk__icon--pinterest"></span></td>
                <td><p class="belk__icon--left">Browse the latest trends.  Pin the ones you love.  And most importantly, make yourself at home. <br/> <a href="" target="_blank">Follow Belk on Pinterest</a></p></td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td><span class="belk__icon belk__icon--googleplus"></span></td>
                <td><p class="belk__icon--left">Let belk.com be your Google plus-one. <br/> <a href="" target="_blank">Follow Belk on Google+</a></p></td>
            </tr>
        </table>
    </div>
    <div class="col-xs-24 col-sm-12">
        <table width="100%">
            <tr>
                <td><span class="belk__icon belk__icon--twitter"></span></td>
                <td><p class="belk__icon--left">Follow our Twitter feeds to learn about emergin trends, upcoming sales and events, and career opportunities. <br/> <a href="" target="_blank">@belk</a> &#124; <a href="" target="_blank">@belkcareers</a></p></td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td><span class="belk__icon belk__icon--insta"></span></td>
                <td><p class="belk__icon--left">Follow #BelkStyle and be sure to share yours! Find emerging trends and get a look into souther events. <br/> <a href="" target="_blank">Follow @belk on Instagram</a></p></td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td><span class="belk__icon belk__icon--youtube"></span></td>
                <td><p class="belk__icon--left">Peek behind the Belk curtain.  Get fashion tips and see behind-the-scenes in the world of retail fashion. <br/> <a href="" target="_blank">Watch Belk on YouTube</a></p></td>
            </tr>
        </table>
    </div>
</div>