
<p>
    Belk places business with vendors and supply chain partners whose practices are compatible with Belks brand values and our values define our actions. Our Core Values are:
</p>

<ol class="c_normal">
    <li>Be encouraging of growth and change.</li>
    <li>Be proud of our rich heritage.</li>
    <li>Be involved in our communities.</li>
    <li>Be relentless with customer care.</li>
    <li>Be committed to the success of our associates.</li>
    <li>Be the best at what we do.</li>
</ol>

<p>In accordance with these values, Belk strives to ensure compliance with legal, human rights, and environmental standards and in particular Belk requires that Belk vendors and supply chain partners comply with the California Transparency in Supply Chains Act of 2010.</p>
<h3 class="sub-title">Verification</h3>
<p>Belk suppliers shall not make use of any of the forms of forced, prison, bonded or any form of involuntary labor. Belk, nor any entity supplying labor to Belk, shall engage in or support human trafficking. Belk and our suppliers shall comply with all relevant national and international laws, regulations, and provisions applicable in the country of production or operation. Doing business with Belk means that vendors must agree to implement and verify these standards of compliance through the Belk <a href="#" target="_blank">Code of Conduct</a>.</p>
<h3 class="sub-title">Auditing</h3>
<p>Audits may be performed to ensure compliance of the Belk <a href="#" target="_blank">Code of Conduct</a>. Belk, or any organization acting on Belks behalf, may carry out audits, with or without notice, on the premises of our vendors and supply chain partners at any time. Additional auditing partnerships allow for methods of validation to increase transparency of production facilities.</p>
<h3 class="sub-title">Certification</h3>
<p>By signing the Belk <a href="#" target="_blank">Code of Conduct</a>, all vendors and supply chain partners agree to the standards outlined therein, including the prohibition of any form of forced labor or human trafficking.
</p>
<h3 class="sub-title">Internal Accountability</h3>
<p>All Belk associates and vendors are expected to do business ethically and with the Belk values in mind. All associates must comply with our Acceptable Business Practices. Belk vendors must comply with the Belk <a href="#" target="_blank">Code of Conduct</a>. Violations will be investigated and appropriate corrective measures will be implemented, including actions to terminate the business and contractual relationship. Additional processes will be defined and implemented to ensure that vendors are complying with the Belk <a href="#" target="_blank">Code of Conduct</a> and that proper management systems are in place.</p>
<h3 class="sub-title">Training</h3>
<p>Belk associates must agree to follow our ethical business practices. Internal education on these topics is ongoing for those who interact with our supply chain. Belk private brands supply chain management is informed and knowledgeable about the California Transparency in Supply Chains Act of 2010.</p>
<p>Belk is committed to all legal and ethical business practices and demands the same commitment from each of our suppliers through the Belk <a href="#" target="_blank">Code of Conduct</a>. We continue to strive for better practices and hold ourselves accountable to delivering on our values in all aspects of our business.</p>

