
<p>For years, there has been increasing concern about human rights and environmental abuses in the mining industry in the Democratic Republic of Congo (DRC) and other parts of Africa, where warlords engage in human rights violations and use mining proceeds to fuel regional conflicts. In July of 2010, Congress enacted the Conflict Minerals provisions of the Dodd-Frank Street Reform and Consumer Protection Act (Dodd-Frank Act) with the goal of cutting the funding to these armed groups in the DRC and its neighboring countries that are also engaged in human rights and environmental abuses. In August of 2012, the Securities and Exchange Commission (SEC) issued its final rules. Conflict minerals are defined as gold, tin, tantalum and tungsten, and Section 1502 of the Dodd-Frank Act requires SEC registrants to report to the SEC and disclose on their website whether any of the conflict minerals in the products they manufacture or contract to manufacture originate in the DRC and its neighboring countries, as well as the due diligence conducted to determine their conclusion.</p>
<h3 class="sub-title">Conflict Mineral Policy</h3>
<p>Belk places business with vendors and supply chain partners whose practices are compatible with Belk's brand values and our values define our actions. Our Core Values are:</p> 
<ol class="c_normal">
    <li>Be encouraging of growth and change.</li>
    <li>Be proud of our rich heritage.</li>
    <li>Be involved in our communities.</li>
    <li>Be relentless with customer care.</li>
    <li>Be committed to the success of our associates</li>
    <li>Be the best at what we do.</li>
</ol>

<p>In accordance with these values, Belk strives to ensure compliance with legal, human rights, and environmental standards and in particular Belk requires that Belk vendors and supply chain partners comply with the Dodd-Frank Act. Our goal is to ensure all products sold by Belk are from non-conflict areas, such as the DRC and its neighboring countries. Belk's expectations of suppliers are included in the <a href="#" target="_blank">Vendor Code of Conduct</a>.</p>

