<% include ../_header %>

<div id="primary" class="primary-content clearfix">
    <div class="row">
        <div class="col-md-14 content-body">
            <h1 class="title"><%= headTitle %></h1>
            <style>
                iframe {
                border: 0 none;
                overflow: hidden;
                width: 800px;
                height: 800px;
                }
                
            </style>
            <iframe src="http://belk.mediaroom.com/newsroom"></iframe>
       </div>
        <div class="col-md-10 content-aside">
            
        </div>
        </div>
</div>

<% if(sideNavigation) { %>
   <% include ../_sidenav %>
<% } %>

<% include ../_footer %>