<% include ../_header %>

<div id="primary" class="primary-content clearfix">
    <div class="row">
        <div class="col-md-14 content-body">
            <h1 class="title"><%= headTitle %></h1>
          
            <p class="body-copy">Belk, Inc., a private department store company based in Charlotte, N.C., is the home of Modern. Southern. Style. with 293 Belk stores located in 16 Southern states and a growing digital presence. Belk is a portfolio company of Sycamore Partners, a private equity firm based in New York. Belk and www.belk.com offer a wide assortment of national brands and private label fashion apparel, shoes and accessories for the entire family along with top name cosmetics, a wedding registry and a large selection of quality merchandise for the home.</p>
            <p class="body-copy">Belk offers many ways to connect via digital and social media, including <a target="_blank" href="https://www.facebook.com/Belk">Facebook</a>, <a target="_blank" href="https://www.pinterest.com/mybelk/">Pinterest</a>, <a target="_blank" href="https://twitter.com/belk">Twitter</a>, <a target="_blank" href="https://www.instagram.com/belk/">Instagram</a>, <a target="_blank" href="https://www.youtube.com/user/TheBelkstores">YouTube</a> and <a target="_blank" href="https://plus.google.com/+mybelk/posts">Google Plus</a>, and provides exclusive offers, fashion updates, sales notifications and coupons via email or mobile phone text messages. Customers can also download the latest Belk mobile apps for the iPad, iPhone or Android.</p>            
            <ul>
              <ul>
                <li><a href="/AST/Misc/Belk_Stores/About_Us/Who_We_Are.jsp">Who We Are</a></li>
                <li><a href="/AST/Misc/Belk_Stores/About_Us/Diversity_And_Inclusion.jsp">Diversity &amp; Inclusion</a></li>
                <li><a href="/AST/Misc/Belk_Stores/About_Us/Compliance.jsp">CA Transparency Compliance</a></li>
                <li><a href="/AST/Misc/Belk_Stores/About_Us/ConflictMinerals.jsp">Conflict Minerals Policy</a></li>
                <li><a href="/AST/Misc/Belk_Stores/About_Us/Community.jsp">Community</a></li>
                <li><a target="_blank" href="https://belkcareers.com/jobs">Careers at Belk</a></li> 
                <li><a href="/AST/Misc/Belk_Stores/Customer_Service.jsp">Customer Service</a></li> 
                <li><a href="/AST/Misc/Belk_Stores/About_Us/Vendor_Information.jsp">Vendor Info</a></li>
                
                </ul>
            </ul>
       </div>
        <div class="col-md-10 content-aside">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="col-md-20">
                    <h2 class="sub-title">Community</h2>
                    <p class="body-copy">Belk's rich heritage of community involvement and philanthropy dates back to the company's founders who believed strongly in the importance of giving back to the communities that made the success of their company possible.</p>
                    <ul>
                        <li><a href="#">More Information</a></li>
                        <li><a href="#">The Belk Foundation</a></li>
                    </ul>
                </div>
            </div>
        <hr />
        <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
                <div class="col-md-20">
                    <h2 class="sub-title">Careers</h2>
                    <p class="body-copy">Belk's success over the years is a direct result of the dedication and service of its associates. Belk values its associates, providing fair compensation, comprehensive and competitive benefits packages, training programs and opportunities for advancement. We are looking for talented individuals who are interested in a career, not just a job.</p>
                    <ul>
                        <li><a href="#">Job Openings</a></li>
                        <li><a href="#">Our Culture</a></li>
                        <li><a href="#">College Recruiting &amp; Internships</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
</div>

<% if(sideNavigation) { %>
   <% include ../_sidenav %>
<% } %>




<% include ../_footer %>