<div class="cope-group">
    <div class="col-md-24">
         <a href="#" class="cope-group-content" title="">
          <div class="cope-image">
              <img class="hidden-xs" src="/images/store_events/wk28_storeevents_fh_2015.jpg" alt="alt for image">
            <img class="hidden-sm hidden-md hidden-lg" src="/images/store_events/m/wk28_storeevents_fh_2015.jpg" alt="alt for image">
          </div>
         </a>
    </div>
</div>

<div class="cope-group">
    <div class="col-md-24">
         <a href="#" class="cope-group-content" title="">
          <div class="cope-image">
              <img class="hidden-xs" src="/images/store_events/wk28_storeevents_fh3_2015.gif" alt="alt for image">
            <img class="hidden-sm hidden-md hidden-lg" src="/images/store_events/m/wk28_storeevents_fh3_2015.gif" alt="alt for image">
          </div>
         </a>
    </div>
</div>

<div class="cope-group">
    <div class="col-md-24">
         <a href="#" class="cope-group-content" title="">
          <div class="cope-image">
              <img class="hidden-xs" src="/images/store_events/WK40_2016_SPEC_Santafest_InStoreEvent_FH1_desktop.gif" alt="alt for image">
            <img class="hidden-sm hidden-md hidden-lg" src="/images/store_events/m/WK40_2016_SPEC_Santafest_InStoreEvent_FH1_desktop.gif" alt="alt for image">
          </div>
         </a>
    </div>
</div>

<div class="cope-group hidden-xs">
    <div class="col-md-24">
         <a href="#" class="cope-group-content" title="">
          <div class="cope-image">
              <img class="hidden-xs" src="/images/store_events/wk40_spec_rampagesweepstakes_banner.jpg" alt="alt for image">
            <img class="hidden-sm hidden-md hidden-lg" src="/images/store_events/m/wk40_spec_rampagesweepstakes_banner.jpg" alt="alt for image">
          </div>
         </a>
    </div>
</div>