
<div class="c_wrap">


<div class="c_group c_full-hero">                          
    <div class="col-md-24">
        <div class="c_group-content">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/placeholders/720x200-green.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/placeholders/720x200-green.jpg" alt="imgalt">
                <div class="c_overlay ff-white c_text-center">
                    <div class="c_overlay-content c_centered-xs-middle">
                        <div class="c_lower-content">
                            <div class="c_lower-content_flex">
                                <div class="c_lower-content_c_flex-start"></div>
                                <div class="c_lower-content_left">
                                    <span class="c_lower-content__text c_lower-content__text_one ff-worksans_light ff-62 ff-62__scale-down" style="font-size: 145px;">CSR</span>
                    
                                </div>
                                <div class="c_lower-content_right c_lower-content__text_last">
                                    <!-- Optional - c_Lower Description -->
                                    <span class="c_lower-content__text ff-uppercase ff-worksans_light ff-36">Corporate<br>Social<br>Responsibility</span>
                                </div>
                                <div class="c_lower-content_c_flex-end"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c_group three-col">
    
    <div class="col-sm-8">
        <div class="c_group-content c_text-center">
            <div class="c_image c_image_min">
                <img class="c_hidden-xs" src="/images/sustainability/icon-leaf.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/icon-leaf.jpg" alt="imgalt">
            </div>
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-one ff-worksans_light ff-28 ff-28__scale-up">Conservation</span>
                    <span class="c_text-two ff-worksans ff-14 ff-17__scale-up">Sustainability is all about caring for our community. That's what makes it an integral part of our corporate values.</span>
                </div>
            </div>
        </div>
    </div>  
    <div class="col-sm-8">
        <div class="c_group-content c_text-center">
            <div class="c_image c_image_min">
                <img class="c_hidden-xs" src="/images/sustainability/icon-people.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/icon-people.jpg" alt="imgalt">
            </div>
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-one ff-worksans_light ff-28 ff-28__scale-up">Community</span>
                    <span class="c_text-two ff-worksans ff-14 ff-17__scale-up">Because we have a long-standing tradition of community involvement, e are commiteed to being godd stewards of our natural resources and promoting healthy living.</span>
                </div>
                   <div class="c_cta c_cta_default">Learn More</div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="c_group-content c_text-center">
            <div class="c_image c_image_min">
                <img class="c_hidden-xs" src="/images/sustainability/icon-person.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/icon-person.jpg" alt="imgalt">

            </div>
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-one ff-worksans_light ff-28 ff-28__scale-up">Healthy living</span>
                    <span class="c_text-two ff-worksans ff-14 ff-17__scale-up">Belk's vision is to continue to work together with our vendors, suppliers, associates and customers to achieve a more sustainable future.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c_group c_full-hero">
    <div class="col-md-24">
        <div class="c_group-content c_text-center">
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-one ff-worksans_bold ff-28 ff-28__scale-up">Belk's Sustainable Values</span>
                    <span class="c_text-two ff-worksans ff-14 ff-17__scale-up">Some of the recent intitiatives Belk has undertaken as part of its CSR vision include:</span>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="c_group c_full-hero">                          
    <div class="col-md-24">
        <div class="c_group-content">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/placeholders/720x200-pink.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/placeholders/720x200-pink.jpg" alt="imgalt">
                <div class="c_overlay ff-white c_text-center">
                    <div class="c_overlay-content c_centered-xs-middle">
                        <div class="c_lower-content">
                            <div class="c_lower-content_flex">
                                <div class="c_lower-content_c_flex-start"></div>
                                <div class="c_lower-content_right c_lower-content__text_last">
                                    <span class="c_lower-content__text c_lower-content__text_one ff-uppercase ff-worksans_light ff-62">Energy<strong>&amp;</strong>Water</span>
                    
                                </div>
                                <div class="c_lower-content_c_flex-end"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c_group c_full-hero">
    <div class="col-md-24">
        <div class="c_group-content c_text-center">
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-one ff-worksans_bold ff-28 ff-28__scale-up">Energy Efficient Equipment</span>
                    <span class="c_text-two ff-worksans ff-14 ff-17__scale-up">has been installed in many stores</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c_group two-col">
    
    <div class="col-sm-24 c_offset-xs-y_middle c_offset-sm-y_top_offset">
        <div class="c_group-content c_image_min c_text-center">
            <div class="c_image ">
                <img class="c_hidden-xs" src="/images/sustainability/icon-bulb.png" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/icon-bulb.png" alt="imgalt">
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="c_group-content" style="background:#F2826E;color:ff-white;">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/placeholders/960x473-gray.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/placeholders/960x473-gray.jpg" alt="imgalt">
            </div>
            <div class="c_lower-content" style="padding: 0 25px 25px;">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans_light ff-17 ff-17__scale-up">Both stores at the Columbiana Mall in South Carolina have been retrofitted with LED lighting technology and we have installed over 8,000 spotlights with LEDs across our footprint.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="c_group-content" style="background:#F2826E;color:ff-white;">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/placeholders/960x473-gray.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/placeholders/960x473-gray.jpg" alt="imgalt">
            </div>

            <div class="c_lower-content" style="padding: 0 25px 25px;">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans_light ff-17 ff-17__scale-up"><br><br>Many of our jewlery displays and cosmetic counters now use LED lighting technology as well.<br><br></span>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="c_group two-col">
    
    <div class="col-sm-12">
         <div class="c_group-content c_text-center">
            <div class="c_image c_image_min">
                <img class="c_hidden-xs" src="/images/sustainability/icon-hotcold.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/icon-hotcold.jpg" alt="imgalt">
            </div>
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans ff-17 ff-17__scale-up">Heating and colling equipment in stores is being upgraded to current efficiency standards; as a result, many stores have received an Energy Star certification.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
         <div class="c_group-content c_text-center">
            <div class="c_image c_image_min">
                <img class="c_hidden-xs" src="/images/sustainability/icon-solar.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/icon-solar.jpg" alt="imgalt">
            </div>
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans ff-17 ff-17__scale-up">We have tested renewable energy equipment via solar panels and are exploring options to expand our use of solar energy.</span>
                </div>
                <div class="c_cta c_cta_default">Learn More</div>
            </div>
        </div>
    </div>
</div>

<div class="c_group c_full-hero">
    
    <div class="col-md-24">
        <div class="c_group-content">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/placeholders/720x200-blue.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/placeholders/355x250-blue.jpg" alt="imgalt">
                <div class="c_overlay ff-white c_text-center">
                    <div class="c_overlay-content c_centered-xs-middle">
                        <div class="c_lower-content">
                            <div class="c_text c_text_c_lower">
                                <span class="c_lower-content__text c_lower-content__text_one ff-uppercase ff-worksans_light ff-62 ff-42__scale-down">Waste<strong>&amp;</strong>Resources</span>
                                <span class="c_lower-content__text c_lower-content__text_two ff-worksans_light ff-20 ff-17__scale-up padded" style="/* font-size:20px; */">Belk partners with the local communities we serve for beach and river clean ups. Since 2012, we have hosted cleanups of six local beaches &amp; rivers in North &amp; South Carolina.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c_group c_full-hero">
    <div class="col-md-24">
        <div class="c_group-content c_text-center">
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-one ff-worksans_bold ff-28 ff-28__scale-up">Cooper River Cleanup</span>
                    <span class="c_text-two ff-worksans ff-17 ff-17__scale-up padded">Volunteers from Belk, United By Blue and Eco Swim organized a community cleanup in North Charleston, SC and spent a Saturday morning in spring of 2015 sweeping the marshes for trash and constructing an oyster habitat in the Cooper River.</span>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="c_group two-col">
    
    <div class="col-sm-24 c_offset-xs-y_middle c_offset-sm-y_top_offset">
        <div class="c_group-content c_image_min c_text-center">
            <div class="c_image ">
                <img class="c_hidden-xs" src="/images/sustainability/icon-waterdrop.png" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/icon-waterdrop.png" alt="imgalt">
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="c_group-content" style="background:#13B4D0;color:ff-white;">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk29_2015_sustainability_fh06_trash_desktop.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk29_2015_sustainability_fh06_trash_desktop.jpg" alt="imgalt">
            </div>
            <div class="c_lower-content" style="padding: 0 25px 25px;">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans_light ff-17 ff-17__scale-up padded">In just a few hours, volunteers pulled 813 pounds of trash from the marshes.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="c_group-content" style="background:#13B4D0;color:ff-white;">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk29_2015_sustainability_fh06_oyster_desktop.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk29_2015_sustainability_fh06_oyster_desktop.jpg" alt="imgalt">
            </div>

            <div class="c_lower-content" style="padding: 0 25px 25px;">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans_light ff-17 ff-17__scale-up">And built an oyster habitat made of 473 oyster bags along the bank of Watershed</span>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="c_group two-col">
    
    <div class="col-sm-24 c_offset-xs-y_middle c_offset-sm-y_top_offset">
        <div class="c_group-content c_image_min c_text-center">
            <div class="c_image ">
                <img class="c_hidden-xs" src="/images/sustainability/icon-clam.png" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/icon-clam.png" alt="imgalt">
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="c_group-content" style="background:#13B4D0;color:ff-white;">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk29_2015_sustainability_fh07_oysterbags_desktop.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk29_2015_sustainability_fh07_oysterbags_desktop.jpg" alt="imgalt">
            </div>
            <div class="c_lower-content" style="padding: 0 25px 25px;">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans_light ff-17 ff-17__scale-up">Each of those bags has the potential to support 400 oysters when they reach maturity.  That is a potential of 189,200 new oysters.<br><br></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="c_group-content" style="background:#13B4D0;color:ff-white;">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk29_2015_sustainability_fh07_handingbag_desktop.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk29_2015_sustainability_fh07_handingbag_desktop.jpg" alt="imgalt">
            </div>

            <div class="c_lower-content" style="padding: 0 25px 25px;">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans_light ff-17 ff-17__scale-up">The reef will also have the capacity to filter up to 473,000 gallons of water per hour - that's nearly 5.7 million gallons per day or more than 2 billion gallons per year!</span>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="c_group c_full-hero">
    
    <div class="col-md-24">
         <div class="c_group-content c_text-center">
            <div class="c_image c_image_min">
                <img class="c_hidden-xs" src="/images/sustainability/icon-recycle.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/icon-recycle.jpg" alt="imgalt">
            </div>
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans ff-17 ff-17__scale-up padded">Most of the packing material that comes through our stores is recycle, keeping wate from ending up in landfills.  Over the past year, we have recycled over 11, 000 tons of cardboard. We also recycle and reuse plastic film, wood pallets and plastic hangers.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c_group c_full-hero">
    <div class="col-md-24">
        <div class="c_group-content c_text-center">
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-one ff-worksans_bold ff-28 ff-28__scale-up">Brand Partnerships</span>
                    <span class="c_text-two ff-worksans ff-17 ff-17__scale-up">We are partnering with mulitple brands to recycle materials in-store.</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="c_group two-col">
    
    <div class="col-sm-12">
         <div class="c_group-content c_text-center">
            <div class="c_image c_image_min">
                <img class="c_hidden-xs" src="/images/sustainability/icon-makeup.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/icon-makeup.jpg" alt="imgalt">
            </div>
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans ff-17 ff-17__scale-up padded">For example, did you know that when you bring back six empty MAC cosmetic containers to a MAX store or counter, you receive a free lipstick?</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
         <div class="c_group-content c_text-center">
            <div class="c_image c_image_min">
                <img class="c_hidden-xs" src="/images/sustainability/icon-skincare.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/icon-skincare.jpg" alt="imgalt">
            </div>
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans ff-17 ff-17__scale-up padded">Also, natural skincare company, Origins, recycles cosmetic containers of any brand free of charge.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c_group c_full-hero">
    
    <div class="col-md-24">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/placeholders/720x200-green.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/placeholders/720x200-green.jpg" alt="imgalt">
                <div class="c_overlay ff-white c_text-center">
                    <div class="c_overlay-content c_centered-xs-middle">
                        <div class="c_lower-content">
                            <div class="c_text c_text_c_lower">
                                <span class="c_lower-content__text c_lower-content__text_one ff-uppercase ff-worksans_light ff-42">Sustainable Products</span>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c_group ranch">
    <div class="col-md-5">
         
    </div>
    <div class="col-md-14">
         <div class="c_group-content c_text-center">
            <div class="c_image c_image_min">
                <img class="c_hidden-xs" src="/images/sustainability/icon-coffeerecycle.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/icon-coffeerecycle.jpg" alt="imgalt">
            </div>
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans ff-17 ff-17__scale-up padded">Belk has partnered with Nespresso to become the first ever department store to offer a recycling program for their coffee capsules.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
         
    </div>
</div>

<div class="c_group c_full-hero">
    <div class="col-md-24">
        <div class="c_group-content c_text-center">
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-one ff-worksans_bold ff-28 ff-28__scale-up">Focus on Sustainability</span>
                    <span class="c_text-two ff-worksans ff-17 ff-17__scale-up">We carry many brands that focus on sustainability, including:</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c_group four-col">
    
    <div class="col-sm-6 col-xs-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk29_2015_sustainability_4c1-1_desktop.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk29_2015_sustainability_4c1-1_desktop.jpg" alt="imgalt">
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk48_2015_sustainability_122815_4c1-2_desktop.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk48_2015_sustainability_122815_4c1-2_desktop.jpg" alt="imgalt">
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk29_2015_sustainability_4c1-3_desktop.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk29_2015_sustainability_4c1-3_desktop.jpg" alt="imgalt">
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk29_2015_sustainability_4c1-4_desktop.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk29_2015_sustainability_4c1-4_desktop.jpg" alt="imgalt">
            </div>
        </div>
    </div>
</div>
<div class="c_group four-col">
    
    <div class="col-sm-6 col-xs-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk29_2015_sustainability_4c2-1_desktop.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk29_2015_sustainability_4c2-1_desktop.jpg" alt="imgalt">
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk29_2015_sustainability_4c2-2_desktop.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk29_2015_sustainability_4c2-2_desktop.jpg" alt="imgalt">
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk29_2015_sustainability_4c2-3_desktop.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk29_2015_sustainability_4c2-3_desktop.jpg" alt="imgalt">
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk29_2015_sustainability_4c2-4_desktop.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk29_2015_sustainability_4c2-4_desktop.jpg" alt="imgalt">
            </div>
        </div>
    </div>
</div>



<div class="c_group c_full-hero">
    <div class="col-md-24">
        <div class="c_group-content">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/placeholders/720x200-green.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/placeholders/720x200-green.jpg" alt="imgalt">
                <div class="c_overlay ff-white c_text-center">
                    <div class="c_overlay-content c_centered-xs-middle">
                        <div class="c_lower-content">
                            <div class="c_text c_text_c_lower">
                                <span class="c_lower-content__text c_lower-content__text_one ff-uppercase ff-worksans_light ff-42">Healthy Living</span>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c_group c_full-hero">
    <div class="col-md-24">
        <div class="c_group-content c_text-center">
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-one ff-worksans_bold ff-36 ff-36__scale-up">Earth Month</span>
                    <span class="c_text-two ff-worksans_light ff-28 ff-28__scale-up">Belk celebrates Earth Month each year in April.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c_group two-col">
    
    <div class="col-sm-24 c_offset-xs-y_middle c_offset-sm-y_top_offset">
        <div class="c_group-content c_image_min c_text-center">
            <div class="c_image ">
                <img class="c_hidden-xs" src="/images/sustainability/icon-car.png" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/icon-car.png" alt="imgalt">
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="c_group-content" style="background:#67B524;color:ff-white;">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/placeholders/960x473-gray.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/placeholders/960x473-gray.jpg" alt="imgalt">
            </div>
            <div class="c_lower-content" style="padding: 0 25px 25px;">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans_light ff-17 ff-17__scale-up">This past year, associates were given the opportunity to test drive fuel-efficient vehicles.<br><br></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="c_group-content" style="background:#67B524;color:ff-white;">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/placeholders/960x473-gray.jpg" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/placeholders/960x473-gray.jpg" alt="imgalt">
            </div>

            <div class="c_lower-content" style="padding: 0 25px 25px;">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans_light ff-17 ff-17__scale-up">Programs were held to educate associates about waste and recycling, and about the sustainable products we sell.</span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="c_group c_full-hero">
    <div class="col-md-24">
                <div class="c_group-content">
                
            <div class="c_flex__container c_text-center ff-white">
                <div class="c_flex__item c_flex__item--half c_flex__item--left">
                    <div class="c_image">
                        <img class="c_hidden-xs" src="/images/sustainability/placeholders/960x473-gray.jpg" alt="imgalt">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/placeholders/960x473-gray.jpg" alt="imgalt">
                    </div>
                </div>
                <div class="c_flex__item c_flex__item--half c_flex__item--right c_flex__item--text" style="background-color:#67B524">
                    <div class="c_text c_text_c_lower">
                        <span class="c_text-two ff-worksans_light ff-17 ff-17__scale-up">Belk associates also enjoyed a fun-filled day giving back to the community by planting trees through a partnership with TressCharlotte.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="c_group c_full-hero">
   <div class="col-sm-24 c_offset-xs-y_top c_offset-sm-y_middle">
        <div class="c_group-content c_image_min c_text-center">
            <div class="c_image ">
                <img class="" src="/images/sustainability/icon-tree.png" alt="imgalt">
                
            </div>
        </div>
    </div>
    <div class="col-md-24">
        <div class="c_group-content">
                
            <div class="c_flex__container c_text-center ff-white">
                <div class="c_flex__item c_flex__item--half c_flex__item--left">
                    <div class="c_image">
                        <img class="c_hidden-xs" src="/images/sustainability/placeholders/960x473-gray.jpg" alt="imgalt">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/placeholders/960x473-gray.jpg" alt="imgalt">
                    </div>
                </div>
                <div class="c_flex__item c_flex__item--half c_flex__item--right c_flex__item--text"  style="background-color:#67B524">
                    <div class="c_text c_text_c_lower">
                        <span class="c_text-two ff-worksans_light ff-17 ff-17__scale-up">We partner with Catawba Land Conservancy to promote land conservation, trail hikes, and outdoor activities to our employees and the community.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c_group c_full-hero">
    <div class="col-md-24">
        <div class="c_group-content">
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-two ff-worksans_light ff-17 ff-17__scale-up">Learn more at <a href="http://catawbalands.org/" target="_blank">www.CatawbaLands.org</a></span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="c_group c_full-hero">
    <div class="col-md-24">
        <div class="c_group-content c_text-center">
            <div class="c_lower-content">
                <div class="c_text c_text_c_lower">
                    <span class="c_text-one ff-worksans_bold ff-36 ff-36__scale-up">Industry Associations</span>
                    <span class="c_text-two ff-worksans_light ff-28 ff-17__scale-up">In addition to our local partnerships, Belk is a member of the following industry associations that support sustainability in their business practices.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c_group two-col">
    
    <div class="col-sm-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk48_2015_sustainability_122815_2c5_desktop.gif" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk48_2015_sustainability_122815_2c5_mobile.jpg" alt="imgalt">
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk48_2015_sustainability_122815_2c6_desktop.gif" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk48_2015_sustainability_122815_2c6_mobile.jpg" alt="imgalt">
            </div>
        </div>
    </div>
</div>
<div class="c_group two-col">
    
    <div class="col-sm-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk48_2015_sustainability_122815_2c7_desktop.gif" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk48_2015_sustainability_122815_2c7_mobile.jpg" alt="imgalt">
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk48_2015_sustainability_122815_2c8_desktop.gif" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk48_2015_sustainability_122815_2c8_mobile.jpg" alt="imgalt">
            </div>
        </div>
    </div>
</div>

<div class="c_group c_full-hero">
    <div class="col-md-24">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk48_2015_sustainability_122815_fh20_desktop.gif" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk48_2015_sustainability_122815_fh20_mobile.jpg" alt="imgalt">
            </div>
        </div>
    </div>
</div>

<div class="c_group two-col">
    
    <div class="col-sm-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk48_2015_sustainability_122815_2c9_desktop.gif" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk48_2015_sustainability_122815_2c9_mobile.jpg" alt="imgalt">
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="c_group-content c_text-center">
            <div class="c_image">
                <img class="c_hidden-xs" src="/images/sustainability/wk48_2015_sustainability_122815_2c10_desktop.gif" alt="imgalt">
                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/images/sustainability/wk48_2015_sustainability_122815_2c10_mobile.jpg" alt="imgalt">
            </div>
        </div>
    </div>
</div>
</div>