


<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
            <%- include(content) %>
        </div>
        <div class="col-md-3" role="complementary">
           <nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs">
                    <ul class="nav bs-docs-sidenav">
                    </ul><a class="back-to-top" href="#top">Back to top</a>
            </nav>
        </div>
    </div>
</div>