</div>
<div id="secondary" class="nav">
<nav>
<h1 class="visually-hidden">Secondary Navigation</h1>
<div class="secondary-navigation">



<!-- dwMarker="rinclude" dwPipelineTitle="CustomerService-LeftNav (app_belk_controllers)" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/CustomerService.js&start=LeftNav" dwIsController="true" dwTemplateTitle="/default/content/customerserviceleftnav.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/customerserviceleftnav.isml" --><span class="toggle">Customer Service</span>

<ul>
<span class="toggle">Contact Us</span>

</ul>

<ul>
<span class="toggle">Terms &amp; Conditions</span>

</ul>

<ul>
<span class="toggle">Privacy Policy</span>

</ul>


</div>
</nav>
</div>
        <!-- dwMarker="linclude" dwTemplateTitle="/default/components/footer/footer.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/components/footer/footer.isml" -->
        <!-- dwMarker="linclude" dwTemplateTitle="/default/util/modules.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/modules.isml" -->
        <footer id="footer">
            <div class="footer-item-top"><i></i></div>
            <div class="footer-container">
                <div class="footer-item footer-item1 footer-item-links">
                    <!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" -->
                    <!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/htmlcontentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/htmlcontentasset.isml" --><span class="dw-object dw-object-rinclude" data-data="({&quot;TemplateURL&quot;:&quot;http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml&quot;,&quot;IsController&quot;:true,&quot;PipelineURL&quot;:&quot;http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&amp;start=Include&quot;,&quot;PageProcessingTime&quot;:5,&quot;PageCacheExpires&quot;:&quot;09/15/2016 6:42 pm&quot;,&quot;TemplateTitle&quot;:&quot;/default/content/content/contentassetinclude.isml (app_belk_core)&quot;,&quot;PipelineTitle&quot;:&quot;Page-Include (app_belk_controllers)&quot;})"></span>
                    <!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (app_belk_controllers)" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&start=Include" dwIsController="true" dwTemplateTitle="/default/content/content/contentassetinclude.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml" -->
                    <div class="content-asset">
                        <!-- dwMarker="content" dwContentID="13f1f705cd45f2dcf2f4ebc11c" -->
                        <h3>Customer Service</h3>
                        <ul class="menu-footer menu pipe">
                            <li><a href="#" title="Track Your Order">Track Your Order</a></li>
                            <li><a href="#" title="Shipping Information">Shipping Information</a></li>
                            <li><a href="#" title="Policy & Guidelines">Policy & Guidelines</a></li>
                            <li><a href="#" title="FAQs">FAQs</a></li>
                            <li><a href="#" title="Contact Us">Contact Us</a></li>
                        </ul>
                        <!-- END: footer1 -->
                    </div>
                </div>
                <div class="footer-item footer-item2 footer-item-links">
                    <!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" -->
                    <!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/htmlcontentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/htmlcontentasset.isml" --><span class="dw-object dw-object-rinclude" data-data="({&quot;TemplateURL&quot;:&quot;http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml&quot;,&quot;IsController&quot;:true,&quot;PipelineURL&quot;:&quot;http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&amp;start=Include&quot;,&quot;PageProcessingTime&quot;:5,&quot;PageCacheExpires&quot;:&quot;09/15/2016 6:42 pm&quot;,&quot;TemplateTitle&quot;:&quot;/default/content/content/contentassetinclude.isml (app_belk_core)&quot;,&quot;PipelineTitle&quot;:&quot;Page-Include (app_belk_controllers)&quot;})"></span>
                    <!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (app_belk_controllers)" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&start=Include" dwIsController="true" dwTemplateTitle="/default/content/content/contentassetinclude.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml" -->
                    <div class="content-asset">
                        <!-- dwMarker="content" dwContentID="6da09bd8db25755b77760fed46" -->
                        <h3><a href="https://www.belkcredit.com/consumergen2/login.do?subActionId=1000&clientId=belk&langId=en&accountType=plcc" title="Check Available Balance" target="_blank">Belk Reward Card</a></h3>
                        <ul class="menu-footer menu pipe">
                            <li><a href="https://www.onlinecreditcenter2.com/eapplygen2/load.do?cHash=1315641838&subActionId=1000&langId=en" title="Apply for a Belk Credit Card" class="footer-belk-creditcard" target="_blank"><span>Apply for a</span> <span>Belk Credit Card</span></a></li>
                            <li><a href="https://www.belkcredit.com/consumergen2/login.do?subActionId=1000&clientId=belk&langId=en&accountType=plcc" title="Pay Your Bill Online" target="_blank">Pay Your Bill Online</a></li>
                            <li><a href="https://www.belkcredit.com/consumergen2/login.do?subActionId=1000&clientId=belk&langId=en&accountType=plcc" title="Check Available Balance" target="_blank">Check Available Balance</a></li>
                            <li><a href="#" title="Visit My Belk Rewards">Visit My Belk Rewards</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-item footer-item3 footer-item-links">
                    <!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" -->
                    <!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/htmlcontentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/htmlcontentasset.isml" --><span class="dw-object dw-object-rinclude" data-data="({&quot;TemplateURL&quot;:&quot;http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml&quot;,&quot;IsController&quot;:true,&quot;PipelineURL&quot;:&quot;http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&amp;start=Include&quot;,&quot;PageProcessingTime&quot;:5,&quot;PageCacheExpires&quot;:&quot;09/15/2016 6:42 pm&quot;,&quot;TemplateTitle&quot;:&quot;/default/content/content/contentassetinclude.isml (app_belk_core)&quot;,&quot;PipelineTitle&quot;:&quot;Page-Include (app_belk_controllers)&quot;})"></span>
                    <!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (app_belk_controllers)" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&start=Include" dwIsController="true" dwTemplateTitle="/default/content/content/contentassetinclude.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml" -->
                    <div class="content-asset">
                        <!-- dwMarker="content" dwContentID="263d7f43186f232a3ae75bedc3" -->
                        <h3>About Belk</h3>
                        <ul class="menu-footer menu pipe">
                            <li><a href="#" title="Visit Your Ads">Visit Your Ads</a></li>
                            <li><a href="#" title="List of Brands">List of Brands</a></li>
                            <li><a href="#" title="Careers at Belk">Careers at Belk</a></li>
                            <li><a href="#" title="Vendor Information">Vendor Information</a></li>
                            <li><a href="#" title="Corporate Information">Corporate Information</a></li>
                        </ul>
                        <!-- END: footer3 -->
                    </div>
                </div>
                <div class="footer-item footer-item4 footer-app-links">
                    <!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" -->
                    <!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/htmlcontentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/htmlcontentasset.isml" --><span class="dw-object dw-object-rinclude" data-data="({&quot;TemplateURL&quot;:&quot;http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml&quot;,&quot;IsController&quot;:true,&quot;PipelineURL&quot;:&quot;http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&amp;start=Include&quot;,&quot;PageProcessingTime&quot;:6,&quot;PageCacheExpires&quot;:&quot;09/15/2016 6:42 pm&quot;,&quot;TemplateTitle&quot;:&quot;/default/content/content/contentassetinclude.isml (app_belk_core)&quot;,&quot;PipelineTitle&quot;:&quot;Page-Include (app_belk_controllers)&quot;})"></span>
                    <!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (app_belk_controllers)" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&start=Include" dwIsController="true" dwTemplateTitle="/default/content/content/contentassetinclude.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml" -->
                    <div class="content-asset">
                        <!-- dwMarker="content" dwContentID="78535098e1dd853b22530a4c6e" -->
                        <h3>Download Our App</h3>
                        <ul class="menu-footer menu">
                            <li class="footer-belk-app"><i></i>
                                <div class="footer-app-links">
                                    <div class="footer-app-title">Belk App</div> <a href="https://itunes.apple.com/us/artist/belkinc./id575718365" title="iOS" target="_blank">iOS</a><a href="https://play.google.com/store/apps/details?id=com.belk.android.belk&hl=en" title="Android"
                                        target="_blank">Android</a> </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-social">
                    <!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" -->
                    <!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/htmlcontentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/htmlcontentasset.isml" --><span class="dw-object dw-object-rinclude" data-data="({&quot;TemplateURL&quot;:&quot;http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml&quot;,&quot;IsController&quot;:true,&quot;PipelineURL&quot;:&quot;http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&amp;start=Include&quot;,&quot;PageProcessingTime&quot;:4,&quot;PageCacheExpires&quot;:&quot;09/15/2016 6:42 pm&quot;,&quot;TemplateTitle&quot;:&quot;/default/content/content/contentassetinclude.isml (app_belk_core)&quot;,&quot;PipelineTitle&quot;:&quot;Page-Include (app_belk_controllers)&quot;})"></span>
                    <!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (app_belk_controllers)" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&start=Include" dwIsController="true" dwTemplateTitle="/default/content/content/contentassetinclude.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml" -->
                    <div class="content-asset">
                        <!-- dwMarker="content" dwContentID="e70d822ea1ed91a803084f720e" --><span><a href="#" class="footer-stay-connected">Stay Connected</a></span> <a href="#" class="footer-facebook">facebook</a> <a href="#" class="footer-twitter">twitter</a> <a href="#" class="footer-pintrest">pintrest</a> <a href="#"
                            class="footer-instagram">instagram</a> <a href="#" class="footer-youtube">youtube</a> <a href="#" class="footer-google ">google plus</a> </div>
                </div>
                <div class="footer-email">
                    <form action="#" method="post" id="email-alert-signup"> <label for="email-alert-address">Sign Up &amp; Save</label> <span class="footer-email-cont"><input type="text" id="email-alert-address" class="input-text email" placeholder="Enter your email address" value="" /><button type="submit" name="home-email" value="Submit" class="email-signup" >Join</button><span class="error-text error hide"></span>                        </span>
                    </form>
                </div>
            </div>
            <div class="footer-legal-msg">
                <!-- dwMarker="slot" dwContentID="footer-legal-message" dwContext="global"--><span class="dw-object dw-object-rinclude" data-data="({&quot;TemplateURL&quot;:&quot;http://localhost:60606/target=/c/app_belk_core/t/default/slots/html/htmlslotcontainer.isml&quot;,&quot;IsController&quot;:false,&quot;PageProcessingTime&quot;:3,&quot;PageCacheExpires&quot;:&quot;09/15/2016 6:42 pm&quot;,&quot;TemplateTitle&quot;:&quot;/default/slots/html/htmlslotcontainer.isml (app_belk_core)&quot;,&quot;PipelineTitle&quot;:&quot;Internal&quot;})"></span>
                <!-- dwMarker="rinclude" dwTemplateTitle="/default/slots/html/htmlslotcontainer.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/slots/html/htmlslotcontainer.isml" -->
                <div class="html-slot-container"> Placeholder for legal messaging. </div>
            </div>
            <div class="footer-bottom">
                <!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/contentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentasset.isml" -->
                <!-- dwMarker="linclude" dwTemplateTitle="/default/content/content/htmlcontentasset.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/htmlcontentasset.isml" --><span class="dw-object dw-object-rinclude" data-data="({&quot;TemplateURL&quot;:&quot;http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml&quot;,&quot;IsController&quot;:true,&quot;PipelineURL&quot;:&quot;http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&amp;start=Include&quot;,&quot;PageProcessingTime&quot;:5,&quot;PageCacheExpires&quot;:&quot;09/15/2016 6:42 pm&quot;,&quot;TemplateTitle&quot;:&quot;/default/content/content/contentassetinclude.isml (app_belk_core)&quot;,&quot;PipelineTitle&quot;:&quot;Page-Include (app_belk_controllers)&quot;})"></span>
                <!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (app_belk_controllers)" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/Page.js&start=Include" dwIsController="true" dwTemplateTitle="/default/content/content/contentassetinclude.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/content/contentassetinclude.isml" -->
                <div class="content-asset">
                    <!-- dwMarker="content" dwContentID="bb854319c29865fadcd27d4737" -->
                    <div class="footer-bottom-call">Order by calling <a href="tel:1-866-235-5443">1-866-235-5443</a></div>
                    <div class="footer-bottom-timings"><span>Mon-Fri 7:00 AM - 10:00 PM (EST)</span> <span><sup>.</sup> Sat-sun 9:00 AM - 10:00 PM (ESt)</span></div>
                    <div class="footer-bottom-links"><span><a href="#">Terms</a><a href="#">Privacy Policy</a></span><span><a href="http://staging-web-belk.demandware.net/on/demandware.store/Sites-Belk-Site/default/SiteMap-Start?bctext3=Site%20Map" title="Go to Site Map"><!-- dwMarker="link" dwPipelineTitle="SiteMap-Start (app_belk_controllers)" dwIsController="true" dwPipelineURL="http://localhost:60606/target=/app_belk_controllers/cartridge/controllers/SiteMap.js&amp;start=Start" -->Site Map</a><a href="#">[+] Page Feedback</a></span></div>
                    <div class="copyright">© 2016 Belk, Inc. & Belk eCommerce LLC. <span>All Rights Reserved.</span></div>
                </div>
            </div>
        </footer>
        <!-- dwMarker="linclude" dwTemplateTitle="/default/util/reporting/ReportUserRegistration.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/util/reporting/ReportUserRegistration.isml" -->
        <!-- dwMarker="linclude" dwTemplateTitle="/default/components/footer/footer_UI.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/components/footer/footer_UI.isml" -->
        <!-- dwMarker="linclude" dwTemplateTitle="/default/content/home/pt_storefront_VARS.isml (app_belk_core)" dwTemplateURL="http://localhost:60606/target=/c/app_belk_core/t/default/content/home/pt_storefront_VARS.isml" -->
    </div>
    <!-- /wrapper -->
    <!-- Demandware Analytics code 1.0 (body_end-analytics-tracking.js) -->
    <!-- CQuotient Activity Tracking (body_end-cquotient.js) -->
    <script type="text/javascript" src="/assets/cope/js/bootstrap.collapse.js"></script>
    <script type="text/javascript" src="/assets/cope/js/cope.video.js"></script>
</body>

</html>