<!-- Template Examples -->
            <!-- ********** FW - Full Hero ********** -->

            <div class="c_group c_full-hero">
            <div class="c_header">
                <i></i>
            </div>
            <!-- Promo A -->
            <div class="col-md-24">
                <a href="#" class="c_group__content">
                    <div class="c_image">
                        <img class="c_hidden-xs" src="/assets/images/fh-half-purple.jpg" alt="alt for image">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/fh-half-purple-m.jpg" alt="alt for image">
                        <div class="c_overlay c_grid__default-xs c_grid__default-sm--left c_text--center ">
                            <div class="c_overlay__content c_centered-xs--middle">
                                <div class="c_badge" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                <div class="c_overlay__image"><img src="/assets/images/semp-sale.svg"/></div>
                                <div class="c_text">
                                        <!--span class="c_text-one">Up to 55% off</span-->
                                        <span class="c_text-two ff-chalet_newyork ff-28 ff-uppercase ff-white">over 190 bonusbuys instore &amp; online</span>
                                        <span class="c_text-three ff-chalet_paris ff-14 ff-uppercase ff-white">ends tuesday 9/21</span>
                                </div>
                                <div class="c_cta c_cta--button-white c_hidden-xs"><span >shop all bonusbuys</span></div>
                            </div>
                        </div>
                        <div class="c_badge c_badge--bottom c_hidden-xs" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                    </div>
                </a>
                <div class="c_list c_list--block c_list__outer c_hidden-sm c_hidden-md c_hidden-lg">
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                </div>
            </div>
            </div>

            <!-- ********** FW - Full Hero ********** -->
            <div class="c_group c_full-hero">
            <div class="c_header">
                <h2>We are Modern. Southern. Style</h2>
            </div>
            <!-- Promo A -->
            <div class="col-md-24">
                <a href="#" class="c_group__content">
                    <div class="c_image">
                        <img class="c_hidden-xs" src="/assets/images/fh-half.jpg" alt="alt for image">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/fh-half-m.jpg" alt="alt for image">
                        <div class="c_overlay c_text--center">
                            <div class="c_overlay__content c_centered-xs--middle">
                                <div class="c_badge" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                <div class="c_text ff-scale-up">
                                        <!--span class="c_text-one">Up to 55% off</span-->
                                        <span class="c_text-one ff-chronicle_bold  ff-42 ff-white">Only the best for fall</span>
                                        <span class="c_text-two ff-chalet_newyork ff-62  ff-white">Save up to 70% off</span>
                                        <span class="c_text-three ff-chalet ff-light ff-17 ff-white">Featuring Crown &amp; Ivy</span>
                                </div>
                                <div class="c_cta c_cta--button-white"><span >shop all bonusbuys</span></div>
                            </div>
                        </div>
                        <div class="c_badge c_badge--bottom c_hidden-xs" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                    </div>
                </a>
            </div>
            </div>

            <!-- ********** FW - Full Hero ********** -->
            <div class="c_group c_full-hero">
            <div class="c_header">
                <h2>We are Modern. Southern. Style</h2>
            </div>
            <!-- Promo A -->
            <div class="col-md-24">
                <div class="c_group__content">
                    <div class="c_image">
                        <img class="c_hidden-xs" src="/assets/images/fh-third.jpg" alt="alt for image">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/fh-third-m.jpg" alt="alt for image">
                        <div class="c_overlay c_text--center">
                            <div class="c_overlay__content c_centered-xs--middle">
                                <div class="c_badge" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                    <div class="c_text">
                                        <!--span class="c_text-one">Up to 55% off</span-->
                                        <span class="c_text-one ff-chronicle_bold  ff-42 ff-white">Only the best for fall</span>
                                        <span class="c_text-two ff-chalet_newyork ff-62  ff-white">Save up to 70% off</span>
                                        <span class="c_text-three ff-chalet ff-light ff-17 ff-white">Featuring Crown &amp; Ivy</span>
                                </div>
                                    <div class="c_list c_list--inline c_list__inner">
                                        <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                        <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                    </div>
                            </div>
                        </div>
                        <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                    </div>
                        <div class="c_list c_list--block c_list__outer">
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                        </div>
                </div>
            </div>
            </div>
            <!-- ********** FW - Full Hero ********** -->
            <div class="c_group c_full-hero">
            <div class="c_header">
                <h2>We are Modern. Southern. Style</h2>
            </div>
            <!-- Promo A -->
            <div class="col-md-24">
                    <div class="c_group__content">
                    <div class="c_image">
                        <img class="c_hidden-xs" src="/assets/images/fh-half.jpg" alt="alt for image">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/fh-half-m.jpg" alt="alt for image">
                        <div class="c_overlay c_grid__default-xs--left c_text--left">
                            <div class="c_overlay__content c_centered-xs--middle">
                                <div class="c_badge" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                    <div class="c_text">
                                        <!--span class="c_text-one">Up to 55% off</span-->
                                        <span class="c_text-one ff-chronicle_bold  ff-42 ff-white">Only the best for fall</span>
                                        <span class="c_text-two ff-chalet_newyork ff-62  ff-white">Save up to 70% off</span>
                                        <span class="c_text-three ff-chalet ff-light ff-17 ff-white">Featuring Crown &amp; Ivy</span>
                                </div>
                                    <div class="c_list c_list--block c_list__inner">
                                        <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                        <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                        <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                    </div>
                            </div>
                        </div>
                        <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                    </div>
                        <div class="c_list c_list--block c_list__outer">
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                        </div>
                </div>
            </div>
            </div>

            <!-- ********** FW - Full Hero ********** -->
            <div class="c_group c_full-hero">
            <div class="c_header">
                <h2>We are Modern. Southern. Style</h2>
            </div>
            <!-- Promo A -->
            <div class="col-md-24">
                    <div class="c_group__content">
                    <div class="c_image">
                        <img class="c_hidden-xs" src="/assets/images/fh-half.jpg" alt="alt for image">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/fh-half-m.jpg" alt="alt for image">
                        <div class="c_overlay c_grid__default-xs--right c_text--right">
                            <div class="c_overlay__content c_centered-xs--middle">
                                <div class="c_badge" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                    <div class="c_text">
                                        <!--span class="c_text-one">Up to 55% off</span-->
                                        <span class="c_text-one ff-chronicle_bold  ff-42 ff-white">Only the best for fall</span>
                                        <span class="c_text-two ff-chalet_newyork ff-62  ff-white">Save up to 70% off</span>
                                        <span class="c_text-three ff-chalet ff-light ff-17 ff-white">Featuring Crown &amp; Ivy</span>
                                </div>
                                    <div class="c_list c_list--block c_list__inner">
                                        <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                        <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                        <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                    </div>
                            </div>
                        </div>
                        <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                    </div>
                        <div class="c_list c_list--block c_list__outer">
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                        </div>
                </div>
            </div>
            </div>
            <!-- ********** FW - Full Hero ********** -->
            <div class="c_group c_full-hero">
            <div class="c_header">
                <h2>We are Modern. Southern. Style</h2>
            </div>
            <!-- Promo A -->
            <div class="col-md-24">
                <div class="c_group__content">
                    <div class="c_image">
                        <img class="c_hidden-xs" src="/assets/images/fh-half.jpg" alt="alt for image">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/fh-half-m.jpg" alt="alt for image">
                        <div class="c_overlay c_text--center">
                            <div class="c_overlay__content c_centered-xs--middle">
                                <div class="c_badge" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                    <div class="c_text">
                                        <!--span class="c_text-one">Up to 55% off</span-->
                                        <span class="c_text-one ff-chronicle_bold ff-42 ff-white">Only the best for fall</span>
                                        <span class="c_text-two ff-chalet_newyork ff-62  ff-white">Save up to 70% off</span>
                                        <span class="c_text-three ff-chalet ff-light ff-17 ff-white">Featuring Crown &amp; Ivy</span>
                                </div>
                                    <div class="c_list c_list--block c_list__inner c_list--four">
                                        <div class="c_list__row">
                                            <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                            <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                        </div>
                                        <div class="c_list__row">
                                            <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                            <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                    </div>
                        <div class="c_list c_list--block c_list__outer">
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                        </div>
                </div>
            </div>
            </div>
            <!-- ********** FW - Full Hero ********** -->
            <div class="c_group c_full-hero">
            <div class="c_header">
                <h2>We are Modern. Southern. Style</h2>
            </div>
            <!-- Promo A -->
            <div class="col-md-24">
                <div class="c_group__content">
                    <div class="c_image">
                        <img class="c_hidden-xs" src="/assets/images/fh-half.jpg" alt="alt for image">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/fh-half-m.jpg" alt="alt for image">
                        <div class="c_overlay c_grid__default-xs c_grid__default-sm--right c_text--center">
                            <div class="c_overlay__content c_centered-xs--middle">
                                <div class="c_badge" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                    <div class="c_text">
                                        <!--span class="c_text-one">Up to 55% off</span-->
                                        <span class="c_text-one ff-chronicle_bold ff-42 ff-white">Only the best for fall</span>
                                        <span class="c_text-two ff-chalet_newyork ff-62  ff-white">Save up to 70% off</span>
                                        <span class="c_text-three ff-chalet ff-light ff-17 ff-white">Featuring Crown &amp; Ivy</span>
                                </div>
                                    <div class="c_list c_list--block c_list__inner c_list--four">
                                        <div class="c_list__row">
                                            <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                            <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                        </div>
                                        <div class="c_list__row">
                                             <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                            <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                    </div>
                        <div class="c_list c_list--block c_list__outer">
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                        </div>
                </div>
            </div>
            </div>
            <!-- ********** FW - Full Hero ********** -->
            <div class="c_group c_full-hero">
            <div class="c_header">
                <h2>We are Modern. Southern. Style</h2>
            </div>
            <!-- Promo A -->
            <div class="col-md-24">
                <div class="c_group__content">
                    <div class="c_image">
                        <img class="c_hidden-xs" src="/assets/images/fh-third.jpg" alt="alt for image">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/fh-third-m.jpg" alt="alt for image">
                        <div class="c_overlay c_text--center">
                            <div class="c_overlay__content c_centered-xs--middle">
                                <div class="c_badge" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                    <div class="c_text">
                                        <!--span class="c_text-one">Up to 55% off</span-->
                                        <span class="c_text-one ff-chronicle_bold ff-42 ff-white">Only the best for fall</span>
                                        <span class="c_text-two ff-chalet_newyork ff-62  ff-white">Save up to 70% off</span>
                                        <span class="c_text-three ff-chalet ff-light ff-17 ff-white">Featuring Crown &amp; Ivy</span>
                                </div>
                                    <div class="c_list c_list--inline c_list__inner">
                                        <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                        <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                        <a href="#" title="enter title here" class="c_list__item c_cta--button-white">Shop now</a>
                                    </div>
                            </div>
                        </div>
                        <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                    </div>
                        <div class="c_list c_list--block c_list__outer">
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                            <a href="#" title="enter title here" class="c_list__item c_cta--button">Shop now</a>
                        </div>
                </div>
            </div>
            </div>

            <!-- ********** FW - Two Col ********** -->
                <div class="c_group c_two-col">
                <div class="c_header">
                    <h2>We are Modern. Southern. Style</h2>
                </div>
                <!-- Promo A -->
                <div class="col-sm-12">
                    <a href="#" class="c_group__content">
                            <div class="c_image">
                                <img class="c_hidden-xs" src="/assets/images/ss-medium.jpg" alt="alt for image">
                                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                                <div class="c_overlay c_text--left">
                                    <div class="c_overlay__content c_centered-xs--middle">
                                        <div class="c_badge" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                        <div class="c_text">
                                                <span class="c_text-two ff-chalet_newyork ff-28 ff-white">up to 55% off Cashmere Sweaters</span>
                                                <span class="c_text-three ff-chalet ff-light ff-14 ff-white">from Crown &amp; Ivy and more</span>
                                        </div>
                                        <div class="c_cta c_cta--button-white"><span >shop now</span></div>
                                    </div>
                                </div>
                                <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                            </div>
                        </a>
                    </div>
                    <!-- Promo B -->
                    <div class="col-sm-12">
                        <a href="#" class="c_group__content">
                            <div class="c_image">
                                <img class="c_hidden-xs" src="/assets/images/ss-medium.jpg" alt="alt for image">
                                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                                <div class="c_overlay c_text--center">
                                    <div class="c_overlay__content c_centered-xs--middle">
                                        <div class="c_badge" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                        <div class="c_overlay__image"><img src="/assets/images/50-off-w.svg"/></div>
                                        <div class="c_text">
                                                <span class="c_text-one  ff-chalet ff-light ff-18 ff-white">Lorem Ipsum &amp; product name here and here</span>     
                                        </div>
                                        <div class="c_cta c_cta--button-white"><span >shop now</span></div>
                                    </div>
                                </div>
                                <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- ********** FW - Two Col ********** -->
                <div class="c_group c_two-col">
                <div class="c_header">
                    <h2>We are Modern. Southern. Style</h2>
                </div>
                <!-- Promo A -->
                <div class="col-sm-12">
                        <a href="#" class="c_group__content">
                            <div class="c_image">
                                <img class="c_hidden-xs" src="/assets/images/ss-medium.jpg" alt="alt for image">
                                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                                <div class="c_overlay c_text--center">
                                    <div class="c_overlay__content">
                                        <div class="c_badge" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                        <div class="c_overlay__image"><img src="/assets/images/50-off-w.svg"/></div>
                                        <div class="c_text">
                                                <span class="c_text-one  ff-chalet ff-light ff-18 ff-white">Lorem Ipsum &amp; product name here and here</span>      
                                        </div>
                                        <div class="c_cta c_cta--button-white"><span >shop now</span></div>
                                    </div>
                                </div>
                                <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                    <div class="c_row">
                        <!-- Promo B -->
                        <div class="col-xs-24">
                            <a href="#" class="c_group__content">
                                <div class="c_image">
                                    <img class="c_hidden-xs" src="/assets/images/ss-medium.jpg" alt="alt for image">
                                    <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-medium.jpg" alt="alt for image">
                                    <div class="c_overlay c_text--center">
                                        <div class="c_overlay__content c_centered-xs--middle">
                                            <div class="c_text c_text_image-link">
                                                    <span class="c_text-one ff-worksans ff-28 ff-28--scale-up ff-white">womens shoes</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="c_row">
                        <!-- Promo D -->
                        <div class="col-xs-24">
                            <a href="#" class="c_group__content">
                                <div class="c_image">
                                    <img class="c_hidden-xs" src="/assets/images/ss-medium.jpg" alt="alt for image">
                                    <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-medium.jpg" alt="alt for image">
                                    <div class="c_overlay c_text--center ">
                                        <div class="c_overlay__content c_centered-xs--middle">
                                            <div class="c_text c_text_image-link">
                                                    <span class="c_text-one ff-worksans ff-28 ff-28--scale-up ff-white">womens pants</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="c_row">
                        <!-- Promo C -->
                        <div class="col-xs-24">
                            <a href="#" class="c_group__content">
                                <div class="c_image">
                                    <img class="c_hidden-xs" src="/assets/images/ss-medium.jpg" alt="alt for image">
                                    <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-medium.jpg" alt="alt for image">
                                    <div class="c_overlay c_text--center">
                                        <div class="c_overlay__content c_centered-xs--middle">
                                            <div class="c_text c_text_image-link">
                                                    <span class="c_text-one ff-worksans ff-28 ff-28--scale-up ff-white">womens dresses</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                </div>
                            </a>
                    </div>
                    </div>
                    <div class="c_row">
                        <!-- Promo E -->
                        <div class="col-xs-24">
                            <a href="#" class="c_group__content">
                                <div class="c_image">
                                    <img class="c_hidden-xs" src="/assets/images/ss-medium.jpg" alt="alt for image">
                                    <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-medium.jpg" alt="alt for image">
                                    <div class="c_overlay c_text--center">
                                        <div class="c_overlay__content c_centered-xs--middle">
                                            <div class="c_text c_text_image-link">
                                                    <span class="c_text-one ff-worksans ff-28 ff-28--scale-up ff-white">womens tops</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                                </div>
                            </a>
                    </div>
                    </div>
                </div>
                </div>

            <!-- ********** FW - Two Col ********** -->
                <div class="c_group c_two-col no-gutters-vertical">
                <div class="c_header">
                    <h2>We are Modern. Southern. Style</h2>
                </div>
                <!-- Promo A -->
                <div class="col-sm-12">
                    <a href="#" class="c_group__content">
                            <div class="c_image">
                                <img class="c_hidden-xs" src="/assets/images/ss-dark-m.jpg" alt="alt for image">
                                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-dark-m.jpg" alt="alt for image">
                                <div class="c_overlay c_text--center">
                                    <div class="c_overlay__content c_centered-xs--middle">
                                        <div class="c_overlay__image"><img src="/assets/images/semp-sale.svg" alt="alt for image"/></div>
                                    </div>
                                </div>
                                <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                            </div>
                            <div class="c_lower__content c_text--center" style="">
                                <div class="c_text">
                                    <span class="c_text-one ff-chronicle_bold ff-18 ">Modern. Southern. Style</span>
                                    <span class="c_text-two ff-chalet_newyork ff-28 ">Our Story</span>
                                </div>
                                <div class="c_cta c_cta--button-white">Learn More
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Promo B -->
                    <div class="col-sm-12">
                        <a href="#" class="c_group__content">
                            <div class="c_image">
                                <img class="c_hidden-xs" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                                <div class="c_overlay c_text--center">
                                    <div class="c_overlay__content c_centered-xs--middle">
                                        <div class="c_overlay__image"><img src="/assets/images/semp-sale.svg" alt="alt for image"/></div>
                                    </div>
                                </div>
                                <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                            </div>
                            <div class="c_lower__content c_text--center" style="">
                                <div class="c_text">
                                    <span class="c_text-one ff-chronicle_bold ff-18 ">Modern. Southern. Style</span>
                                    <span class="c_text-two ff-chalet_newyork ff-28 ">Our Story</span>
                                </div>
                                <div class="c_cta c_cta--button-white">Learn More</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ********** FW - Two Col ********** -->
                <div class="c_group c_two-col">
                <div class="c_header">
                    <h2>We are Modern. Southern. Style</h2>
                </div>
                <!-- Promo A -->
                <div class="col-sm-12">
                    <a href="#" class="c_group__content">
                            <div class="c_image">
                                <img class="c_hidden-xs" src="/assets/images/ss-dark-m.jpg" alt="alt for image">
                                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-dark-m.jpg" alt="alt for image">
                                <div class="c_overlay c_text--center">
                                    <div class="c_overlay__content c_centered-xs--middle">
                                        <div class="c_overlay__image"><img src="/assets/images/semp-sale.svg" alt="alt for image"/></div>
                                    </div>
                                </div>
                
                            </div>
                            <div class="c_lower__content c_text--center" style="">
                                <div class="c_text">
                                    <span class="c_text-one ff-chronicle_bold ff-18 ">Modern. Southern. Style</span>
                                    <span class="c_text-two ff-chalet_newyork ff-28 ">Our Story</span>
                                </div>
                                <div class="c_cta c_cta--button-white">Learn More</div>
                            </div>
                        </a>
                    </div>
                    <!-- Promo B -->
                    <div class="col-sm-12">
                        <a href="#" class="c_group__content">
                            <div class="c_image">
                                <img class="c_hidden-xs" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                                <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                            </div>
                            <div class="c_lower__content">
                                <div class="c_lower__content__flex">
                                    <div class="c_lower__content__flex-start"></div>
                                    <div class="c_lower__content--left">
                                        <div class="c_lower__content__flex__inner">
                                            <img src="/assets/images/50-off.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="c_lower__content--right">
                                        <div class="c_lower__content__flex__inner">
                                            <span class="c_lower__content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo lorem</span>
                                        </div>
                                    </div>
                                    <div class="c_lower__content__flex-end"></div>
                                </div>
                                <div class="c_cta c_cta--button-white">Learn More</div>
                            </div>
                        </a>
                    </div>
                </div>

            <!-- ********** FW - Three Col ********** -->
            <div class="c_group c_three-col ng-scope">
                <div class="c_header">
                    <h2>We are Modern. Southern. Style</h2>
                </div>
            
            <div class="col-sm-8">
                <!-- Promo A -->
                    <a href="#" class="c_group__content" title="title for link">
                        <div class="c_image">
                            <img class="c_hidden-xs" src="/assets/images/ss-dark-m.jpg" alt="alt for image">
                            <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-dark-m.jpg" alt="alt for image">
                            <div class="c_overlay c_text--center">
                                <div class="c_overlay__content c_centered-xs--middle">
                                    <div class="c_overlay__image"><img src="/assets/images/semp-sale.svg" alt="alt for image"/></div>
                                </div>
                            </div>

                            <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                        </div>
                        <div class="c_lower__content c_text--center" style="">
                            <div class="c_text">
                                    <span class="c_text-one ff-chronicle_bold ff-18 ">Modern. Southern. Style</span>
                                    <span class="c_text-two ff-chalet_newyork ff-28 ">Our Story</span>
                                </div>
                            <div class="c_cta c_cta--default">Learn More</div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-8">
                    <a href="#" class="c_group__content" title="">
                        <div class="c_image">
                            <img class="c_hidden-xs" src="http://belk.scene7.com/is/image/Belk/fh-half?$DWP_PHOTO$" alt="Belk.com">
                            <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="http://belk.scene7.com/is/image/Belk/fh-half?$DWP_PHOTO$" alt="Belk.com">
                            
                            
                            
                            <div class="c_badge--bottom c_hidden-xs" style="background-color:#2B4386">
                                <span>super</span><span>buy</span>
                            </div>
                        
                        </div>
                    
                    
                        <div class="c_lower__content">
                            <div class="c_lower__content__flex">
                                <div class="c_lower__content__flex-start"></div>
                                <div class="c_lower__content--left">
                                    <div class="c_lower__content__flex__inner">
                                        
                                            <div class="c_lower__content__flex__inner__cell">
                                                <span class="c_lower__content__text c_lower__content__text-two ff-cantataone ff-28 ">
                                                Hello
                                                </span>
                                                <span class="c_lower__content__text c_lower__content__text-two ff-cantataone ff-28 ">
                                                World
                                                </span>
                                            </div>
                                        
                                    </div>
                                </div>
                                <div class="c_lower__content--right c_lower__content__text-last">
                                    <div class="c_lower__content__flex__inner">
                                        
                                            <div class="c_lower__content__flex__inner__cell">
                                                <span class="c_lower-content__text">
                                                Good copy goes here...
                                                </span>
                                            </div>
                                        
                                    </div>
                                </div>
                                <div class="c_lower__content__flex-end"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-8">
                    <a href="#" class="c_group__content" title="">
                        <div class="c_image">
                            <img class="c_hidden-xs" src="http://belk.scene7.com/is/image/Belk/fh-half?$DWP_PHOTO$" alt="Belk.com">
                            <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="http://belk.scene7.com/is/image/Belk/fh-half?$DWP_PHOTO$" alt="Belk.com">
                            
                            
                            
                            <div class="c_badge--bottom c_hidden-xs" style="background-color:#2B4386">
                                <span>super</span><span>buy</span>
                            </div>
                        
                        </div>
                    
                    
                        <div class="c_lower__content">
                            <div class="c_lower__content__flex">
                                <div class="c_lower__content__flex-start"></div>
                                <div class="c_lower__content--left">
                                    <table class="c_lower__content__flex__inner">
                                        <tr>
                                            <td class="c_lower__content__flex__inner__cell">
                                                <span class="c_lower__content__text c_lower__content__text-two ff-cantataone ff-28 ">
                                                Hello
                                                </span>
                                                <span class="c_lower__content__text c_lower__content__text-two ff-cantataone ff-28 ">
                                                World
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="c_lower__content--right c_lower__content__text-last">
                                    <table class="c_lower__content__flex__inner">
                                        <tr>
                                            <td class="c_lower__content__flex__inner__cell">
                                                <span class="c_lower-content__text">
                                                Good copy goes here...
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="c_lower__content__flex-end"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- ********** FW - Four Col ********** -->
            <div class="c_group c_four-col">
                <div class="c_header">
                    <h2>We are Modern. Southern. Style</h2>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <!-- Promo A -->
                    <a href="#" class="c_group__content">
                        <div class="c_image">
                            <img class="c_hidden-xs" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                            <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                            <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                        </div>
                        <div class="c_lower__content">
                                 <div class="c_lower__content__flex">
                                    <div class="c_lower__content__flex-start"></div>
                                    <div class="c_lower__content--left">
                                        <div class="c_lower__content__flex__inner">
                                            <img src="/assets/images/50-off.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="c_lower__content--right">
                                        <div class="c_lower__content__flex__inner">
                                            <span class="c_lower__content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo lorem</span>
                                        </div>
                                    </div>
                                    <div class="c_lower__content__flex-end"></div>
                                </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <!-- Promo B -->
                    <a href="#" class="c_group__content">
                        <div class="c_image">
                            <img class="c_hidden-xs" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                            <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                            <div class="c_overlay c_text--center">
                                <div class="c_overlay__content c_centered-xs--middle">
                                    <div class="c_text c_text_image-link">
                                            <span class="c_text-one ff-chalet_newyork ff-white">womens</span>
                                    </div>
                                </div>
                            </div>
                            <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <!-- Promo C -->
                    <a href="#" class="c_group__content" title="title for link">
                        <div class="c_image">
                            <img class="c_hidden-xs" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                            <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                            <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                        </div>
                        <div class="c_lower__content c_text--center" style="">
                            <div class="c_text">
                                    <span class="c_text-one ff-chronicle_bold ff-18 ">Modern. Southern. Style</span>
                                    <span class="c_text-two ff-chalet_nework ff-28 ">Our Story</span>
                                </div>
                            <div class="c_cta c_cta--button-white">Learn More</div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <!-- Promo D -->
                    <a href="#" class="c_group__content">
                        <div class="c_image">
                            <img class="c_hidden-xs" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                            <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-medium-m.jpg" alt="alt for image">
                            <div class="c_badge c_badge--bottom" style="background-color:#2B4386"><span>door</span><span>buster</span></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- ********** FW - Full Hero ********** -->
            <div class="c_group c_full-hero">
                <!-- Promo A -->
                <div class="col-md-24">
                    <div class="c_group__content">
                        <div class="c_image">
                            <!-- src:${image}, alt:${image alt text} -->
                            <img class="c_hidden-xs" src="/assets/images/fh-third.jpg" alt="alt for image">
                                <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/fh-third-m.jpg" alt="alt for image">
                            <!-- Top left -->
                            <div class="c_overlay c_text--left c_grid__default-xs c_grid_3-2-sm--right c_grid-3-2-sm--right--no-stretch ">
                                <!-- ${movable text} -->
                                <div class="c_overlay__content sm-centered-middle c_centered-xs--bottom ">
                                    <div class="c_overlay__image"><img src="/assets/images/semp-sale.svg" alt="alt for image"/></div>
                                    <div class="c_text">
                                            <!--span class="c_text-one">Up to 55% off</span-->
                                            <span class="c_text-two ff-chalet_newyork ff-28  ff-uppercase ff-white">over 190 bonusbuys instore &amp; online</span>
                                            <span class="c_text-three ff-chalet ff-14 ff-light ff-uppercase ff-white">ends tuesday 9/21</span>
                                    </div>
                                    <div class="c_cta c_cta--default-white c_hidden-xs">shop now</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c_lower__content">
                            <div class="c_lower__content__flex">
                                <div class="c_lower__content__flex-start"></div>
                                <div class="c_lower__content--left">
                                    <div class="c_lower__content__flex__inner">
                                        <!--<span class="c_lower__content__text c_lower__content__text_one">up to</span>-->
                                        <span class="c_lower__content__text c_lower__content__text_two">Introducing Crown & Ivy</span>
                                    </div>
                                </div>
                                <div class="c_lower__content--right c_lower__content__text_last">
                                    <div class="c_lower__content__flex__inner">
                                        <span class="c_lower__content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo lorem, mollis vel elit at, dapibus tempus nulla. Sed ut purus vitae metus iaculis maximus vel et ligula. Morbi justo lorem, mollis vel elit at, dapibus tempus nulla.</span>
                                    </div>
                                </div>
                                <div class="c_lower__content__flex-end"></div>
                            </div>
                        </div>
                </div>
            </div>
            <!-- ********** FW - Four Col ********** -->
            <div class="c_group">
                <!-- Promo A -->
                <div class="col-sm-6 col-xs-12">
                    <!-- href: ${url}, title: ${link title} -->
                    <a href="#" title="Insert anchor title">
                        <!-- src: ${image url}, title: ${alt text} -->
                        <img class="c_hidden-xs" src="/assets/images/ss-dark.jpg" alt="alt for image">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-dark.jpg" alt="alt for image">
                        <div class="c_overlay scale-up c_text--center">
                            <div class="c_overlay__content c_centered-xs--middle">
                                <span class="ff-uppercase ff-worksans--bold ff-17 ff-17--scale-up ff-white">Shop<br/>Dresses</span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Promo B -->
                <div class="col-sm-6 col-xs-12">
                    <!-- href: ${url}, title: ${link title} -->
                    <a href="#" title="Insert anchor title">
                        <!-- src: ${image url}, title: ${alt text} -->
                        <img class="c_hidden-xs" src="/assets/images/ss-dark.jpg" alt="alt for image">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-dark.jpg" alt="alt for image">
                        <div class="c_overlay scale-up c_text--center">
                            <div class="c_overlay__content centered c_centered-xs--middle">
                                <span class="ff-uppercase ff-worksans--bold ff-17 ff-17--scale-up ff-white">Shop<br/>Denim</span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Promo C -->
                <div class="col-sm-6 col-xs-12">
                    <!-- href: ${url}, title: ${link title} -->
                    <a href="#" title="Insert anchor title">
                        <!-- src: ${image url}, title: ${alt text} -->
                        <img class="c_hidden-xs" src="/assets/images/ss-dark.jpg" alt="alt for image">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-dark.jpg" alt="alt for image">
                        <div class="c_overlay scale-up c_text--center">
                            <div class="c_overlay__content c_centered-xs--middle">
                                <span class="ff-uppercase ff-worksans--bold ff-17 ff-17--scale-up ff-white">Shop<br/>Tops</span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Promo D -->
                <div class="col-sm-6 col-xs-12">
                    <!-- href: ${url}, title: ${link title} -->
                    <a href="#" title="Insert anchor title">
                        <!-- src: ${image url}, title: ${alt text} -->
                        <img class="c_hidden-xs" src="/assets/images/ss-dark.jpg" alt="alt for image">
                        <img class="c_hidden-sm c_hidden-md c_hidden-lg" src="/assets/images/ss-dark.jpg" alt="alt for image">
                        <div class="c_overlay scale-up c_text--center">
                            <div class="c_overlay__content c_centered-xs--middle">
                                <span class="ff-uppercase ff-worksans--bold ff-17 ff-17--scale-up ff-white">Shop<br/>Shorts</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- ********** Flex Content ********** -->
            <div class="c_group">
                <div class="col-xs-24">
                    <div class="c_flex">
                        <div class="c_flex--left">
                            <img src="http://placehold.it/85x121"/>
                        </div>
                        <div class="c_flex--right">
                            <div><strong>Do:</strong> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span></div>
                            <div>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                            </div>
                        </div>
                    </div>
                    <div class="c_flex">
                        <div class="c_flex--left">
                            <img src="http://placehold.it/85x121"/>
                        </div>
                        <div class="c_flex--right">
                            <div><strong>Don't:</strong> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span></div>
                            <div>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>